<apex:component controller="AccountApprovalEmailToOwner" access="global">
<apex:attribute name="regId" type="Id" description="Id of the Customer Registration" assignTo="{!custRegId}"/> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>Royal Canin - Updates to your Profile have been made</title>
    <style type="text/css">
        body{ text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; }
        table td{ border-collapse: collapse; }
        #outlook a{ padding: 0; }
        .ReadMsgBody{ width: 100%; }
        .ExternalClass{ width: 100%; }
        .ExternalClass { }
        img{ outline: none; text-decoration:none; -ms-interpolation-mode: bicubic; }
        a img{ border: none; }
        table[id="GmailAppFix"]{ display: none; }
        span[class="iOS-6"] a{ color: #666666; text-decoration: none;}
        @-ms-viewport{ width: extend-to-zoom; zoom: 1.0; }
        .variable{ color: #F0C; }
        @media only screen and (max-device-width: 500px), only screen and (max-width: 500px){
        /*OOCSS*/
        body[class="bg"], div[class="bg"], td[id="fullWrap"]{ background-color: #ffffff !important;}
        table[class="width-hundred"]{ width: 100%; }
        table[class="width-ninety"]{ width: 90%; }
        img[class="img100"]{ height: auto; width: 100% !important; }
        img[class="img80"]{ height: auto; width: 80% !important; }
        table[class="hide"], td[class="hide"]{ display: none; }
        td[class="stack"], span[class="stack"]{ display: block; width: 100%; }
        td[id="fullWrap"]{ padding-top: 0px !important; }
        /*LOGO*/

        /*-- FONT SIZE --*/
        tr[class="fontSize-12"] td{ font-size: 12px !important; line-height: 16px !important;}
        tr[class="fontSize-14"] td{ font-size: 14px !important; line-height: 18px !important;}
        tr[class="fontSize-15"] td{ font-size: 15px !important; line-height: 19px !important;}
        tr[class="fontSize-17"] td, a[class="fontSize-17"]{ font-size: 17px !important; line-height: 21px !important;}
        tr[class="fontSize-22"] td, a[class="fontSize-22"]{ font-size: 22px !important; line-height: 22px !important;}
        tr[class="fontSize-32"] td{ font-size: 32px !important; line-height: 32px !important;}
        }
    </style>

</head>
<body class="bg" style="background-color: #ebebec; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; width: 100%;">
    <div class="bg" style="background-color: #ebebec; height: 100%; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; width: 100%;">
<apex:outputText value="{!registrationInfo}" />
    <!-- FULL WRAP -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="height: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%;">
    <tr>
    <td align="center" bgcolor="#ebebec" valign="top" id="fullWrap" style="padding-top: 14px; padding-bottom: 600px;">

    <!-- EMAIL WIDTH -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" class="width-hundred">
    <tr>
    <td bgcolor="#ffffff">
        <!-- HEADER -->
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" class="width-hundred" style="position: relative;">
        <tr>
        <td height="75" valign="top" width="197" class="logo">
            <a alias="RCLogoTopNavigation"  href="http://my.royalcanin.com/" target="_blank" title="Go to RoyalCanin.com" style="color:#E02326; text-decoration: none;">
              <img  src="http://image.email.royalcanin.us/lib/fe5f1570726c01747415/m/1/RCLogoV2.jpg" alt="Royal Canin" border="0"  style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; line-height: 75px; padding:10px; text-align: center; text-transform: uppercase;" />
            </a>       
            <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#E2001A">
                <tr>
                    <td align="left" style="padding:5px 20px 5px 20px;">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="nav">                        
                        <tr><td></td></tr>
                    </table>
                    </td>
                </tr>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="560" class="width-ninety">
                <tr class="fontSize-14">
                <td align="left" valign="top" width="348" class="stack" style="color: #666666; font-family:Arial, Helvetica, sans-serif; font-size: 12px; letter-spacing: 0px; mso-line-height-rule: exactly; line-height: 15px; padding-top: 0px;">
                    <br /><br />
                    <apex:outputPanel rendered="{!customerRegistractionObj.recordtype.name == 'Cat Breeder'}">
                        Dear Jamie christian, <br /><br />
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!customerRegistractionObj.recordtype.name == 'Shelter'}">
                        Dear Courtney Parsons, <br /><br />
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!customerRegistractionObj.recordtype.name == 'Working Dog Professional'}">
                        Dear Brian Bonsall, <br /><br />
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!customerRegistractionObj.recordtype.name != 'Working Dog Professional' && customerRegistractionObj.recordtype.name != 'Shelter' && customerRegistractionObj.recordtype.name != 'Cat Breeder'}">
                        Dear {!dearName}, <br /><br />
                    </apex:outputPanel>
                    This application in your territory has been processed on: <b><apex:outputField value="{!customerRegistractionObj.Processed_Rejected_Date__c}" /> </b>. <br /><br />
                    <b> Link To Application :</b><apex:outputlink value="{!LEFT($Api.Partner_Server_URL_140,FIND('.com',$Api.Partner_Server_URL_140)+4)+customerRegistractionObj.Id}">{!customerRegistractionObj.Name}</apex:outputlink><br /><br />
                    <b> Account Name: </b>{!customerRegistractionObj.Name_of_Business_Organization__c}<br /><br />
                    <b> Billing Contact Name: </b>{!customerRegistractionObj.First_Name__c} {!customerRegistractionObj.Last_Name__c} <br /><br />
                    <b> Shipping Address</b> <br />
                    <b> Address 1: </b>{!customerRegistractionObj.Shipping_Street_Address1__c}<br />
                    <b> Address 2: </b>{!customerRegistractionObj.Shipping_Street_Address2__c}<br />
                    <b> City     : </b>{!customerRegistractionObj.Shipping_City__c}<br />
                    <b> State    : </b>{!customerRegistractionObj.Ship_To_State__c}<br />
                    <b> Zipcode  : </b>{!customerRegistractionObj.Shipping_Zip_Code__c}<br /><br />
                    Thank you,<br />
                    Royal Canin USA
                </td>
                </tr>
            </table>
            <!-- HR GRADIENT -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="530" class="width-hundred">
                <tr>
                <td align="left" height="10" style="line-height: 10px; padding-top: 35px; padding-bottom:18px;">
                    <img src="http://image.exct.net/lib/fe541570726c0d797c11/m/1/hr-gradient.jpg" alt="" height="10" width="530" border="0" class="img100" style="display: block;" />
                </td>
                </tr>
            </table>        
            <!-- Footer -->
            <table cellpadding="0" cellspacing="0" border="0" width="100%" class="footer">
                <tr>
                    <td align="center" style="padding:0px;" class="mobilePadding4">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">                 
                            <tr>
                            <td align="center" valign="top" style="font-family:Arial, Helvetica, sans serif; font-size:12px; color: #666666; line-height:15px;" class="legalfooter">
                            
                                        <br/>This is a communication from Royal Canin USA.
                                        <br/><span class="iOS-6">500 Fountain Lakes Boulevard, Suite 100 St. Charles, MO, 63301</span>
                                        <br/>Customer Care: 888-213-4486 | <a alias="ContactUsFooter" href="mailto:order.usa@royalcanin.com" target="_blank" style="color: #666666; text-decoration: underline;"><span style="color: #666666;">Email Us</span></a>
                                        <br/><a>&copy; ROYAL CANIN SAS 2015. All Rights Reserved. <span style="text-decoration:underline; color:#ffffff"/></a>
                                <br/><a alias="PrivacyFooter" href="http://www.royalcanin.us/privacy-policy" target="_blank" title="Privacy Policy" style="color: #666666; text-decoration: underline;"><span style="color: #666666;">Privacy Policy</span></a> | <a alias="LegalFooter" href="http://www.royalcanin.us/copyright-legal" target="_blank" title="Legal" style="color: #666666; text-decoration: underline;"><span style="color: #666666;">Legal</span></a>
                            </td>
                            </tr>
                        </table>
                        <br></br>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td align="center" style="font-size: 0px; padding-bottom: 30px;"><a alias="RCLogoFooter" href="http://my.royalcanin.com/" target="_blank" title="Royal Canin" style="color: #e42117; font-family: 'Arial Black', Arial, Helvetica; font-size: 16px;"><img src="http://image.exct.net/lib/fe541570726c0d797c11/m/1/logo-rcFooter.gif" alt="Royal Canin&reg;" border="0" height="33" width="122" style="display: inline-block;" /></a></td>
                </tr>
            </table>                            
            <!--end Footer -->
            <!-- END CONTINUED EMAIL WIDTH -->
            <!-- 2 BARS (needs to be included in order for Gmail App(Android) to fit email to screen) -->
            
        </td>
        </tr>
        </table>
    </td>
    </tr>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="580" id="GmailAppFix">
                <tr>
                <td height="2" width="290" style="line-height: 2px;">
                    <img  src="http://image.exct.net/lib/fe541570726c0d797c11/m/1/block.gif" alt="" border="0" height="2" width="290" style="display: block;" />
                </td>
                <td height="2" width="290" style="line-height: 2px;">
                    <img src="http://image.exct.net/lib/fe541570726c0d797c11/m/1/block.gif" alt="" border="0" height="2" width="290" style="display: block;" />
                </td>
                </tr>
            </table>
    </td>
        </tr>
        </table>
</div>
<custom name="opencounter" type="tracking"/>
</body>
</apex:component>