.THIS .qtyDiv{
    float:left;
    width:50%;
}
.THIS .btnAddCartDiv{
    float:left;
    width:50%;
}
.THIS .Iconwidth{
    width : 0.99rem !important
}
.THIS a {
    /* color: #89ba2c;*/
    text-decoration: none;
}
.THIS .cd-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-left:73%;
    visibility: visible;
    -webkit-transition: visibility 0s 0.6s;
    -moz-transition: visibility 0s 0.6s;
    transition: visibility 0s 0.6s;
}
.THIS .cd-panel::after {
    /* overlay layer */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s;
}
.THIS .cd-panel .is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}
.THIS .cd-panel .is-visible::after {
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: background 0.3s 0s;
    -moz-transition: background 0.3s 0s;
    transition: background 0.3s 0s;
}
.THIS .cd-panel .is-visible .cd-panel-close::before {
    -webkit-animation: cd-close-1 0.6s 0.3s;
    -moz-animation: cd-close-1 0.6s 0.3s;
    animation: cd-close-1 0.6s 0.3s;
}
.THIS .cd-panel .is-visible .cd-panel-close::after {
    -webkit-animation: cd-close-2 0.6s 0.3s;
    -moz-animation: cd-close-2 0.6s 0.3s;
    animation: cd-close-2 0.6s 0.3s;
}

.THIS .cd-panel-header {
    position: fixed;
    width: 90%;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.96);
    z-index: 2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: top 0.3s 0s;
    -moz-transition: top 0.3s 0s;
    transition: top 0.3s 0s;
}

.THIS .cd-panel-header h1 {
    font-weight: bold;
    color: #89ba2c;
    padding-left: 5%;
}

.THIS .from-right .cd-panel-header,.THIS .from-left .cd-panel-header {
    top: -50px;
}

.THIS .from-right .cd-panel-header {
    right: 0 !important;
}

.THIS .from-left .cd-panel-header {
    left: 0;
}

.THIS .is-visible .cd-panel-header {
    top: 0;
    -webkit-transition: top 0.3s 0.3s;
    -moz-transition: top 0.3s 0.3s;
    transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
    .THIS .cd-panel-header {
        width: 70%;
    }
}

@media only screen and (min-width: 1170px) {
    .THIS .cd-panel-header {
        width: 30%;
    }
}

.THIS .cd-panel-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    /* image replacement */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.THIS .cd-panel-close::before, .THIS .cd-panel-close::after {
    /* close icon created in CSS */
    position: absolute;
    top: 22px;
    left: 20px;
    height: 3px;
    width: 20px;
    background-color: #424f5c;
    /* this fixes a bug where pseudo elements are slighty off position */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.THIS .cd-panel-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.THIS .cd-panel-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.THIS .cd-panel-container {
    position: fixed;
    width: 90%;
    height: 100%;
    top: 0;
    background: #dbe2e9;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.THIS .from-right .cd-panel-container {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.THIS .from-left .cd-panel-container {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.THIS .is-visible .cd-panel-container {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
@media only screen and (max-width:800px) {
	.THIS .qtyDiv, .THIS .btnAddCartDiv{
        width:100%;
    }
}

@media only screen and (min-width: 768px) {
    .THIS .cd-panel-container {
        width: 70%;
    }    
}
@media only screen and (min-width: 1170px) {
    .THIS .cd-panel-container {
        width: 30%;
    }
}

.THIS .cd-panel-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 5%;
    overflow: auto;
    /* smooth scrolling on touch devices */
    -webkit-overflow-scrolling: touch;
}
.THIS .cd-panel-content p {
    /*font-size: 14px;
    font-size: 0.875rem;*/
    color: #424f5c;
    line-height: 1.4;
    margin: 2em 0;
}

.THIS .cd-panel-content p:first-of-type {
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    .THIS .cd-panel-content p {
        /*font-size: 16px;
        font-size: 1rem;*/
        line-height: 1.6;
    }
}

@media only screen and (max-width: 800px) and (min-width: 415px) {
    /*.THIS .SearchtCss, .THIS .ASearchtCss {
        display:none !important;
    } */ 
    .THIS .srcTxtCss{
    	width:50%  !important;
    }
    .THIS .bdyProdTiles{
        width:99%  !important;
    }
}
@media only screen and (max-width: 414px) {
    .THIS .hdrsrchdivcss{
        min-width: 60% !important;
    }
    .THIS .ttlItmCrtCss{
       width:60%  !important; 
    }
    .THIS .srcTxtCss{
    	width:50%  !important;
        padding-left: 5px !important;
    }
    .THIS .srcBtnCss, .THIS .asrcBtnCss{
        width:35px !important;
    }
    .THIS .srchLblcss, .THIS .asrchLblcss{
        display: none !important;
    }
    .THIS .bdyProdTiles{
        width:99%  !important;
    }
	.THIS .lftPnl{
    	width:45%  !important;
    }  
    .THIS .rghPnl{
    	width:55%  !important;
    }     
}