.THIS .contentPanel:before,
.THIS .contentPanel:after {
    content: " ";
    display: table;
}
.THIS .contentPanel:after {
    clear: both;
}
.THIS .panelItem{
    border: 1px solid t(colorBorder) !important;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
    margin: 6px;
}
.THIS .left {
    float: left;
    width: 75%;
}
.THIS .right {
    float: right;
    width: 25%;
}
.THIS .fullRow{
    width: 100%;
}

@media only screen and (max-width: 414px) {
	.THIS .mediaTiles, .THIS .mediaDashboard1, .THIS .mediaDashboard2, .THIS .mediaChatter, .THIS .mediaRecentlyViewed{
        width:98%  !important;
    }
}
@media only screen and (max-width: 800px) and (min-width: 415px) {    
    .THIS .mediaTiles, .THIS .mediaDashboard1, .THIS .mediaDashboard2, .THIS .mediaChatter, .THIS .mediaRecentlyViewed{
        width:98%  !important;
    }
}