<apex:page showHeader="false" standardController="Account" lightningStylesheets="true"> 
    <!-- 
filter="[{column:'gii__ProductInventory__c.gii__Warehouse__c.Name', operator:'equals', value:'MILNE-DINSDALE SEED LLC|10418572|2017'}]" 
reportId=00O26000000MQLH 
developerName=giic_Ordered_vs_Delivered_by_Unit
https://---c.cs81.visual.force.com/apex/AnalyticsReportChart?developerName=giic_Ordered_vs_Delivered_by_Unit&column=gii__ProductInventory__c.gii__Warehouse__c.Name&value=MILNE-DINSDALE+SEED+LLC%7C10418572%7C2017
{!$CurrentPage.parameters.developerName}
-->
    <script type="text/javascript">
    function refreshURL(){
        window.location.replace(window.location); 
        //return false;       
    }
    </script>
    <div>  
            <a onclick="return refreshURL();">
                <analytics:reportChart developerName="OMS_Sales_Return_Chart" showRefreshButton="true"  
                                       filter="[{column:'Account.Id', operator:'equals', value:'{!Account.Id}'}]" 
                                       >
                </analytics:reportChart>
            </a>
    </div>
    <!--style>
.asOfDate{
display:none;
}
</style-->
</apex:page>