<apex:page docType="html-5.0" showHeader="true" sidebar="false"  applyBodyTag="false" Controller="giic_LoyaltyManagementCommunityCtlr" action="{!getValidateRequest}" >
<apex:form rendered="{!BoolError}">
    
        <apex:Messages />

            
    
</apex:form>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Loyalty Management</title>

        
    <!-- Bootstrap -->
    
    <apex:stylesheet value="{!URLFOR($Resource.giic_LoyaltyCSS, 'css/bootstrap.min.css')}"  />
    <!-- Font Awesome -->
   <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--<apex:stylesheet value="/Fedex/resource/1493026757000/Font_Awesome" />-->

    <!-- Custom Theme Style -->
    <apex:stylesheet value="{!URLFOR($Resource.giic_LoyaltyCSS, 'css/custom.min.css')}"  />
    <apex:stylesheet value="{!URLFOR($Resource.giic_LoyaltyCSS, 'css/style.css')}"   />
    
    
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">


       

        <!-- page content -->
          
        <div class="right_col" role="main">
       

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel nobg">
              <div class="profile_pic">
              <apex:image url="{!URLFOR($Resource.giic_LoyaltyImage, 'images/img.jpg')}" styleClass="img-circle profile_img" />
                <!--<img src="images/img.jpg" alt="..." class="img-circle profile_img"/>-->
              </div>
              <div class="profile_info">
                <p><apex:outputText value="{!actName}" /></p>
                <h2>Membership Id:</h2>
                <span><h2><apex:outputText value="{!strMemberShipId}" />,</h2> <br/> <i>Member since {!strMembershipYear}</i></span>
              </div>
              </div>
            </div>

          </div>
          <br />

          <div class="row">


            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Points</h2>              
                  <div class="clearfix"></div>
                </div>
                <div class="numCounter" >                 
                    <div id="numcount">
                    <span class="count">
                    <apex:repeat value="{!TotalCurrentPoint}" var="v" >
                                <b><apex:outputText value="{!v}" /></b>
                                
                    </apex:repeat>
                        
                    </span>
                    </div>            
                  </div>
                <div class="pointtext">
                    <p><b>300</b> last month points</p>
                </div>              
              </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2>Level</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <apex:outputpanel rendered="{!IF(strMemberShipDetails=='Gold',true,false)}">
                <div class="leveltext">
                
                    <span class="silver"></span>
                    <span class="gold selected"></span>
                    <span class="platinium"></span>
                     <span class="diamond"></span>
                <p> <apex:outputText value="{!strMemberShipDetails}" /> </p>
                </div>
                </apex:outputpanel>
                
                <apex:outputpanel rendered="{!IF(strMemberShipDetails=='Silver',true,false)}">
                <div class="leveltext">
                
                    <span class="silver selected"></span>
                    <span class="gold"></span>
                    <span class="platinium"></span>
                     <span class="diamond"></span>
                <p> <apex:outputText value="{!strMemberShipDetails}" /> </p>
                </div>
                </apex:outputpanel>
                
                <apex:outputpanel rendered="{!IF(strMemberShipDetails=='Platinium',true,false)}">
                <div class="leveltext">
                
                    <span class="silver selected"></span>
                    <span class="gold"></span>
                    <span class="platinium selected"></span>
                     <span class="diamond"></span>
                <p> <apex:outputText value="{!strMemberShipDetails}" /> </p>
                </div>
                </apex:outputpanel>
                <apex:outputpanel rendered="{!IF(strMemberShipDetails=='Diamond',true,false)}">
                <div class="leveltext">
                
                    <span class="silver selected"></span>
                    <span class="gold"></span>
                    <span class="platinium"></span>
                     <span class="diamond selected"></span>
                <p> <apex:outputText value="{!strMemberShipDetails}" /> </p>
                </div>
                </apex:outputpanel>
              </div>
            </div>


            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Total Lifetime Points</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="lifetimecont">
                <p class="asdsa">{!TotallifetimePoint}</p>
                    <div class="lifetime">
                    <div class="progress-bar platinum" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">  
                            <ul>
                                <li class="sli"></li>
                                <li class="gol"></li>
                                <li class="pal"></li>                                                                
                            </ul>                  
                    </div>
                  </div>
                    <p>{!strNextLevelMemberShipPoints} points to {!strNextLevelMemberShipDetails}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Money Card Balance</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="numCounter counter" >                 
                    <div id="numcount">
                    <div class="usdsign">$</div>
                        <span class="count">
                              <apex:repeat value="{!TotalRewardPointBalance}" var="v" >
                                <b><apex:outputText value="{!v}" /></b>
                                
                              </apex:repeat>
                        </span>
                    </div>                      
                  </div>
              </div>
            </div>

          </div>


         



              <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel scrollforsamll">
                    <div class="x_title">
                      <h2 style="text-align:left;">My Orders</h2>
                      
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="dashboard-widget-content">
                        <div class="col-md-12">
                         
                          <table class="countries_list">
                            <tbody>
                            <tr>
                                
                                <th>Product Name</th>
                                <th>Payment Amount</th>
                                <th>Point Earned</th>
                                
                                <th>Promotion</th>
                                
                              </tr>
                              <apex:repeat value="{!lstSOPaymentWrapper}" var="v" >
                                
                              <tr>
                                
                                <td><apex:outputText value="{!v.strProductName}" /> </td>
                                <td><apex:outputText value="{!v.strPaymentAmount}" /></td>
                                <td><apex:outputText value="{!v.strPointEarned}" /></td>
                                
                                <td><apex:outputText value="{!v.strRewardPointNumber}" /></td>
                              </tr>
                              </apex:repeat>
                              
                              
                            </tbody>
                          </table>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>

              </div>
             


               
                
              
              </div>
           
        </div>
        <!-- /page content -->


      </div>
    <!--</div>-->

    <!-- jQuery -->
    <script type='text/javascript' src='{!URLFOR($Resource.giic_LoyaltyJS, "js/jquery.min.js")}'/>
    <script type='text/javascript' src='{!URLFOR($Resource.giic_LoyaltyJS, "js/bootstrap.min.js")}'/>
    <script type='text/javascript' src='{!URLFOR($Resource.giic_LoyaltyJS, "js/custom.js")}'/>
    <script type='text/javascript' src='{!URLFOR($Resource.giic_LoyaltyJS, "js/index.js")}'/>

    
  </body>
</html>

</apex:page>