<apex:page standardController="gii__SalesOrderStaging__c" tabStyle="gii__SalesOrderStaging__c" extensions="giic_ReValidateAddressController" action="{!onLoad}" lightningStylesheets="true">
    <apex:slds />
    <apex:form >
        <apex:outputPanel id="main">
            <apex:pageBlock title="Order Validation">
                <apex:pageMessages ></apex:pageMessages> 
                <apex:sectionHeader title="suggested Address" rendered=""/>
                <apex:outputPanel id="suggestedAddress" title="Suggested Address"  rendered="{!isError}">                 
                    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                        <thead>
                            <tr class="slds-text-title_caps">                         
                                <th scope="col">
                                    <div class="slds-truncate" title="Street">Street</div>
                                </th>
                                <th scope="col">
                                    <div class="slds-truncate" title="City">City</div>
                                </th>
                                <th scope="col">
                                    <div class="slds-truncate" title="Postal Code">Postal Code</div>
                                </th>
                                <th scope="col">
                                    <div class="slds-truncate" title="Country Code">Country Code</div>
                                </th>
                                <th scope="col">
                                    <div class="slds-truncate" title="Address Type">Address Type</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                         
                                <td data-label="Account Name">
                                    <div class="slds-truncate" title="Street">{!objSOS.giic_ShipToStreet__c}</div>
                                </td>
                                <td data-label="Close Date">
                                    <div class="slds-truncate" title="City">{!objSOS.giic_ShipToCity__c }</div>
                                </td>
                                <td data-label="Prospecting">
                                    <div class="slds-truncate" title="Postal Code">{!objSOS.giic_ShipToZipPostalCode__c }</div>
                                </td>
                                <td data-label="Confidence">
                                    <div class="slds-truncate" title="Country Code">{!objSOS.giic_ShipToCountry__c }</div>
                                </td> 
                                <td data-label="Confidence">
                                    <div class="slds-truncate" title="Country Code">{!objSOS.giic_AddressType__c }</div>
                                </td> 
                            </tr> 
                        </tbody>
                    </table>
                    <br/>                                               
                </apex:outputPanel>
                <center>
                    <apex:commandButton styleClass="slds-button slds-button_brand" value="Apply Suggested Address" action="{!applySuggestedAddress}" rendered="{!isError && objSOS.giic_ShipToStreet__c != ''}"/>
                    <apex:commandButton styleClass="slds-button slds-button_brand" value="Back" action="{!goBack}"/> 
                </center>             
                <!--apex:pageBlockButtons location="top" rendered="{!!isError}">
<apex:commandButton styleClass="slds-button slds-button_brand" value="Back" action="{!goBack}"/>                               
</apex:pageBlockButtons-->
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:form>
</apex:page>