<apex:page standardController="Account" tabStyle="Account" recordSetVar="acc"  extensions="giic_ValidateAccAddressBatchController" lightningStylesheets="true">
    
   
    <!-- Here is the css styles that will be used for the progress bars -->
    <style>
        .progressBar{      
            border:1px solid #DDDDDD;
            height: 19px;
            width: 300px;
            -moz-border-radius: 5px; 
            -webkit-border-radius: 5px;
        }
        .progress{            
            border:1px solid #E78F08;
            height: 100%;
            margin: -1px;
            text-align: center;
            -moz-border-radius: 5px; 
            -webkit-border-radius: 5px;
            line-height: 18px;
        }
        .BadStatus{
            border:1px solid #FF55FF;
            background-color: #CC0000;
            color: white;
    
        }
    </style>
    <!--  
        progressBar{background-color: #f8f8f8;}
        progress{background-color: #F7B64B;}
     -->
    <apex:form >
    <!-- This action poller will check the status of the batch jobs every 5 seconds -->
    <apex:actionPoller rerender="jobs" action="{!findBatchJobs}" interval="5"/>
    
    <apex:outputPanel id="jobs">
        <apex:pageMessages ></apex:pageMessages>
        <apex:pageBlock title="Shipping Address Validation">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Validate" action="{!executeAddressValidation}" />
                <apex:commandButton value="Back" action="{!goBack}"/>
            </apex:pageBlockButtons>        
            <apex:pageBlockTable value="{!batchJobs}" var="b" >
                <apex:column headerValue="Apex Class" value="{!b.job.ApexClass.Name}"/>
                <apex:column headerValue="Job Processed" value="{!b.job.JobItemsProcessed}"/>
                <apex:column headerValue="Job Items" value="{!b.job.TotalJobItems}"/>
                <apex:column headerValue="Status" value="{!b.job.Status}"/>
                <apex:column width="320px">    
                    <!-- Here with have two divs that construct our progresses bar. An outter which is the entire bar,
                    and and inner that represents the percent complete. We simply pass the percentComplete value to
                    the inner div width and this will show how far along the job is. Brilliant! -->        
                    <div class="progressBar" style="background-color: {!CASE(b.job.Status,'Aborted','#551A8B','Completed','#f8f8f8','Failed','#9E0508','#f8f8f8')};">
                        <div class="progress" style="width: {!b.percentComplete}%; background-color: {!CASE(b.job.Status,'Aborted','#B23AEE','Completed','#20F472','Failed','#FFB6C1','#F7B64B')}; color: {!CASE(b.job.Status,'Aborted','white','Failed','white','black')}">
                            {!b.percentComplete}%
                        </div>
                    </div>    
                </apex:column>
                <apex:column value="{!b.job.CompletedDate}"/>
                <apex:column value="{!b.job.ExtendedStatus}" styleClass="{!IF(ISBLANK(b.job.ExtendedStatus),'','BadStatus')}"/>
                <apex:column value="{!b.job.NumberOfErrors}"/>
            </apex:pageBlockTable>        
        </apex:pageBlock>
    </apex:outputPanel>
    </apex:form>
    
    
</apex:page>