<apex:page standardstylesheets="false" sidebar="false"  >
    <apex:stylesheet value="{!URLFOR($Resource.giic_LoyaltySLDS080, '/styles/salesforce-lightning-design-system.min.css')}"/>
    <apex:form id="form1">
        <script>
        function OnClickOfTab(obj)
        {
            try{
                for(i=1;i<3;i++)
                {
                    var temp = "tab-scoped-"+i;
                    var temp2 = "tab-scoped-"+i+"__tab";
                    if(i==obj)
                    {
                        document.getElementById(temp2).className = "slds-tabs--scoped__item slds-active";
                        document.getElementById(temp).className = "slds-tabs--scoped__content slds-show";
                    }
                    else
                    {
                        document.getElementById(temp2).classList.remove("slds-active");
                        document.getElementById(temp).className = "slds-tabs--scoped__content slds-hide";
                    }
                }
            }
            catch(ex)
            {alert(ex);
            }
        }
        </script>
        
        <div class="slds-tabs--scoped">
            <ul class="slds-tabs--scoped__nav" role="tablist">
                <li class="slds-tabs--scoped__item slds-active" title="Item One" role="presentation" id="tab-scoped-1__tab">
                    <a class="slds-tabs--scoped__link" href="javascript:OnClickOfTab('1');" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-scoped-1" id="tab-scoped-1__item">Generate RewardPoint</a>
                </li>
                <li class="slds-tabs--scoped__item" title="Item Two" role="presentation" id="tab-scoped-2__tab">
                    <a class="slds-tabs--scoped__link" href="javascript:OnClickOfTab('2');" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-scoped-2" id="tab-scoped-2__item">Recalculate Membership</a>
                </li>
            </ul>
            <div id="tab-scoped-1" class="slds-tabs--scoped__content slds-show" role="tabpanel" aria-labelledby="tab-scoped-1__item">
                <apex:iframe src="../apex/giic_GenerateRewardPoints"></apex:iframe>
            </div>
            <div id="tab-scoped-2" class="slds-tabs--scoped__content slds-hide" role="tabpanel" aria-labelledby="tab-scoped-2__item">
                
                <apex:iframe src="../apex/giic_RecalculateMembership"></apex:iframe>
                
            </div>
        </div>
    </apex:form>
</apex:page>