<apex:page standardStyleSheets="false" controller="TermsAndConditionsController" docType="html-5.0" showHeader="false" sidebar="false">
	<apex:stylesheet value="{!URLFOR($Resource.RC_Resources, 'base.css')}"/>
    <style>
      iframe { height: 500px;}
      .btn{padding:2px; display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}.btn.active:focus,.btn:active:focus,.btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn:focus,.btn:hover{color:#333;text-decoration:none}.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{pointer-events:none;cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}.btn-default{color:#333;background-color:#fff;border-color:#ccc}.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:hover,.open .dropdown-toggle.btn-default{color:#333;background-color:#ebebeb;border-color:#adadad}.btn-default.active,.btn-default:active,.open .dropdown-toggle.btn-default{background-image:none}.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333}.btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd}.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#3276b1;border-color:#285e8e}.btn-primary.active,.btn-primary:active,.open .dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:#428bca;border-color:#357ebd}.btn-primary .badge{color:#428bca;background-color:#fff}.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover,.open .dropdown-toggle.btn-success{color:#fff;background-color:#47a447;border-color:#398439}.btn-success.active,.btn-success:active,.open .dropdown-toggle.btn-success{background-image:none}.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:#5cb85c;border-color:#4cae4c}.btn-success .badge{color:#5cb85c;background-color:#fff}.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}
   
       .btn-default,.btn-default.disabled{color:#fff;background-color:#e2001a;border-color:#ccc}.btn-default.disabled:hover{color:#e2001a;background-color:#fff;border-color:#ccc}.btn-gray{color:#fff;background-color:silver;border-color:#ccc}.btn-gray:hover{border-color:#ddd}
     table td select {  font: normal normal normal 13.3333330154419px/normal Arial;
  color: #58585b;}
  .btn-hide {visibility:hidden}
    </style>
    <head>
        <title>Terms and Conditions</title>
    </head>
    <header id="header" role="masthead" class="use-fastclick sign-in cms-rearrangeable">
        <div class="head-row">
            <div class="row logo-row small-12 columns">
                <div class="clearfix">
                    <div class="header-zone lft">
                        <div class="widget-richcontent ">
                            <div class="logo-container">
                                <img alt="" src="{!URLFOR($Resource.RC_Resources, '/UserFiles/logo-web.png')} " style="width: 200px; height: 56px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-lock"></div>
    </header>
    <div class="container">
        <div role="main">
        	<apex:outputText id="con" value="{!content}" escape="False"></apex:outputText>
        </div>
    </div>
    <footer class="cms-rearrangeable" id="footer">
        <div class="row f1-wrap">
            <div class="medium-12 large-12 columns"></div>
        </div>
    </footer>
</apex:page>