.THIS .tilesCSS{
    border:1px solid t(colorBorder) !important;
    height: 100%;
    display: inline-block;    
    margin-right: 10px;
    vertical-align: top;
    max-height: 146px; /*138px;*/
    min-height: 146px; /*138px;*/
    float:left;
    width:20%;
    cursor:pointer;
    margin: 2%;
}
.THIS .wrapper {
    display: table;    
    height: auto;
    width: 100%;
}
.THIS .wrapper2 {
    height: 100%;
    display: table-row
}

@media only screen and (max-width: 414px) {	
    /*.THIS .itemTitle {
    	display: none !important;
    } */   
    .THIS .tilesCSS{
        /*max-height: 78px !important;
    	min-height: 78px !important;*/
    	width: 29% !important;
    }
    
}
@media only screen and (max-width: 800px) and (min-width: 415px) {    
    /*
    .THIS .itemTitle {
    	display: none !important;
    }
    
    .THIS .tilesCSS{
        max-height: 78px !important;
    	min-height: 78px !important;
    }
    */
}