.THIS .spinnerHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS .slds-th__action_form span {
  display: none;
} 
.THIS .slds-th__action_form:after {
  content: ''; 
}