.THIS {
}
.THIS table {
    table-layout: fixed;
    width: 100%;
}

.THIS table td {
    word-wrap: break-word;         
  
}
.THIS table th {
    word-wrap: break-word;
    white-space: normal;
    
}

.THIS .rightAlign{
    text-align:right;
}