.THIS .slds-global-header{background: #d5d4c0 !important;}
.THIS #FavProducts{background: #d5d4c0 !important;}
.THIS #TopProducts{background: #d5d4c0 !important;}
.THIS .slds-form-element__label { color : t(colorTextButtonBrand) !important; }
.THIS #shiptoHeader{background: #d5d4c0 !important;color : t(colorTextDefault) !important;}
.THIS .slds-icon-text-default {
   fill:  t(colorTextLink) !important; 
}