.THIS .PaymentDiv{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 8px;
}
.THIS .qtyInput{
    padding: 0;
    width: 85px;
}
.THIS .slds-cell-shrink{
    width : 3%;
}
.THIS .disabledInput{
    background-color: #e9eaec;
    border-color: #a8b7c7;
    cursor: not-allowed;
}
@media only screen and (max-width: 414px) {
	.THIS .pymntDtlPartA, .THIS .pymntDtlPartB{
        width: 100% !important;
    }
}