.THIS .tilesCSS{
    border:1px solid t(colorBorder) !important;
    height: 100%;
    display: inline-block;    
    margin-right: 10px;
    vertical-align: top;
    max-height: 146px; /*138px;*/
    min-height: 146px; /*138px;*/
    float:left;
    
    cursor:pointer;
    margin: 2%;
}