.THIS .selected{
    border: 1px black solid;
}
.THIS .spinnerHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS .toastMessage.forceActionsText{
     white-space : pre-line !important;
}