<apex:page standardController="gii__ServiceTicketLine__c" extensions="gii.AddActualServicesExtCon" id="AddActualServicesPage" setup="false"
           sidebar="false" tabStyle="gii__ServiceTicket__c" action="{!pageAction}" lightningStylesheets="true" >
    <!-- *** PAKKINENI v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
    <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>
    <style>
        body{
            font-size: {!IF(salesforce1==true,'1em','')}
        }
    </style>
    <script>
        function pageRedirect(){
            sforce.one.navigateToURL("/{!gii__ServiceTicketLine__c.Id}");
        }
    </script>
    <apex:sectionHeader Title="{!$Label.gii__addactualservice}" subTitle="{!gii__ServiceTicketLine__c.name}"/>  
    <apex:form id="AddActualServicesFormHeader">
        <!-- *** PAKKINENI v12.5  dummy outputpanel to rerender -->
        <apex:outPutPanel layout="block" id="dummyPanelId"> 
        </apex:outPutPanel>
        <!-- v12.5 *** -->
        <apex:pageBlock id="pageBlock01" rendered="{!salesforce1!=true}">
            <apex:pageBlockSection columns="2">            
                    <apex:outputField value="{!gii__ServiceTicketLine__c.gii__ServiceTicket__c}"/>                                                     
                    <apex:pageBlockSectionItem >                  
                        <apex:outputLabel value="{!$ObjectType.gii__ServiceTicketLine__c.Fields.Name.label}" for="SrvTktln"/>
                        <apex:outputLink id="SrvTktln" value="/{!gii__ServiceTicketLine__c.id}">
                        <apex:outputField value="{!gii__ServiceTicketLine__c.Name}"/> 
                        </apex:outputLink> 
                    </apex:pageBlockSectionItem>
                    <apex:outputField value="{!gii__ServiceTicketLine__c.gii__ServiceTicket__R.gii__Account__c}"/>
                    <apex:outputField id="gii__AssetReference__c" value="{!gii__ServiceTicketLine__c.gii__AssetReference__c}"/>                
                    <apex:outputField value="{!gii__ServiceTicketLine__c.gii__Site__c}"/>
                    <apex:outputField value="{!gii__ServiceTicketLine__c.gii__Product__c}"/>                    
                <apex:outputField value="{!gii__ServiceTicketLine__c.gii__FieldServiceEngineer__c}"/>                
                &nbsp;
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    
    <apex:form id="AddActualServicesForm">
           
        <apex:pageBlock id="pageBlock01">              
          <apex:pagemessages id="pageMsg"></apex:pagemessages>            
            
            <apex:pageBlockButtons location="Top" id="pageButton">
                <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:image url="/img/loading.gif"/>
                    </apex:facet>
                </apex:actionStatus>            
                <apex:actionStatus id="status1" >
                    <apex:facet name="start">
                        <apex:outputPanel >
                           <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}"  disabled="true" action="{!cancel}"/>
                           <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >                         
                        <!-- v10.6 Removed rerender attributes,oncomplete action for lightning experience.  --> 
                              <!-- *** PAKKINENI v12.5 added oncomplete and rerender to enforce the refresh in lightning  -->
                              <apex:commandButton action="{!AddActualLines}" value="{!$Label.gii__save}"
                                                  rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}" status="status1"
                                                  rerender="dummyPanelId,pageMsg" oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')"/>
                                                  <!-- rerender="pageBlock01" oncomplete="pageRedirect()"  -->
                             <apex:commandButton immediate="true" action="{!cancel}" value="{!$Label.gii__cancel}"/> 
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>            
              
            <apex:pageBlockSection collapsible="true" id="serviceLineSection" columns="1" Title="{!$ObjectType.gii__ServiceTicketService__c.labelPlural}" rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}">    
                 <!--  v9.7 Add button-->
                <apex:commandButton action="{!addServiceLine}" value="{!$Label.gii__add}" 
                    rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}" status="status2" rerender="serviceLineSection, pageMsg"/> 
                    <!-- *** SSAHU v12.7 Added style="width:auto;" for column heading overlapping for lightningStylesheets="true" -->                              
                <apex:pageBlockTable id="serviceLineTable" border="3" frame="border" value="{!ServiceLines}" width="100%" var="srv" style="width:auto;" > 
                    <apex:column style="width:2%">
                       <apex:facet name="header">
                           <apex:inputCheckbox id="selectallServiceLines" selected="false"
                              onclick="javascript:ServiceLineSelectChecked(document.forms['AddActualServicesPage:AddActualServicesForm'],'AddActualServicesPage:AddActualServicesForm:pageBlock01:serviceLineSection:serviceLineTable:', this);"/>
                          </apex:facet>
                        <apex:inputCheckbox value="{!srv.selected}" id="ServiceLineSelected" disabled="{!srv.newLine}"/>
                        <!--  v9.7  delete link-->
                        <apex:commandlink value="{!$Label.gii__del}" immediate="true" rendered="{!srv.newLine}" action="{!delServicefromWrapper}" rerender="serviceLineSection, pageMsg">
                            <apex:param name="toDelIdent" value="{!srv.ident}" assignTo="{!toDelIdent}"/>
                        </apex:commandlink>                         
                    </apex:column>
                    <apex:column style="width:15%" headervalue="{!$ObjectType.gii__ServiceTicketService__c.Fields.gii__ServiceTicketEstimatedService__c.label}"
                                 value="{!srv.SrvTktActualService.gii__ServiceTicketEstimatedService__c}" rendered="{!salesforce1!=true}"/>
                    <apex:column style="width:10%"  headervalue="{!$ObjectType.gii__ServiceTicketService__c.Fields.gii__ServiceProduct__c.label}">
                        <!-- <apex:outputField value="{!srv.SrvTktActualService.gii__ServiceProduct__c}"/> -->
                        <!--  v9.7 render input or output field for additional charge dynamically-->
                        <apex:outputField value="{!srv.SrvTktActualService.gii__ServiceProduct__c}" rendered="{!NOT(srv.newLine)}"/>
                        <apex:outputField value="{!srv.SrvTktActualService.gii__ServiceProduct__c}" rendered="{!AND(srv.newLine, srv.SrvTktActualService.gii__ServiceProduct__c != null)}"/>                        
                        <apex:inputField value="{!srv.SrvTktActualService.gii__ServiceProduct__c}" rendered="{!AND(srv.newLine, srv.SrvTktActualService.gii__ServiceProduct__c == null)}">
                          <apex:actionSupport event="onchange" 
                                    action="{!getServiceDefaults}" 
                                    status="status2"   
                                    rerender="serviceLineSection, pageMsg">
                            </apex:actionSupport>
                        </apex:inputField>                          
                    </apex:column>      
                    <apex:column style="width:10%" headervalue="{!$ObjectType.gii__ServiceTicketEstimatedService__c.Fields.gii__RemainingQuantity__c.label}"
                                 value="{!srv.remainingQuantity}" />
                    <apex:column style="width:10%"  headervalue="{!$ObjectType.gii__ServiceTicketService__c.Fields.gii__FieldServiceEngineer__c.label}"
                                 rendered="{!salesforce1!=true}">
                        <apex:inputField value="{!srv.SrvTktActualService.gii__FieldServiceEngineer__c}"/>
                    </apex:column>                                       
                    <apex:column style="width:10%"  headervalue="{!$ObjectType.gii__ServiceTicketService__c.Fields.gii__Quantity__c.label}">
                        <apex:inputField value="{!srv.SrvTktActualService.gii__Quantity__c}" />
                    </apex:column>
                    <apex:column style="width:10%"  headervalue="{!$ObjectType.gii__ServiceTicketService__c.Fields.gii__QuantitytobeInvoiced__c.label}"
                                 rendered="{!salesforce1!=true}">
                        <apex:inputField value="{!srv.SrvTktActualService.gii__QuantitytobeInvoiced__c}" />
                    </apex:column>
                    <apex:column style="width:10%"  headervalue="{!$ObjectType.gii__ServiceTicketService__c.Fields.gii__UnitofMeasure__c.label}"
                                 rendered="{!salesforce1!=true}">
                        <apex:inputField value="{!srv.SrvTktActualService.gii__UnitofMeasure__c}" />
                    </apex:column>
                    <apex:column style="width:10%"  headervalue="{!$ObjectType.gii__ServiceTicketService__c.Fields.gii__UnitPrice__c.label}"
                                 rendered="{!salesforce1!=true}">
                        <apex:inputField value="{!srv.SrvTktActualService.gii__UnitPrice__c}" />
                    </apex:column>
                     <apex:column style="width:10%"  headervalue="{!$ObjectType.gii__ServiceTicketService__c.Fields.gii__NoChargeReason__c.label}"
                                  rendered="{!salesforce1!=true}">
                        <apex:inputField value="{!srv.SrvTktActualService.gii__NoChargeReason__c}" />
                    </apex:column>
                    <apex:column style="width:10%"  headervalue="{!$ObjectType.gii__ServiceTicketService__c.Fields.gii__ServiceDate__c.label}"
                    rendered="{!salesforce1!=true}">
                        <apex:inputField value="{!srv.SrvTktActualService.gii__ServiceDate__c}"/>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form> 

    <script>
    function setFocusOnLoad() {}

    //checking or unchecking the 'select all' checkbox in the line sections

    function ServiceLineSelectChecked(form, element_name, value) {
        var i = 0;
        for (i = 0; i < form.elements.length; i++) {
            if (form.elements[i].name.search('ServiceLineSelected') > 0 && form.elements[i].disabled == false) {
                form.elements[i].checked = value.checked;
            }
        }
    }

    </script>    
   
</apex:page>