<apex:page standardController="gii__PurchaseOrder__c" extensions="gii.AddPurchaseOrderLinesFromCatalogCon" id="ProductSelectionPage" sidebar="false" tabStyle="gii__PurchaseOrder__c" lightningStylesheets="true"> 
  <style>
  left {
    text-align:left;
    vertical-align:top;
}
.right {
    text-align:right;
    vertical-align:top;
}
  </style>
    
  <!-- *** SSAHU v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
  <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>
  <!-- *** v12.5  dummy outputpanel to rerender -->
  <apex:outPutPanel layout="block" id="dummyPanelId">        
  </apex:outPutPanel>
  <!-- v12.5 *** -->
  
  <apex:sectionHeader title="{!$Label.gii__addpurchaseorderlinesfromcatalog}"  subTitle="{!gii__PurchaseOrder__c.Name}"/>
<apex:form id="navigation">
<apex:actionFunction name="doSearchAF" action="{!searchPO}" status="status3" reRender="navigation"/>

   <apex:pageBlock >
      <apex:pageBlockSection columns="2" collapsible="false">
       <apex:pageBlockSectionItem > 
             <apex:outputLabel value="{!$ObjectType.gii__PurchaseOrder__c.Fields.Name.label}" for="PO"/>
             <apex:outputLink id="PO" value="/{!gii__PurchaseOrder__c.id}">
                  <apex:outputField value="{!gii__PurchaseOrder__c.name}"/>
             </apex:outputLink>
         </apex:pageBlockSectionItem>         
            <apex:outputField value="{!gii__PurchaseOrder__c.gii__Supplier__c}"/>  
            <apex:outputField value="{!gii__PurchaseOrder__c.gii__PriceBookName__c}"/>               
        </apex:pageBlockSection>  
    </apex:pageBlock>   
    
          
      <apex:pageBlock Title="{!$Label.gii__findproducts}" mode="edit" >
      <table width="100%" class="searchFilterFields"> 
         <tr>
            <td align="left">
              <apex:pageBlockSection collapsible="false" columns="3"> 
                 <apex:pageBlockSectionItem > 
                     <apex:outputLabel value="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__Catalog__c.label}" for="cat"/>
                     <apex:inputField id="cat" value="{!POLine.gii__Catalog__c}" onchange="doSearchAF();"/>
                  </apex:pageBlockSectionItem> 
                  
                  <apex:pageBlockSectionItem rendered="{!POLine.gii__Catalog__c = null}"> 
                     <apex:outputLabel title="{!styleProduct.gii__Description__c}" value="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__Product__c.label}" for="prod"/>
                     <apex:inputField id="prod" value="{!POLine.gii__Product__c}" onchange="doSearchAF();"/>
                  
                  </apex:pageBlockSectionItem> 
                  <apex:pageBlockSectionItem rendered="{!POLine.gii__Catalog__c <> null}"> 
                     <apex:outputLabel title="{!styleProduct.gii__Description__c}" value="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__Product__c.label}" for="prod1"/>
                     <apex:outputField id="prod1" value="{!POLine.gii__Product__c}"/>
                  </apex:pageBlockSectionItem>   
                  
                  
                  <apex:pageBlockSectionItem rendered="{!styleProduct.gii__Style__c}"> 
                     <apex:outputLabel value="{!$ObjectType.gii__Product2Add__c.Fields.gii__Style__c.label}"  for="style"/>
                     <apex:outputField id="style" value="{!styleProduct.gii__Style__c}" rendered="{!styleProduct.gii__Style__c}"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageblockSectionItem rendered="{!styleProduct.gii__Style__c}">
                      <apex:outputLabel value="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__Color__c.label}" for="color"/>
                      <apex:selectList onchange="doSearchAF();" value="{!ColorId}" size="1" id="color">
                          <apex:selectOptions value="{!ColorIds}"/>  
                      </apex:selectList>
                  </apex:pageblockSectionItem>                
                  
                  <apex:pageblockSectionItem rendered="{!styleProduct.gii__Style__c}">
                      <apex:outputLabel value="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__Size__c.label}"  for="size"/>
                      <apex:selectList onchange="doSearchAF();" value="{!SizeId}" size="1" id="size">
                          <apex:selectOptions value="{!SizeIds}"/>  
                      </apex:selectList>
                  </apex:pageblockSectionItem>             
                 
                </apex:pageBlockSection>  
          </td>
        </tr>
        <tr>
           <td>
           <apex:commandButton value="{!$Label.gii__search}" action="{!searchPO}" rerender="navigation" status="status3" />
               <apex:actionStatus id="status3" >
                    <apex:facet name="start">
                        <apex:image url="/img/loading.gif"/>
                    </apex:facet>
               </apex:actionStatus>         
           </td>
        </tr>
      </table>   
    <hr/>           
        
    <apex:pageMessages id="msg"></apex:pageMessages>        
 </apex:pageBlock>

 <apex:pageBlock rendered="{!showProductList}" mode="edit">
        <apex:pageBlockButtons location="Top" id="pageButton">
            <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:outputPanel >
                           <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!searchPO}"/>
                           <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!searchPO}"/>
                           <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!searchPO}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                     <apex:outputPanel >     
                        
                            <!-- v10.1 use different method for save and 'save and more'. Removed rerender attribute
                            <apex:commandButton action="{!SavePO}" immediate="false" value="{!$Label.gii__save}" status="status2" rerender="navigation">
                                <apex:param id="saveAction1" name="save" value="Save"/> 
                            </apex:commandButton>
                            
                            <apex:commandButton action="{!SavePO}" value="{!$Label.gii__saveandmore}" immediate="false" status="status2" rerender="navigation">    
                                <apex:param id="saveAction2" name="save" value="SaveAndNew"/> 
                            </apex:commandButton> -->
                            <!-- *** SSAHU v12.5 Comented below section and added oncomplete, rerender -->
                            <!-- <apex:commandButton action="{!SavePO}" immediate="false" value="{!$Label.gii__save}" status="status2" > -->
                                <!-- <apex:param id="saveAction1" name="save" value="Save"/>  -->
                            <!-- </apex:commandButton> -->
                             <apex:commandButton action="{!SavePO}" immediate="false" oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" value="{!$Label.gii__save}" status="status2" rerender="dummyPanelId,msg,navigation" >
                             <apex:param id="saveAction1" name="save" value="Save"/> 
                            </apex:commandButton>
                            
                            <apex:commandButton action="{!SaveAndMorePO}" value="{!$Label.gii__saveandmore}" immediate="false" status="status2" rerender="navigation">    
                                <apex:param id="saveAction2" name="save" value="SaveAndNew"/> 
                            </apex:commandButton>                           

                            <apex:commandButton action="{!cancel}" value="{!$Label.gii__cancel}" immediate="true"/>    
                    </apex:outputPanel>
                    </apex:facet>
            </apex:actionStatus>
     </apex:pageBlockButtons>  

     <apex:pageBlockSection columns="1" title="{!$Label.gii__inputorderquantitytocreatepurchaseorderlines}" collapsible="false" rendered="{!showProductList}">    
      <apex:pageBlockTable value="{!NewPurchaseOrderLines}" var="c" id="resultsDataTable" width="100%" cellspacing="1px">

          <apex:column value="{!c.pol.gii__Color__c}" headerValue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__Color__c.label}" rendered="{!styleProduct.gii__Style__c}"/>          
          <apex:column value="{!c.pol.gii__Size__c}" headerValue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__Size__c.label}" rendered="{!styleProduct.gii__Style__c}"/>
          <apex:column headerValue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__OrderQuantity__c.label}" title="{!c.productName}">                     
          <apex:inputField value="{!c.pol.gii__OrderQuantity__c}"/>
          </apex:column>
          
          <!-- v5.19b start -->
          <apex:column headerValue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__UnitPrice__c.label}" title="{!c.pol.gii__UnitPrice__c}">
               <apex:inputField value="{!c.pol.gii__UnitPrice__c}"/>
          </apex:column>

          <apex:column headerValue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__NoChargeReason__c.label}" title="{!c.pol.gii__NoChargeReason__c}" rendered="{!!AllowZeroUnitPrice}">
               <apex:inputField value="{!c.pol.gii__NoChargeReason__c}"/>
          </apex:column>           
          <apex:column headerValue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__Product_Discount_Percent__c.label}" title="{!c.pol.gii__Product_Discount_Percent__c}">
               <apex:inputField value="{!c.pol.gii__Product_Discount_Percent__c}"/>
          </apex:column>          
           <!-- v6.3 Add Priceing Overridden Reason field --> 
           <apex:column headerValue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__PricingOverriddenReason__c.label}" title="{!c.pol.gii__PricingOverriddenReason__c}">
               <apex:inputField value="{!c.pol.gii__PricingOverriddenReason__c}"/>
          </apex:column>                    
         <!-- v5.19b end -->              
         
        </apex:pageBlockTable>
     </apex:pageBlockSection>     
    </apex:pageBlock> 
       
 
 </apex:form>
</apex:page>