<apex:page standardController="gii__Product2Add__c" extensions="gii.AddProductPriceCon" id="PBSelectionPage" lightningStylesheets="true">
 <style>
 left {
    text-align:left;
    vertical-align:top;
}

.right {
    text-align:right;
    vertical-align:top;
}
 </style>
  <apex:sectionHeader title="{!$Label.gii__pricebookselection}" subTitle="{!gii__Product2Add__c.Name}" rendered="{!OR(step='1',showError)}"/>
  <apex:sectionHeader title="{!$Label.gii__addlistprice}" subTitle="{!gii__Product2Add__c.Name}" rendered="{!step='2'}"/>
    
    
  <apex:outputPanel rendered="{!step='1'}" styleClass="bOverviewSearch">
   <!-- Enter your keyword, then click Search to begin your search.Search results include all records that match your keyword entries.
   --> {!$Label.gii__enteryourkeywordthenclicksearch}
   </apex:outputPanel>  
   <apex:outputPanel rendered="{!step='2'}" styleClass="bOverviewSearch">
    <!--You need to specify a List Price if you want to add a product to the price book.--> 
    {!$Label.gii__youneedtospecifyalistprice}
    </apex:outputPanel>  
  <p/>
    <apex:pageMessages id="msg"></apex:pageMessages>
  <apex:form id="navigation" rendered="{!OR(step='1', showError)}"> 
  
    <apex:pageBlock rendered="{!showError}">
        <apex:pageBlockSection >
             <apex:outputField value="{!gii__Product2Add__c.Name}"/>
             <apex:outputField value="{!gii__Product2Add__c.gii__Description__c}"/>
             <apex:outputField value="{!gii__Product2Add__c.gii__ProductCode__c}"/>
             <apex:outputField value="{!gii__Product2Add__c.gii__IsActive__c}"/>
        </apex:pageBlockSection> 
        <apex:pageBlockButtons location="Bottom" rendered="{!showError}">           
            <apex:commandButton action="{!returnToPrev}" Title="{!$Label.gii__returntopreviouspage}" value="{!$Label.gii__cancel}"/>
        </apex:pageBlockButtons>
  </apex:pageBlock>
  
  <apex:pageBlock title="{!$Label.gii__findpricebooks} [{!TwentFivePlus}]" rendered="{!showError = false}">
      <div class="pbHeader">
      <table width="100%" class="searchFilterFields">   
         <tr>
            <td align="left">
              <apex:outputLabel for="searchText">{!$Label.gii__keyword}</apex:outputLabel>
              <apex:panelGroup > 
                 &nbsp;&nbsp; <apex:inputText id="searchText" value="{!searchText}"/>&nbsp;&nbsp;
                  <apex:commandButton value="{!$Label.gii__search}" action="{!search}" rerender="navigation" status="status" title="{!$Label.gii__enteryourkeywordthenclicksearch}"/>
              </apex:panelGroup>
          </td>
        </tr>
      </table>   
     </div>
     <hr/>   
    <apex:outputPanel rendered="{!(pgr.resultSize  > 25)}">
     
      <table width="100%">
        <tr>
            <td align="center">
                <apex:outputPanel styleClass="pSearchShowMore" layout="block" id="pageLinkPanel">
                  <apex:outputText rendered="{!!hasPrevious}" styleClass="greyedLink">&lt;&nbsp;{!$Label.PreviousPage}</apex:outputText>
                  <apex:commandLink rendered="{!hasPrevious}" action="{!prevPage}">&lt;&nbsp; {!$Label.PreviousPage}</apex:commandLink>

                   <!--  current set of from and to record numbers -->
                   <span>&nbsp;({!((pgr.PageNumber * pgr.PageSize + 1) - pgr.PageSize) } -  {!(IF((pgr.PageNumber * pgr.PageSize ) > pgr.ResultSize, pgr.ResultSize, pgr.PageNumber * pgr.PageSize ))})&nbsp;</span>

                   <apex:outputText rendered="{!!hasNext}" styleClass="greyedLink">{!$Label.NextPage}&nbsp;&gt;</apex:outputText>
                   <apex:commandLink rendered="{!hasNext}" action="{!nextPage}">{!$Label.NextPage}&nbsp;&gt;</apex:commandLink>
                </apex:outputPanel>            
            </td>
        </tr>
      </table> 
      <hr/>
    </apex:outputPanel>

     <!--SSAHU 12.7 Commented the below line and added location="Top" for lightningStylesheets="true" implementation-->
    <!--<apex:pageBlockButtons > -->
    <apex:pageBlockButtons location="Top">
        <apex:commandButton action="{!selectPriceBooks}" value="{!$Label.gii__select}"/>
        <apex:commandButton action="{!returnToPrev}" value="{!$Label.gii__cancel}"/>
    </apex:pageBlockButtons>
    <apex:outputPanel rendered="{!pgr.ResultSize = 0}">
          {!$Label.gii__norecordswerefoundbasedonyourcriteria}
          <hr/>
    </apex:outputPanel>
    
    <apex:pageBlockSection columns="1" collapsible="false" rendered="{!pgr.ResultSize > 0}">
      <apex:pageBlockTable value="{!PriceBooks}" var="c" id="resultsDataTable">
          <apex:column width="25px" title="{!$Label.gii__select} {!c.pb.Name}">
             <apex:facet name="header"> 
                 <apex:inputCheckbox value="{!checkAll}" onclick="checkAll(this)">                          
                    </apex:inputCheckbox>                  
             </apex:facet>
             <apex:inputCheckbox value="{!c.checked}" id="checkedone" rendered="{!!c.AlreadyProcessed }"></apex:inputCheckbox>
          </apex:column>
          
          <apex:column value="{!c.pb.Name}" headerValue="{!$ObjectType.gii__PriceBook__c.Fields.Name.label}"/>
          <apex:column value="{!c.pb.gii__Description__c}" headerValue="{!$ObjectType.gii__PriceBook__c.Fields.gii__Description__c.label}"/>
          <apex:column value="{!c.pb.LastModifiedDate}" headerValue="{!$ObjectType.gii__PriceBook__c.Fields.LastModifiedDate.label}"/>
          <apex:column value="{!c.pb.gii__IsActive__c}" headerValue="{!$ObjectType.gii__PriceBook__c.Fields.gii__IsActive__c.label}"/>
        </apex:pageBlockTable>
     </apex:pageBlockSection>
     
     <apex:outputPanel rendered="{!(pgr.resultSize  > 25)}">
        <hr/>
        <table width="100%">
            <tr>
                <td align="center">
                    <apex:outputPanel styleClass="pSearchShowMore" layout="block" id="pageLinkPanel2">
                      <apex:outputText rendered="{!!hasPrevious}" styleClass="greyedLink">&lt;&nbsp;{!$Label.PreviousPage}</apex:outputText>
                      <apex:commandLink rendered="{!hasPrevious}" action="{!prevPage}">&lt;&nbsp; {!$Label.PreviousPage}</apex:commandLink>
    
                       <!--  current set of from and to record numbers from current page-->
                       <span>&nbsp;
                          ({!((pgr.PageNumber * pgr.PageSize + 1) - pgr.PageSize) } -  
                           {!(IF((pgr.PageNumber * pgr.PageSize ) > pgr.ResultSize, pgr.ResultSize, pgr.PageNumber * pgr.PageSize ))})&nbsp;
                        </span>    
                       <apex:outputText rendered="{!!hasNext}" styleClass="greyedLink">{!$Label.NextPage}&nbsp;&gt;</apex:outputText>
                       <apex:commandLink rendered="{!hasNext}" action="{!nextPage}">{!$Label.NextPage}&nbsp;&gt;</apex:commandLink>
                    </apex:outputPanel>            
                </td>
            </tr>
        </table>       
    </apex:outputPanel>
    </apex:pageBlock>     
 </apex:form>
 
 <!-- show list of price book entry records -->
  <apex:form id="navigation2" rendered="{!step='2'}">
    <apex:pageBlock id="resultsBlock1">
    
     <apex:pageBlockButtons location="Top" id="pbBottons2">
            <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:outputPanel >
                           <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!returnToPrev}"/>
                           <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!returnToPrev}"/>
                           <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!returnToPrev}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >
                            <!-- v10.1 removed rerender attribute  <apex:commandButton action="{!savePBE}" value="{!$Label.gii__save}" reRender="navigation2,navigation, PBSelectionPage, msg "
                            status="status2"/> -->
                            <apex:commandButton action="{!savePBE}" value="{!$Label.gii__save}" status="status2"/>                           
                            <apex:commandButton action="{!saveAndMore}"  value="{!$Label.gii__saveandmore}" 
                            rerender="resultsBlock1,msg" status="status2"/>
                            <apex:commandButton immediate="true" action="{!returnToPrev}" value="{!$Label.gii__cancel}"/>
                        </apex:outputPanel>
                    </apex:facet>
            </apex:actionStatus>
     </apex:pageBlockButtons>
     
     <apex:pageBlockSection columns="1">
     <apex:pageBlockTable value="{!pbeWrapperList}" var="pbeW" id="resultsDataTable2" style="table-layout:fixed">
         <apex:column value="{!pbeW.pbe.gii__Product__c}" headerValue="{!$ObjectType.gii__PriceBookEntry__c.Fields.gii__Product__c.label}"/>       
         <apex:column value="{!pbeW.pbe.gii__PriceBook__c}" headerValue="{!$ObjectType.gii__PriceBookEntry__c.Fields.gii__PriceBook__c.label}"/>          
         <apex:column headerValue="{!$ObjectType.gii__PriceBookEntry__c.Fields.gii__UseStandardPrice__c.label}" headerClass="right">
             <apex:outputPanel style="float:right;">
                 <apex:outputField value="{!pbeW.pbe.gii__StandardPrice__c}" rendered="{!NOT(UsingMultipleCurrencies)}"/>
                 <apex:outputText value="{!FORMATCURRENCY(pbeW.pbeCurrencyISOCode,pbeW.pbe.gii__StandardPrice__c)}" rendered="{!UsingMultipleCurrencies}"/>               
                 <apex:inputCheckbox value="{!pbeW.pbe.gii__UseStandardPrice__c}" id="UseStandardPrice">  
                     <apex:actionSupport event="onclick" action="{!setPBEStandardPrice}" rerender="resultsDataTable2"/>
                 </apex:inputCheckbox>                   
             </apex:outputPanel>
         </apex:column>
         <apex:column headerValue="{!$Label.gii__list_price}"> 
             <apex:inputField value="{!pbeW.pbe.gii__UnitPrice__c}" id="ListPriceInput" rendered="{!!pbeW.pbe.gii__UseStandardPrice__c}"/>             
             <apex:outputField value="{!pbeW.pbe.gii__UnitPrice__c}" id="ListPriceInput1" rendered="{!AND(pbeW.pbe.gii__UseStandardPrice__c,NOT(UsingMultipleCurrencies))}"/>
             <apex:outputText value="{!FORMATCURRENCY(pbeW.pbeCurrencyISOCode,pbeW.pbe.gii__UnitPrice__c)}" rendered="{!AND(pbeW.pbe.gii__UseStandardPrice__c,UsingMultipleCurrencies)}"/>                         
         </apex:column>
         <apex:column headerValue="{!$ObjectType.gii__PriceBookEntry__c.Fields.gii__IsActive__c.label}">
             <apex:inputField value="{!pbeW.pbe.gii__IsActive__c}"/>
         </apex:column>          
     </apex:pageBlockTable>    
        
       </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>

<script>
<!-- function to toggle value of check box -->
function checkAll(cb) {
  var inputElem = document.getElementsByTagName("input");

  for(var i=0; i<inputElem.length; i++) {
     if(inputElem[i].id.indexOf("checkedone")!=-1)
         inputElem[i].checked = cb.checked;
  }
}   

</script>
  
</apex:page>