<apex:page standardController="gii__APCredit__c"  extensions="gii.APCreditPostUnpostCon" setup="false" sidebar="false" lightningStylesheets="true">
<apex:stylesheet value="{!$Resource.gii__ActionStatus}" /> 

<!-- *** SSAHU v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
  <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>  
  <!-- v12.5  dummy outputpanel to rerender -->
  <apex:outPutPanel layout="block" id="script-block">        
  </apex:outPutPanel>
  <!-- v12.5 *** -->
  
<apex:outputPanel id="detail01">
  <apex:PanelGrid id="sectionH" columns="1" border="0" style="text-align:left" width="100%">
    <apex:sectionHeader title="{!currentAction}" Subtitle="{!APCredit.name}" />                
  </apex:PanelGrid>
  <apex:form id="mainform">
        
    <apex:pageBlock >

       <apex:pageBlockSection columns="2">
         <apex:pageBlockSectionItem > 
             <apex:outputLabel value="{!$ObjectType.gii__APCredit__c.Fields.Name.label}" for="APCredit"/>
             <apex:outputLink id="APCredit" value="/{!APCredit.id}">
                   <apex:outputField value="{!APCredit.name}"/>
             </apex:outputLink>
         </apex:pageBlockSectionItem>
         
        <apex:outputField value="{!APCredit.gii__Supplier__c}"/>
        <apex:outputField value="{!APCredit.gii__DocumentAmount__c}"/>
        <apex:outputField value="{!APCredit.gii__TotalDistributionAmount__c}"/>
        <apex:outputField value="{!APCredit.gii__SuspenseAmount__c}"/>    
        
        <apex:outputField value="{!APCredit.gii__PostingDate__c}" rendered="{!OR($CurrentPage.parameters.ProcessType = 'UnPost', AlreadyPosted = true)}"/>  
        <apex:inputField required="true" value="{!APCredit.gii__PostingDate__c}" rendered="{!AND($CurrentPage.parameters.ProcessType="Post", AlreadyPosted = false, ISNULL(APCredit.gii__CancelDate__c))}"/>  
        &nbsp;
        <apex:inputField required="true" value="{!APCredit.gii__ReversePostingDate__c}" rendered="{!AND($CurrentPage.parameters.ProcessType="UnPost", AlreadyPosted = true, ISNULL(APCredit.CancelDate__c)) }"/>             
     </apex:pageBlockSection>

   </apex:pageBlock>
   <br/>    
   <div style="margin-left: auto;margin-right: auto;width: 90em">

    <apex:pageBlock >     
       <apex:pageMessages id="error"></apex:pageMessages>
       <apex:pageBlockSection collapsible="false" title="{!Description}" columns="2" rendered="{!AND(NOT(continueBtn),NOT(APCreditNotProcessed))}">

           <div style="margin-left: auto;margin-right: auto;width: 30em">
                <br/> <h3>{!$Label.gii__areyousure}</h3>
            </div>
            
       </apex:pageBlockSection>
           
        <apex:pageBlockButtons location="Bottom" id="pageButton">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;&nbsp;&nbsp;&nbsp;
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                       <!-- v10.1 removed rerender attribute
                       <apex:commandButton id="confirm" style="btn" value="{!$Label.gii__save}" rendered="{!actionEnabled}" action="{!ListbuttonAction}" status="status2" rerender="detail01"/> 
                       <!-- *** SSAHU v12.5 Commented the below line and added oncomplete and rerender to enforce the refresh in lightning  -->
                       <!-- <apex:commandButton id="confirm" style="btn" value="{!$Label.gii__save}" rendered="{!actionEnabled}" action="{!ListbuttonAction}" status="status2" />&nbsp;&nbsp; -->
                       <apex:commandButton id="confirm" style="btn" value="{!$Label.gii__save}" rendered="{!actionEnabled}" action="{!ListbuttonAction}" oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" status="status2" rerender="script-block,detail01,error" />&nbsp;&nbsp;
                       <apex:commandButton id="cancel" style="btn" value="{!$Label.gii__cancel}" action="{!cancel}" rendered="{!AND(NOT(continueBtn),NOT(APCreditNotProcessed))}" />
                       <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}" rendered="{!APCreditNotProcessed }" action="{!returnToPrevious}" />
                       <apex:commandButton id="continue1" style="btn" value="{!$Label.gii__continue}" rendered="{!continueBtn}" action="{!cancel}" />
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons>  
           
     </apex:pageBlock>
    </div>
  </apex:form>
 </apex:outputpanel>
 <div class="normal"></div>
</apex:page>