<apex:page standardController="gii__APInvoice__c" extensions="gii.APVoucherPOReceiptCon" Tabstyle="gii__APInvoice__c" lightningStylesheets="true">
  <!--  Voucher PO Receipt Page -->
  <apex:sectionHeader title="{!$Label.gii__voucherpurchaseorderreceipt}" Subtitle="{!APInvoice.name}"/>
  
   <!-- *** SSAHU v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
  <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>
  <!-- *** SSAHU v12.5  dummy outputpanel to rerender -->
  <apex:outPutPanel layout="block" id="script-block">        
  </apex:outPutPanel>
  <!-- v12.5 *** -->

  <apex:form >
   <apex:pageBlock mode="edit" id="pageBlock01">
    
        <apex:pageBlockButtons location="Bottom" id="pageButton">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                    <!-- v10.1 removed rerender attribute 
                          <apex:commandButton value="{!$Label.gii__save}" action="{!VoucherReceipt}" title="{!$Label.gii__voucherpurchaseorderreceipt}" status="status2" rerender="pageBlock01"/>-->
                          <!-- *** SSAHU v12.5 Commented the below line and added oncomplete to to enforce the refresh in lightning  -->
                          <!--<apex:commandButton value="{!$Label.gii__save}" action="{!VoucherReceipt}" title="{!$Label.gii__voucherpurchaseorderreceipt}" status="status2" />-->
                          <apex:commandButton value="{!$Label.gii__save}" action="{!VoucherReceipt}" title="{!$Label.gii__voucherpurchaseorderreceipt}" oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" status="status2" rerender="script-block,error" />                        
                          <apex:commandButton value="{!$Label.gii__cancel}" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons>              
      
       <apex:pageBlockSection columns="2">
         <apex:pageBlockSectionItem > 
             <apex:outputLabel value="{!$ObjectType.gii__APInvoice__c.Fields.Name.label}" for="APInvoice"/>
             <apex:outputLink id="APInvoice" value="/{!APInvoice.id}">
                   <apex:outputField value="{!APInvoice.name}"/>
             </apex:outputLink>
         </apex:pageBlockSectionItem>
         
        <apex:outputField value="{!APInvoice.gii__Supplier__c}"/>
        <apex:outputField value="{!APInvoice.gii__DocumentAmount__c}"/>
        <apex:outputField value="{!APInvoice.gii__SuspenseAmount__c}"/>
        <apex:outputField value="{!APInvoice.gii__VoucherAmount__c}"/>    
     </apex:pageBlockSection>
     <!-- *** SSAHU v12.5 Commented the below line and added uniique name for error to rerender the page on oncomplete event.  -->
     <apex:pagemessages ></apex:pagemessages>
     <apex:pageMessages id="error"></apex:pageMessages>     
      <!-- SSAHU v12.5 *** -->
      <apex:pageBlockSection columns="1" >
          <!--Select Purchase Order Receipt to voucher allo of it's receipt lines with Unvouchered Quantity-->
          <apex:pageBlockSection columns="2" title="{!$Label.gii__selectporeceipttovoucherallporeceiptlines}">
            
            <apex:InputField value="{!Voucher.gii__PurchaseOrderReceipt__c}" required="true"/>
          </apex:pageBlockSection>
      </apex:pageBlockSection>
  
    </apex:pageBlock>
  </apex:form>
</apex:page>