<apex:page StandardController="gii__ARCreditSalesLine__c" extensions="gii.ARCreditSalesLineKittingCon" tabStyle="gii__ARCredit__c" lightningStylesheets="true">

<script>
function checkQuantity(fieldId,oldfieldId) {
if (document.getElementById(fieldId).value < 1 ) {
    <!--Quantity should be greater than zero.-->
    alert('{!$Label.QuantityShouldBeGreaterThanZero}');
    document.getElementById(fieldId).value = document.getElementById(oldfieldId).value;
    }
}
function setSelection(input,text,allowOne){
document.getElementById('thebox' + text).checked = document.getElementById(text).checked;
if (document.getElementById('thebox' + text).checked == false) {
    document.getElementById('thebox' + text).value = '';
    }

var count = 0;
nBox = document.getElementsByName('thebox');
for (i = 0; i < nBox.length; i++) {
 if (document.getElementsByName('thebox')[i].checked) { count++;}
}
if (allowOne == 'true') {
if (count > 1) {
   <!--Please select only one Product.-->
   alert('{!$Label.PleaseSelectOnlyOneProduct}');
   document.getElementById('thebox' + text).checked  = false;
   document.getElementById(text).checked = false;
   document.getElementById('thebox' + text).value = '';
 }
}
}
</script>

 <apex:sectionHeader title="{!$Label.gii__addkitmemberproducts}" subtitle="{!Line.name}"/>

   <apex:PageBlock >
            <apex:pageBlockSection columns="1">
           <apex:pageBlockTable value="{!arLine}" var="line1"  >
                <apex:column colspan="150" headerValue="{!$ObjectType.gii__ARCreditSalesLine__c.Fields.gii__ARCredit__c.Label}"><apex:outputField value="{!line1.gii__ARCredit__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__ARCreditSalesLine__c.Fields.Name.Label}"><apex:outputlink value="/{!line1.id}">{!line1.Name}</apex:outputlink></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__ARCredit__c.Fields.gii__PostingDate__c.Label}"><apex:outputField value="{!line1.ARCredit__r.gii__PostingDate__c}"></apex:outputField></apex:column>
                <apex:column colspan="180" headerValue="{!$ObjectType.gii__ARCreditSalesLine__c.Fields.gii__Product__c.Label}"><apex:outputField value="{!line1.gii__Product__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__ARCreditSalesLine__c.Fields.gii__OrderQuantity__c.Label}"><apex:outputField value="{!line1.gii__OrderQuantity__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__ARCreditSalesLine__c.Fields.gii__StockUM__c.Label}" ><apex:outputField value="{!line1.gii__StockUM__c}"></apex:outputField></apex:column> 
           </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:PageBlock>
    
<!-- v11.13 Add id for ShowErrorMessage Component to allow rerendering of error message for kitting -->
   <c:ShowErrorMessage id="ShowErrorMessage" /> 

<!-- Kit Member Products -->
<apex:form >

<apex:pageBlock id="pageBlock01">
        <apex:pageBlockButtons location="Top" id="pageButton">
            <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:outputPanel >
                           <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                           <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >
                           <!-- v10.1 removed rerender attribute   <apex:commandButton action="{!AddKitMemebersave}" value="{!$Label.gii__save}" disabled="{!error}" 
                           status="status2" rerender="pageBlock01 "/> -->
                           <!-- v11.13 rerender ShowErrorMessage also so that error message is shown for kit member creation exceptions -->
                           <apex:commandButton action="{!AddKitMemebersave}" value="{!$Label.gii__save}" disabled="{!error}" 
                           status="status2" rerender="pageBlock01,ShowErrorMessage"/> 
                           <apex:commandButton value="{!$Label.gii__cancel}" action="{!cancel}" title="{!$Label.gii__returntopreviouspage}"/>
                        </apex:outputPanel>
                    </apex:facet>
            </apex:actionStatus>
     </apex:pageBlockButtons> 
<apex:pageBlockTable id="theTable" value="{!KitMember}" var="Kit">
<apex:facet name="header"></apex:facet>
<apex:column headerValue="{!$Label.gii__action}" >
     <apex:inputCheckbox value="{!Kit.gii__Required__c}" onclick="setSelection(this,'{!$Component.theTable.theCheckbox}','false');" id="theCheckbox" rendered="true" disabled="{!Kit.gii__Required__c}"/>
     <input type="hidden" name="thebox" id="thebox{!$Component.theTable.theCheckbox}" value="{!Kit.name}"> </input>    
</apex:column>

<apex:column headerValue="{!$Label.gii__availablekitmemberproducts}"><apex:outputlink value="/{!Kit.gii__KitProduct__r.id}">{!Kit.gii__KitProduct__r.Name}</apex:outputlink></apex:column>
<apex:column headerValue="{!$Label.gii__quantity}">
    <apex:inputHidden value="{!Kit.gii__Quantity__c}" id="oldquantity" />
    <apex:inputField value="{!Kit.gii__Quantity__c}" id="quantity" onchange="checkQuantity('{!$Component.theTable.quantity}','{!$Component.theTable.oldquantity}' );"  rendered="{!(Kit.gii__QuantityChange__c)}"/>
    <apex:outputText value="{!Kit.gii__Quantity__c}" id="quantity1" rendered="{!NOT(Kit.gii__QuantityChange__c)}"/>
</apex:column>

<apex:column headerValue="{!$Label.gii__required}"><apex:outputField value="{!Kit.gii__Required__c}" id="required" rendered="true"/></apex:column>
<apex:column headerValue="{!$Label.gii__quantitychangeallowed}"><apex:outputField value="{!Kit.gii__QuantityChange__c}" id="quantitychange" rendered="true"/></apex:column>
<apex:column headerValue="{!$Label.gii__service}"><apex:outputField value="{!Kit.gii__KitProduct__r.gii__Service__c}" id="service" rendered="true"/></apex:column>
<apex:column headerValue="{!$Label.gii__exception}">
     <font color="red"> <apex:outputText value="{!Kit.gii__Exception__c}" id="error" rendered="{!IF(Kit.gii__Exception__c = $Label.gii__pricenotavailable,true,false)}"/> </font>
</apex:column>

</apex:pageBlockTable>
</apex:pageBlock>
</apex:form>
</apex:page>