<apex:page standardController="gii__RequestforQuoteSupplier__c"  extensions="gii.RequestforQuotePDFExtCon" setup="false" sidebar="false" lightningStylesheets="true">
 <apex:sectionHeader Subtitle="{!gii__RequestforQuoteSupplier__c.name}" title="{!$Label.gii__attach}  {!$Label.gii__requestforquote} {!$Label.gii__pdf}"/>
    <apex:form id="mainform">    
        <apex:pageBlock >
           <apex:pageMessages id="error"></apex:pageMessages>
           <apex:pageBlockSection collapsible="false" title="{!$Label.gii__attach}  {!$Label.gii__requestforquote} {!$Label.gii__pdf}" columns="2">
                <div style="margin-left: auto;margin-right: auto;width: 30em"> 
                    <br/> <h3>{!$Label.gii__areyousure}</h3>
                </div> 
           </apex:pageBlockSection>

                <apex:pageBlockButtons location="Bottom" id="pageButton">
                    <apex:actionStatus id="status1" >
                        <apex:facet name="start">
                            <apex:outputPanel >
                               <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                               <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                            </apex:outputPanel>
                        </apex:facet>
                        <apex:facet name="stop">
                            <apex:outputPanel >
                                <!--  v10.1 removed rerender attribute                              
                                <apex:commandButton id="confirm" value="{!$Label.gii__attach}"  action="{!attachRequestforQuoteSupplier}" title="{!$Label.gii__attach}  {!$Label.gii__requestforquote} {!$Label.gii__pdf}"
                               status="status1" rerender="mainform"/> -->                           
                               <apex:commandButton id="confirm" value="{!$Label.gii__attach}"  action="{!attachRequestforQuoteSupplier}" title="{!$Label.gii__attach}  {!$Label.gii__requestforquote} {!$Label.gii__pdf}"
                               status="status1" />&nbsp;&nbsp;   
                               <apex:commandButton id="cancel" value="{!$Label.gii__cancel}" action="{!cancel}" title="{!$Label.gii__cancel}" />
                            </apex:outputPanel>
                        </apex:facet>
                    </apex:actionStatus>
             </apex:pageBlockButtons> 
  
        </apex:pageBlock>
    </apex:form>
</apex:page>