<apex:page standardController="gii__SalesOrder__c" extensions="gii.CopySalesOrderCon" tabStyle="gii__SalesOrder__c" lightningStylesheets="true">
<apex:sectionHeader Subtitle="{!$Label.gii__copysalesorder}" Title="{!SalesOrder.name}"/>
 
<apex:form id="form01">
<apex:pageBlock >

<apex:pageBlockSection columns="2" collapsible="false" title="{!$Label.gii__fromsalesorder}">

            <apex:inputField value="{!SalesOrderLine.gii__SalesOrder__c}"/> 
                         
          </apex:pageBlockSection>         
       <apex:pageBlockSection columns="1" collapsible="false" title="{!$Label.gii__newsalesorder}">
              <apex:inputField value="{!SalesOrder.gii__Account__c}"/> 
              <apex:inputField value="{!SalesOrder.gii__OrderDate__c}"/> 
              <apex:inputCheckbox value="{!SalesOrderCopy.ExcludeAllAdditionalCharges}" label="{!$Label.gii__excludealladditionalcharges}"/>
              <apex:inputCheckbox value="{!SalesOrderCopy.ExcludeAllSalesOrderLines }" label="{!$Label.gii__excludeallsalesorderlines}"/>
              <apex:inputCheckbox value="{!SalesOrderCopy.ExcludeAllServiceOrderLines }" label="{!$Label.gii__excludeallserviceorderlines}"/>              
              <apex:inputCheckbox value="{!SalesOrderCopy.ResetAccountDefaults}" label="{!$Label.gii__resetaccountdefaults}"/>              
       </apex:pageBlockSection>         
 
        <apex:pageMessages ></apex:pageMessages>
        <apex:pageBlockButtons location="bottom">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;&nbsp;
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >        
                         <!-- v10.1 removed rerender 
                         <apex:commandButton action="{!save}" value="{!$Label.gii__save}" title="{!$Label.gii__save}" status="status2" rerender="form01"/>
                         -->
                         <apex:commandButton action="{!save}" value="{!$Label.gii__save}" title="{!$Label.gii__save}" status="status2" />
                         <apex:commandButton action="{!cancel}" value="{!$Label.gii__cancel}" title="{!$Label.gii__returntopreviouspage}"/>
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
         </apex:pageBlockButtons>       
</apex:pageBlock>
</apex:form>
</apex:page>