<apex:page standardController="gii__CapacityPlanningCycle__c" extensions="gii.CPUpdateOrdersBatchExtCon" tabStyle="gii__CapacityPlanningCycle__c" sidebar="false" lightningStylesheets="true">

<apex:sectionHeader title="{!$Label.gii__updateorders}" SubTitle="{!gii__CapacityPlanningCycle__c.name}"/>
 
<apex:form id="form01">
<apex:pageBlock >
<apex:pageBlockSection columns="2" collapsible="false">

            <apex:pageBlockSectionItem > 
                 <apex:outputLabel value="{!$ObjectType.gii__CapacityPlanningCycle__c.Fields.Name.label}" for="cp"/>
                 <apex:outputLink id="mrp" value="/{!gii__CapacityPlanningCycle__c.id}">
                       <apex:outputField value="{!gii__CapacityPlanningCycle__c.name}"/>
                 </apex:outputLink>
            </apex:pageBlockSectionItem>                    
            <apex:outputField value="{!gii__CapacityPlanningCycle__c.gii__Description__c}"/> 
            <apex:outputField value="{!gii__CapacityPlanningCycle__c.gii__AsOfDate__c}"/> 
            <apex:outputField value="{!gii__CapacityPlanningCycle__c.gii__PlanningHorizon__c}"/>
            <apex:outputField value="{!gii__CapacityPlanningCycle__c.gii__Simulated__c}"/>
            <apex:pageBlockSectionItem > 
            <apex:outputText value="{!$Label.gii__updateorderdates}"/>
            <apex:inputcheckbox value="{!updateOrderDates}"/>
            </apex:pageBlockSectionItem>                 
       </apex:pageBlockSection>     
       
       <apex:pagemessages ></apex:pagemessages>     
        <apex:pageBlockButtons location="bottom">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;&nbsp;
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >   
                         <!-- *** DMOHAN v12.14 rerender included to make the action status to disable the save button once click-->                 
                         <apex:commandButton action="{!updateOrders}" value="{!$Label.gii__save}" title="{!$Label.gii__save}" status="status2" rendered="{!NOT(error)}" rerender="form01"/> 
                         <apex:commandButton action="{!cancel}" value="{!$Label.gii__cancel}" title="{!$Label.gii__returntopreviouspage}"/>                         
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
         </apex:pageBlockButtons>       
</apex:pageBlock>
</apex:form>  
</apex:page>