<apex:page standardController="gii__Shipment__c" extensions="gii.CreateRMAforShipmentExtcon" sidebar="false" Tabstyle="gii__RMA__c" lightningStylesheets="true">
  <!--  Create RMA  Page -->
   
  <apex:sectionHeader subTitle="{!$Label.gii__createnewrma}" title="{!Shipment.name}"/>    
  <apex:form >
      <apex:pageBlock id="theTable">
            <apex:pageBlockSection columns="2">                        
                <apex:outputField value="{!RMA.gii__Shipment__c}"/>
                 <apex:outputField value="{!RMA.gii__Warehouse__c}"/>                  
                 <apex:outputField value="{!Shipment.gii__SalesOrder__c}"/>                 
                 <apex:inputField value="{!RMA.gii__Reason__c}"/>                                  
                 <apex:outputField value="{!Shipment.gii__Account__c}"/> 
                 <apex:inputField value="{!RMA.gii__RMADate__c}"/>
            </apex:pageBlockSection>
        
        <apex:pageBlockButtons location="Top" id="pageButton">
            <apex:actionStatus id="status1" >
                <apex:facet name="start">
                    <apex:outputPanel >
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >                         
                          <!-- v10.1 removed rerender attribute 
                          <apex:commandButton action="{!CreateRMA}" value="{!$Label.gii__save}" rendered="{!ISNULL(Shipment.gii__TransferOrder__c)}"  status="status1" rerender="theTable"/>                                -->
                          <apex:commandButton action="{!CreateRMA}" value="{!$Label.gii__save}" rendered="{!ISNULL(Shipment.gii__TransferOrder__c)}"  status="status1" />         
                        <apex:commandButton immediate="true" action="{!cancel}" value="{!$Label.gii__cancel}"/> 
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons> 

     <apex:pagemessages ></apex:pagemessages>  
     <apex:pageBlockSection columns="1" Title="{!$ObjectType.gii__RMADetail__c.labelPlural}">              

        <apex:pageBlockTable id="pageTable" border="1" frame="box" cellpadding="5px"  cellspacing="5px" value="{!RMADetail}" var="p"> 
            <apex:column style="width:5%">
                <apex:facet name="header"> 
                     <apex:inputCheckbox value="{!checkAll}">                          
                        <apex:actionSupport status="pleasewait" event="onclick" action="{!GetSelected}" onsubmit="checkAll(this)" rerender="Selected_PBS"/>
                    </apex:inputCheckbox>                  
                </apex:facet>
                <apex:inputCheckbox value="{!p.selected}" id="checkedone">
                    <apex:actionSupport event="onclick" action="{!GetSelected}" rerender="Selected_PBS"/>
                </apex:inputCheckbox>
            </apex:column>
            <apex:column style="width:25%" headervalue="{!$ObjectType.gii__RMADetail__c.Fields.gii__Product__c.label}" value="{!p.rmaDet.gii__Product__c}" />
            <apex:column headervalue="{!$ObjectType.gii__RMADetail__c.Fields.gii__ShipmentDetail__c.label}" value="{!p.rmaDet.gii__ShipmentDetail__c}" />
            <apex:column headervalue="{!$ObjectType.gii__RMADetail__c.Fields.gii__RMAQuantity__c.label}">
                <apex:inputField value="{!p.rmaDet.gii__RMAQuantity__c}" required="true"/>                
            </apex:column>    
            <apex:column headervalue="{!$ObjectType.gii__RMADetail__c.Fields.gii__SellingUnitofMeasure__c.label}">
                <apex:outputField value="{!p.rmaDet.gii__SellingUnitofMeasure__c}"/>  
            </apex:column>    
            
        </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>
   </apex:form>
   
<script>
function setFocusOnLoad() {}

function checkAll(cb) {
  var inputElem = document.getElementsByTagName("input");
  for(var i=0; i<inputElem.length; i++) {
     if(inputElem[i].id.indexOf("checkedone")!=-1)
         inputElem[i].checked = cb.checked;
  }
}   
</script>

</apex:page>