<apex:page standardController="gii__Product2Add__c" extensions="gii.CreateCatalogsCon" sidebar="false" tabStyle="gii__Product2Add__c" lightningStylesheets="true">
<apex:sectionHeader subtitle="{!ProductRef.name}"  title="{!$Label.gii__createcatalogsforproductcatalogcodes}" />
<apex:form >
  <apex:pageBlock title="{!$Label.gii__product}" id="pb1">

    <apex:pageBlockSection columns="2">
         <apex:pageBlockSectionItem >   
             <apex:outputLabel value="{!$ObjectType.gii__Product2Add__c.Fields.Name.label}" for="productName"/>
             <apex:outputLink id="productName" value="/{!ProductRef.id}">
                    <apex:outputField value="{!ProductRef.Name}"/>
             </apex:outputLink>
         </apex:pageBlockSectionItem>  
          
        <apex:pageBlockSectionItem > 
             <apex:outputLabel value="{!$ObjectType.gii__Product2Add__c.Fields.gii__Description__c.label}" for="desc"/>
             <apex:outputField id="desc" value="{!ProductRef.gii__Description__c}"/>
        </apex:pageBlockSectionItem>

        <apex:pageBlockSectionItem > 
             <apex:outputLabel value="{!$ObjectType.gii__Product2Add__c.Fields.gii__Style__c.label}" for="style"/>
             <apex:outputField id="style" value="{!ProductRef.gii__Style__c}"/>
        </apex:pageBlockSectionItem>
        
        <apex:pageBlockSectionItem > 
             <apex:outputLabel value="{!$ObjectType.gii__Product2Add__c.Fields.gii__ProductCode__c.label}" for="cd"/>
             <apex:outputField id="cd" value="{!ProductRef.gii__ProductCode__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem > 
             <apex:outputLabel value="{!$ObjectType.gii__Product2Add__c.Fields.gii__IsActive__c.label}" for="active"/>
             <apex:outputField id="active" value="{!ProductRef.gii__IsActive__c}"/>
        </apex:pageBlockSectionItem>
                
        <apex:pageBlockSectionItem > 
             <apex:outputLabel value="{!$ObjectType.gii__Product2Add__c.Fields.gii__ProductGroup__c.label}" for="grp"/>
             <apex:outputField id="grp" value="{!ProductRef.gii__ProductGroup__c}"/>
        </apex:pageBlockSectionItem>
        
   </apex:pageBlockSection>

    <apex:pageMessages /> 
        
        <apex:pageBlockButtons location="Top" id="pageButton">
            <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:outputPanel >
                           <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                           <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >
                            <!-- v10.1 removed rerender attribute
                             <apex:commandButton action="{!CreateCatalogs}" value="{!$Label.gii__save}" rendered="{!NOT(error)}"
                           status="status2" rerender="pb1"/> -->
                           <apex:commandButton action="{!CreateCatalogs}" value="{!$Label.gii__save}" rendered="{!NOT(error)}" status="status2" />                          
                            <apex:commandButton action="{!cancel}" value="{!$Label.gii__cancel}" immediate="true"/>
                        </apex:outputPanel>
                    </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons>    
    
    <apex:pageBlockSection title="{!$Label.gii__selectcatalogstobecreatedforthisproduct}" columns="1" collapsible="true" rendered="{!NOT(error)}">
      <apex:pageBlockTable value="{!Catalogs}" var="c" id="resultsDataTable">
          <apex:column width="25px" title="{!$Label.gii__select} {!c.ct.Name}">
             <apex:facet name="header"> 
                 <apex:inputCheckbox value="{!checkAll}" onclick="checkAll(this)">                          
                    </apex:inputCheckbox>                  
             </apex:facet>
             <apex:inputCheckbox value="{!c.checked}" id="checkedone" rendered="{!!c.AlreadyProcessed }"></apex:inputCheckbox>
          </apex:column>         
          <apex:column value="{!c.ct.Name}" headerValue="{!$ObjectType.gii__Catalog__c.Fields.Name.label}"/>
          <apex:column value="{!c.ct.gii__Catalogcode__c}" headerValue="{!$ObjectType.gii__Catalog__c.Fields.gii__Catalogcode__c.label}"/>
        </apex:pageBlockTable>
     </apex:pageBlockSection> 
    </apex:pageBlock>
  </apex:form>

    <script>
    <!-- function to toggle value of check box -->
    function checkAll(cb) {
      var inputElem = document.getElementsByTagName("input");

      for(var i=0; i<inputElem.length; i++) {
         if(inputElem[i].id.indexOf("checkedone")!=-1)
             inputElem[i].checked = cb.checked;
      }
    }   

    </script>   
    
</apex:page>