<!--    CreateServTktEstimatfromTemplate Page -->
<apex:page standardController="gii__ServiceTicketLine__c" extensions="gii.CreateServTktEstimatfromTemplatExtCon" 
   id="AddEstimateLinesfromTemplatePage" setup="false" sidebar="false" tabStyle="gii__ServiceTicket__c" lightningStylesheets="true">
   <!-- *** PAKKINENI v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
    <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>
    <apex:sectionHeader Title="{!$Label.gii__createserviceticketlineestimates}" subTitle="{!gii__ServiceTicketLine__c.name}"/>  
       <apex:form id="AddEstimateLinesfromTemplateForm">
       <!-- *** PAKKINENI v12.5  dummy outputpanel to rerender -->
        <apex:outPutPanel layout="block" id="dummyPanelId"> 
        </apex:outPutPanel>
        <!-- v12.5 *** --> 
          <!--  v7.18 refrsh list when field service template list is built. It also clears current list and Creates new list from the template -->
          <apex:actionFunction name="refreshList" action="{!refreshEstimateProductList}" status="status2"  
                rerender="pageMsg, AddEstimateLinesfromTemplateForm, pageBlock01" />
          
          <apex:pageBlock id="pageBlock01">
            <apex:pageBlockSection columns="2">
                    <apex:outputField value="{!ServiceTicketLine.gii__ServiceTicket__c}"/>                                                     
                    <apex:pageBlockSectionItem >                  
                        <apex:outputLabel value="{!$ObjectType.gii__ServiceTicketLine__c.Fields.Name.label}" for="SrvTktln"/>
                        <apex:outputLink id="SrvTktln" value="/{!ServiceTicketLine.id}">
                        <apex:outputField value="{!ServiceTicketLine.Name}"/> 
                        </apex:outputLink> 
                    </apex:pageBlockSectionItem>
                    <apex:outputField value="{!ServiceTicketLine.gii__ServiceTicket__r.gii__Account__c}"/>
                    <apex:outputField id="gii__AssetReference__c" value="{!ServiceTicketLine.gii__AssetReference__c}"/>                
                    <apex:outputField value="{!ServiceTicketLine.gii__Site__c}"/>
                    <apex:outputField value="{!ServiceTicketLine.gii__Product__c}"/>                    
                <apex:outputField value="{!ServiceTicketLine.gii__FieldServiceEngineer__c}"/>                
                <!--  v7.18 use input field for  field service template and on change refresh the product/service and charge list-->
                <apex:inputField value="{!ServiceTicketLineInput.gii__FieldServiceTemplate__c}" onchange="refreshList();"/>
            </apex:pageBlockSection>
    
            <apex:pagemessages id="pageMsg"></apex:pagemessages>                        
            <apex:pageBlockButtons location="Top" id="pageButton">
                <apex:actionStatus id="status1" >
                    <apex:facet name="start">
                        <apex:outputPanel >
                          <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}"  disabled="true" action="{!cancel}"/>
                          <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/> 
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >                         
                            <!-- v10.1 removed rerender attribute <apex:commandButton action="{!AddEstimateLines}" value="{!$Label.gii__save}" rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}" status="status1" rerender="pageBlock01"/> -->
                              <!-- *** PAKKINENI v12.5 added oncomplete and rerender to enforce the refresh in lightning
                              <apex:commandButton action="{!AddEstimateLines}" value="{!$Label.gii__save}" rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}" 
                                status="status1" /> -->
                              <apex:commandButton action="{!AddEstimateLines}" value="{!$Label.gii__save}" rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}" 
                               rerender="dummyPanelId,pageMsg" oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" status="status1" />
                             <apex:commandButton immediate="true" action="{!cancel}" value="{!$Label.gii__cancel}"/> 
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>
                <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:image url="/img/loading.gif"/>
                    </apex:facet>
                </apex:actionStatus>                
            </apex:pageBlockButtons>    
        <!--  v7.17 Select All link-->
        <apex:outputPanel rendered="{!AND(gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null, OR(ProductsLines.size > 0, ServiceLines.size > 0,AdditionalCharges.size > 0))}">
            {!$Label.gii__selectalllines} <apex:inputCheckbox id="selectallSalesLines" selected="false" accesskey=""        onclick="javascript:SalesLineSelectChecked(document.forms['AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm'],'AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm:pageBlock01:productsLineSection:productsLineTable:', this);
            javascript:ServiceLineSelectChecked(document.forms['AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm'],'AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm:pageBlock01:serviceLineSection:serviceLineTable:', this);
            javascript:additionalChargeSelectChecked(document.forms['AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm'],'AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateFormm:pageBlock01:additionalChargeSection:AdditionalChargeTable:', this);"/>        
            
        </apex:outputPanel>            
            <apex:pageBlockSection collapsible="true" id="productsLineSection" columns="1" Title="{!$ObjectType.gii__ServiceTicketEstimatedProduct__c.labelPlural}" 
                rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}">               
                <!--  v7.18 Add button-->
                <apex:commandButton action="{!addProductsLine}" value="{!$Label.gii__add}" 
                rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}" status="status1" rerender="productsLineSection, pageMsg"/>                               
               
               <apex:pageBlockTable id="productsLineTable" border="1" frame="box" cellpadding="5px"  
                    cellspacing="5px" value="{!ProductsLines}" var="prd"> 

                    <apex:column style="width:4%">
                       <apex:facet name="header">
                           <apex:inputCheckbox id="selectallSalesLines" selected="false"
                              onclick="javascript:SalesLineSelectChecked(document.forms['AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm'],'AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm:pageBlock01:productsLineSection:productsLineTable:', this);"/>
                          </apex:facet>
                        <apex:inputCheckbox value="{!prd.selected}" id="SalesLineSelected" />
                        <!--  v7.18 delete link-->                        
                        <apex:commandlink value="{!$Label.gii__del}" immediate="true" action="{!delProductfromWrapper}"  rerender="productsLineSection, pageMsg">                           
                                <apex:param name="toDelIdent" value="{!prd.ident}" assignTo="{!toDelIdent}"/>
                        </apex:commandlink>    
                    </apex:column>
                    
                    <apex:column style="width:20%" headervalue="{!$ObjectType.gii__ServiceTicketEstimatedProduct__c.Fields.gii__Product__c.label}">
                        <!--  v7.18 render input or output field for product  dynamically-->
                        <apex:outputField value="{!prd.SrvTktEstimatedProduct.gii__Product__c}" rendered="{!NOT(prd.newLine)}"/>                       
                        <apex:outputField value="{!prd.SrvTktEstimatedProduct.gii__Product__c}" rendered="{!AND(prd.newLine, prd.SrvTktEstimatedProduct.gii__Product__c != null)}"/>                       
                            <apex:inputField value="{!prd.SrvTktEstimatedProduct.gii__Product__c}" rendered="{!AND(prd.newLine, prd.SrvTktEstimatedProduct.gii__Product__c == null)}">
                          <apex:actionSupport event="onchange" 
                                    action="{!getProductDefaults}" 
                                    status="status2"
                                    rerender="productsLineSection, pageMsg">
                            </apex:actionSupport>
                        </apex:inputField>  
                        
                    </apex:column>
                                        
                    <apex:column style="width:15%"  headervalue="{!$ObjectType.gii__ServiceTicketEstimatedProduct__c.Fields.gii__Quantity__c.label}" >
                        <apex:inputField value="{!prd.SrvTktEstimatedProduct.gii__Quantity__c}" >
                          <apex:actionSupport event="onchange" 
                                    action="{!getProductDefaults}" 
                                    status="status2"  
                                    rerender="productsLineSection, pageMsg">
                            </apex:actionSupport>
                            </apex:inputField>  
                    </apex:column>
               
                     <apex:column style="width:15%"  headervalue="{!$ObjectType.gii__ServiceTicketEstimatedProduct__c.Fields.gii__UnitPrice__c.label}" >
                        <apex:inputField value="{!prd.SrvTktEstimatedProduct.gii__UnitPrice__c}" />
                    </apex:column>

                     <apex:column style="width:15%"  headervalue="{!$ObjectType.gii__ServiceTicketEstimatedProduct__c.Fields.gii__NoChargeReason__c.label}" >
                        <apex:inputField value="{!prd.SrvTktEstimatedProduct.gii__NoChargeReason__c}" />
                    </apex:column>       
                    
               </apex:pageBlockTable>
            </apex:pageBlockSection>               
              
            <apex:pageBlockSection collapsible="true" id="serviceLineSection" columns="1" Title="{!$ObjectType.gii__ServiceTicketEstimatedService__c.labelPlural}" 
                rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}">
                <!--  v7.18 Add button-->
                <apex:commandButton action="{!addServiceLine}" value="{!$Label.gii__add}" 
                    rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}" status="status1" rerender="serviceLineSection, pageMsg"/>                               
                
                <apex:pageBlockTable id="serviceLineTable" border="1" frame="box" cellpadding="5px"  cellspacing="5px" 
                    value="{!ServiceLines}" var="srv"> 
                    <apex:column style="width:4%">
                       <apex:facet name="header">
                           <apex:inputCheckbox id="selectallServiceLines" selected="false"
                              onclick="javascript:ServiceLineSelectChecked(document.forms['AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm'],'AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm:pageBlock01:serviceLineSection:serviceLineTable:', this);"/>
                          </apex:facet>
                        <apex:inputCheckbox value="{!srv.selected}" id="ServiceLineSelected" />
                        <!--  v7.18 delete link-->
                        <apex:commandlink value="{!$Label.gii__del}" immediate="true" action="{!delServicefromWrapper}" rerender="serviceLineSection, pageMsg">
                            <apex:param name="toDelIdent" value="{!srv.ident}" assignTo="{!toDelIdent}"/>
                        </apex:commandlink>                     
                    </apex:column>
                    
                    <apex:column style="width:20%" headervalue="{!$ObjectType.gii__ServiceTicketEstimatedService__c.Fields.gii__ServiceProduct__c.label}">
                        <!--  v7.18 render input or output field for service product  dynamically-->
                        <apex:outputField value="{!srv.SrvTktEsimatedService.gii__ServiceProduct__c}" rendered="{!NOT(srv.newLine)}"/>

                        <apex:outputField value="{!srv.SrvTktEsimatedService.gii__ServiceProduct__c}" rendered="{!AND(srv.newLine, srv.SrvTktEsimatedService.gii__ServiceProduct__c != null)}"/>                       
                        <apex:inputField value="{!srv.SrvTktEsimatedService.gii__ServiceProduct__c}" rendered="{!AND(srv.newLine, srv.SrvTktEsimatedService.gii__ServiceProduct__c == null)}">                        
                          <apex:actionSupport event="onchange" 
                                    action="{!getServiceDefaults}" 
                                    status="status2"   
                                    rerender="serviceLineSection, pageMsg">
                            </apex:actionSupport>
                        </apex:inputField>                      
                    </apex:column>
                                        
                     <apex:column style="width:15%"  headervalue="{!$ObjectType.gii__ServiceTicketEstimatedService__c.Fields.gii__Quantity__c.label}" >
                        <apex:inputField value="{!srv.SrvTktEsimatedService.gii__Quantity__c}" >
                            <apex:actionSupport event="onchange" 
                                    action="{!getServiceDefaults}" 
                                    status="status2"   
                                    rerender="serviceLineSection, pageMsg ">
                            </apex:actionSupport>
                     </apex:inputField>     
                        
                    </apex:column>
                     <apex:column style="width:15%"  headervalue="{!$ObjectType.gii__ServiceTicketEstimatedService__c.Fields.gii__UnitPrice__c.label}" >
                        <apex:inputField value="{!srv.SrvTktEsimatedService.gii__UnitPrice__c}" />
                    </apex:column>

                     <apex:column style="width:15%"  headervalue="{!$ObjectType.gii__ServiceTicketEstimatedService__c.Fields.gii__NoChargeReason__c.label}" >
                        <apex:inputField value="{!srv.SrvTktEsimatedService.gii__NoChargeReason__c}" />
                    </apex:column>                       
               </apex:pageBlockTable>
            </apex:pageBlockSection>              
 
            <apex:pageBlockSection collapsible="true" id="additionalChargeSection" columns="1" Title="{!$ObjectType.gii__ServiceTicketEstimatedCharge__c.labelPlural}" 
                rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}"> 
                <!--  v7.18 Add button-->
                <apex:commandButton action="{!addChargeLine}" value="{!$Label.gii__add}" rendered="{!gii__ServiceTicketLine__c.gii__DateTimeClosed__c = null}" 
                    status="status1" rerender="additionalChargeSection, pageMsg"/>                               
                                
                <apex:pageBlockTable id="additionalChargeTable" border="1" frame="box" cellpadding="5px"  cellspacing="5px" 
                    value="{!AdditionalCharges}" var="a"> 
                    <apex:column style="width:4%">
                       <apex:facet name="header">
                           <apex:inputCheckbox id="selectallAdditionalCharges" selected="false"
                            onclick="javascript:additionalChargeSelectChecked(document.forms['AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateForm'],'AddEstimateLinesfromTemplatePage:AddEstimateLinesfromTemplateFormm:pageBlock01:additionalChargeSection:AdditionalChargeTable:', this);"/>
                          </apex:facet>
                        <apex:inputCheckbox value="{!a.selected}" id="AdditionalChargeSelected" />
                        <!--  v7.18 delete link-->
                        <apex:commandlink value="{!$Label.gii__del}" immediate="true" action="{!delChargefromWrapper}" rerender="additionalChargeSection, pageMsg">
                            <apex:param name="toDelIdent" value="{!a.ident}" assignTo="{!toDelIdent}"/>
                        </apex:commandlink>                         
                    </apex:column>
                
                    <apex:column style="width:20%" headervalue="{!$ObjectType.gii__ServiceTicketEstimatedCharge__c.Fields.gii__AdditionalCharge__c.label}">
                        <!--  v7.18 render input or output field for additional charge dynamically-->
                        <apex:outputField value="{!a.SrvTktEsimatedCharge.gii__AdditionalCharge__c}" rendered="{!NOT(a.newLine)}"/>
                        <apex:outputField value="{!a.SrvTktEsimatedCharge.gii__AdditionalCharge__c}" rendered="{!AND(a.newLine, a.SrvTktEsimatedCharge.gii__AdditionalCharge__c != null)}"/>                        
                        <apex:inputField value="{!a.SrvTktEsimatedCharge.gii__AdditionalCharge__c}" rendered="{!AND(a.newLine, a.SrvTktEsimatedCharge.gii__AdditionalCharge__c == null)}">
                          <apex:actionSupport event="onchange" 
                                    action="{!getChargeDefaults}" 
                                    status="status2"   
                                    rerender="additionalChargeSection, pageMsg">
                            </apex:actionSupport>
                        </apex:inputField>                      
                    </apex:column>
                                        
                    <apex:column style="width:15%"  headervalue="{!$ObjectType.gii__ServiceTicketEstimatedCharge__c.Fields.gii__Quantity__c.label}" >
                        <apex:inputField value="{!a.SrvTktEsimatedCharge.gii__Quantity__c}">
                          <apex:actionSupport event="onchange" 
                                    action="{!getChargeDefaults}" 
                                    status="status2"   
                                    rerender="additionalChargeSection, pageMsg">
                            </apex:actionSupport>
                        </apex:inputField>                          
                    </apex:column>
                  
                     <apex:column style="width:15%"  headervalue="{!$ObjectType.gii__ServiceTicketEstimatedCharge__c.Fields.gii__UnitPrice__c.label}" >
                        <apex:inputField value="{!a.SrvTktEsimatedCharge.gii__UnitPrice__c}" />
                    </apex:column>

                     <apex:column style="width:15%"  headervalue="{!$ObjectType.gii__ServiceTicketEstimatedCharge__c.Fields.gii__NoChargeReason__c.label}" >
                        <apex:inputField value="{!a.SrvTktEsimatedCharge.gii__NoChargeReason__c}" />
                    </apex:column>  
                    
                </apex:pageBlockTable>
            </apex:pageBlockSection>                
          </apex:pageBlock>
    </apex:form> 

    <script>
    function setFocusOnLoad() {}

    //checking or unchecking the 'select all' checkbox in the line sections
    function SalesLineSelectChecked(form, element_name, value) {
        var i = 0;
        for (i = 0; i < form.elements.length; i++) {
            if (form.elements[i].name.search('SalesLineSelected') > 0 && form.elements[i].disabled == false) {
                form.elements[i].checked = value.checked;
            }
        }
    }

    function ServiceLineSelectChecked(form, element_name, value) {
        var i = 0;
        for (i = 0; i < form.elements.length; i++) {
            if (form.elements[i].name.search('ServiceLineSelected') > 0 && form.elements[i].disabled == false) {
                form.elements[i].checked = value.checked;
            }
        }
    }

    function additionalChargeSelectChecked(form, element_name, value) {
        var i = 0;
        for (i = 0; i < form.elements.length; i++) {
            if (form.elements[i].name.search('AdditionalChargeSelected') > 0 && form.elements[i].disabled == false) {
                form.elements[i].checked = value.checked;
            }
        }
    }

    </script>    
</apex:page>