<!-- Create SalesOrder  Page -->
<apex:page standardController="gii__ServiceTicket__c" extensions="gii.CreateSOrforServiceTicketExtcon" id="CreateSOrforServiceTicketPage" sidebar="false" Tabstyle="gii__ServiceTicket__c" lightningStylesheets="true">
  <apex:sectionHeader subTitle="{!$Label.gii__createsalesorder}" Title="{!ServiceTicket.name}"/>  
  
  <apex:form id="CreateSOForm">
      <apex:pageBlock id="theTable">
           <apex:pageBlockSection columns="2">
                <apex:outputField value="{!SalesOrder.gii__ServiceTicket__c}"/>                                                     
                                            
                <apex:outputField id="Account" value="{!ServiceTicket.gii__Account__c}"/> 
                <apex:inputField value="{!SalesOrder.gii__OrderDate__c}"/>  
                <apex:outputField id="DateTimeClosed" value="{!ServiceTicket.gii__DateTimeClosed__c}"/> 
           </apex:pageBlockSection>

           <apex:pagemessages ></apex:pagemessages>            
                
        <apex:pageBlockButtons location="Top" id="pageButton">
            <apex:actionStatus id="status1" >
                <apex:facet name="start">
                    <apex:outputPanel >
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                        <!-- v10.1 removed rerender attribute <apex:commandButton action="{!CreateSalesOrder}" value="{!$Label.gii__save}"  status="status1" rerender="theTable"/>    -->
                          <apex:commandButton action="{!CreateSalesOrder}" value="{!$Label.gii__save}"  status="status1" />         
                         <apex:commandButton immediate="true" action="{!cancel}" value="{!$Label.gii__cancel}"/> 
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons> 
        
        <!-- Select closed service ticket lines and click on Save to create sales order -->
        <apex:pageBlockSection collapsible="false" id="salesLineSection" columns="1" Title="{!$Label.gii__selectserviceticketlinesandclickonsavetocreateso}">        
            <apex:pageBlockTable id="salesLineTable" border="1" frame="box" cellpadding="5px"  cellspacing="5px" value="{!ServiceTicketLines}" var="l"> 
               <apex:column style="width:2%">
                   <apex:facet name="header">
                       <apex:inputCheckbox id="selectallSalesLines" selected="false" 
                          onclick="javascript:SalesLineSelectChecked(document.forms['CreateSOrforServiceTicketPage:CreateSOForm'],'CreateSOrforServiceTicketPage:CreateSOForm:theTable:salesLineSection:salesLineTable:', this);"/>

                      </apex:facet>
                    <apex:inputCheckbox value="{!l.selected}" id="SalesLineSelected" rendered="{!AND(l.LineDetailExists = true,l.SalesOrderAlreadyCreated = false, l.ServiceTicketLine.gii__DateTimeClosed__c != null )}"  />
                </apex:column>   
                
                <apex:column style="width:10%"   headervalue="{!$ObjectType.gii__ServiceTicketLine__c.Fields.name.label}" value="{!l.ServiceTicketLine.name}" />
                <apex:column style="width:10%"   headervalue="{!$ObjectType.gii__ServiceTicketLine__c.Fields.gii__IsClosed__c.label}" value="{!l.ServiceTicketLine.gii__IsClosed__c}" />

                <apex:column style="width:10%" headervalue="{!$Label.gii__linedetailexists}" >
                    <apex:inputCheckbox value="{!l.LineDetailExists}" disabled="true" />
                </apex:column>  

                <apex:column style="width:10%" headervalue="{!$Label.gii__salesorderalreadycreated}" >
                    <apex:inputCheckbox value="{!l.SalesOrderAlreadyCreated}" disabled="true" />
                </apex:column> 
                
                <apex:column style="width:20%" headervalue="{!$ObjectType.gii__ServiceTicketLine__c.Fields.gii__Product__c.label}" value="{!l.ServiceTicketLine.gii__Product__c}" />
                <apex:column style="width:20%" headervalue="{!$ObjectType.gii__ServiceTicketLine__c.Fields.gii__AssetReference__c.label}" value="{!l.ServiceTicketLine.gii__AssetReference__c}" />
                <apex:column style="width:20%" headervalue="{!$ObjectType.gii__ServiceTicketLine__c.Fields.gii__ServiceDueDate__c.label}" value="{!l.ServiceTicketLine.gii__ServiceDueDate__c}" />
                <apex:column style="width:20%" headervalue="{!$ObjectType.gii__ServiceTicketLine__c.Fields.gii__Quantity__c.label}" value="{!l.ServiceTicketLine.gii__Quantity__c}" />
   
            </apex:pageBlockTable>
        </apex:pageBlockSection>
               
    </apex:pageBlock>
   </apex:form>
   
<script>
function setFocusOnLoad() {}

//checking or unchecking the 'select all' checkbox in the line sections
function SalesLineSelectChecked(form, element_name, value) {
    var i = 0;
    for (i = 0; i < form.elements.length; i++) {
        if (form.elements[i].name.search('SalesLineSelected') > 0 && form.elements[i].disabled == false) {
            form.elements[i].checked = value.checked;
        }
    }
}

</script>   
</apex:page>