<apex:page standardController="gii__PurchaseOrderReceipt__c" extensions="gii.CreateReturntoSuppforPOReceiptExtcon" sidebar="false" Tabstyle="gii__PurchaseOrderReceipt__c" lightningStylesheets="true">
   
  <apex:sectionHeader subTitle="{!$Label.gii__createnewreturntosupplier}" title="{!PurchaseOrderReceipt.name}"/>    
  <apex:form >
      <apex:pageBlock id="theTable">
            <apex:pageBlockSection columns="2">                        
                 <apex:outputField value="{!PurchaseOrderReceipt.gii__PurchaseOrder__c}"/> 
                 <apex:outputField value="{!ReturntoSupplier.gii__PurchaseOrderReceipt__c}"/>
                 <apex:outputField value="{!PurchaseOrderReceipt.gii__Supplier__c}"/>  
                 <apex:outputField value="{!ReturntoSupplier.gii__ShipFrom__c}"/>                  
                 <apex:inputField value="{!ReturntoSupplier.gii__Reference__c}"/>                 
                 <apex:inputField value="{!ReturntoSupplier.gii__Reason__c}"/>                                                   
                 <apex:inputField value="{!ReturntoSupplier.gii__OrderDate__c}"/>
            </apex:pageBlockSection>
        
        <apex:pageBlockButtons location="Top" id="pageButton">
            <apex:actionStatus id="status1" >
                <apex:facet name="start">
                    <apex:outputPanel >
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >                         
                          <!-- v10.1 removed rerender attribute 
                          <apex:commandButton action="{!CreateReturntoSupplier}" value="{!$Label.gii__save}"  status="status1" rerender="theTable"/>       -->
                        <apex:commandButton action="{!CreateReturntoSupplier}" value="{!$Label.gii__save}"  status="status1" />   
                        <apex:commandButton immediate="true" action="{!cancel}" value="{!$Label.gii__cancel}"/> 
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons> 

     <apex:pagemessages ></apex:pagemessages>  
     <apex:pageBlockSection columns="1" Title="{!$ObjectType.gii__ReturntoSupplierLine__c.labelPlural}">                   

        <apex:pageBlockTable id="pageTable" border="1" frame="box" cellpadding="5px"  cellspacing="5px" value="{!RTSLine}" var="p" > 
            <apex:column style="width:5%">
                <apex:facet name="header"> 
                     <apex:inputCheckbox value="{!checkAll}">                          
                        <apex:actionSupport status="pleasewait" event="onclick" action="{!GetSelected}" onsubmit="checkAll(this)" rerender="Selected_PBS"/>
                    </apex:inputCheckbox>                  
                </apex:facet>
                <apex:inputCheckbox value="{!p.selected}" id="checkedone">
                    <apex:actionSupport event="onclick" action="{!GetSelected}" rerender="Selected_PBS"/>
                </apex:inputCheckbox>
            </apex:column>
            <apex:column style="width:25%" headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__Product__c.label}" value="{!p.rtsLine.gii__Product__c}" />
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__PurchaseOrderLine__c.label}" value="{!p.rtsLine.gii__PurchaseOrderLine__c}" />           
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__PurchaseOrderReceiptLine__c.label}" value="{!p.rtsLine.gii__PurchaseOrderReceiptLine__c}" />
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__ShipFrom__c.label}">            
                <apex:inputField value="{!p.rtsLine.gii__ShipFrom__c}" />
            </apex:column> 
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__OrderQuantity__c.label}">
                <apex:inputField value="{!p.rtsLine.gii__OrderQuantity__c}" />
            </apex:column>  
            
             <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__StockUM__c.label}">
                 <apex:outputText value="{!p.rtsLine.gii__StockUM__c}" 
                                        rendered="{!IF(p.rtsLine.gii__BuyingUnitofMeasure__c <> null,false,true)}"/>
                <apex:outputField value="{!p.rtsLine.gii__BuyingUnitofMeasure__c}" 
                                        rendered="{!IF(p.rtsLine.gii__BuyingUnitofMeasure__c <> null,true,false)}"/>                 
            </apex:column>  
            
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__UnitPrice__c.label}">
                <apex:inputField value="{!p.rtsLine.gii__UnitPrice__c}"/>
            </apex:column>          
                       
            
        </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>
   </apex:form>
   
<script>
function setFocusOnLoad() {}

function checkAll(cb) {
  var inputElem = document.getElementsByTagName("input");
  for(var i=0; i<inputElem.length; i++) {
     if(inputElem[i].id.indexOf("checkedone")!=-1)
         inputElem[i].checked = cb.checked;
  }
}   
</script>
</apex:page>