<apex:page standardController="gii__RMAReceipt__c" extensions="gii.CreateRMADispositionExtcon" sidebar="false" Tabstyle="gii__RMA__c" lightningStylesheets="true">
  <!--  Create RMA Disposition Page 
  <apex:sectionHeader title="{!$Label.gii__new} {!$Label.gii__rmadisposition}" help="{!$SControl.gii__RMAOverview}"/>
  -->
  <apex:sectionHeader title="{!$Label.gii__new} {!$Label.gii__rmadisposition}"/>
    <apex:form rendered="{!ManagedInventorybyLocation}">
    <apex:PanelGrid id="detail" columns="1"    width="100%"  cellpadding="5" cellspacing="0" >  
       <apex:panelGroup layout="block"> 
         <apex:PageMessages />                
      </apex:panelGroup>

      <apex:panelGroup layout="block" style="text-align:center"> 
         <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}"  action="{!cancel}" />
      </apex:panelGroup>
   </apex:PanelGrid>  
  </apex:form> 
  
  <apex:form rendered="{!IF(ManagedInventorybyLocation , false, true)}">
      <apex:pageBlock mode="edit">
            <apex:pageBlockSection columns="2">
                 <apex:outputField value="{!RMAReceipt.gii__RMA__c}"/>           
                <apex:pageBlockSectionItem >   
                     <apex:outputLabel value="{!$ObjectType.gii__RMAReceipt__c.Fields.Name.label}" for="pivid"/>
                     <apex:outputLink id="pivid" value="/{!RMAReceipt.id}">
                            <apex:outputField value="{!RMAReceipt.Name}"/>
                     </apex:outputLink>
                 </apex:pageBlockSectionItem> 
                 <apex:outputField value="{!RMAReceipt.gii__RMALineDetail__c}"/>                  
                 <apex:outputField value="{!RMAReceipt.gii__SellingUMReceiptQuantity__c}" label="{!$ObjectType.gii__RMAReceipt__c.Fields.gii__ReceiptQuantity__c.Label}" />                 
                <apex:outputField id="Product" value="{!RMAReceipt.gii__Product__c}"/> 
                 <apex:outputField value="{!RMAReceipt.gii__DispositionQuantity__c}"/>                                    
                 <apex:outputField id="wh" value="{!RMAReceipt.gii__Warehouse__c}"/> 
                <apex:outputField value="{!RMAReceipt.gii__ScrapQuantity__c}"/>      &nbsp;                   
    
                <apex:outputField value="{!RMAReceipt.gii__StockUM__c}" 
                    rendered="{!IF(RMAReceipt.RMALineDetail__r.gii__SellingUnitofMeasure__c <> null,false,true)}"/>
                <apex:outputField value="{!RMAReceipt.RMALineDetail__r.gii__SellingUnitofMeasure__c}" 
                    rendered="{!IF(RMAReceipt.RMALineDetail__r.gii__SellingUnitofMeasure__c <> null,true,false)}"/>              
    
                                     

                

        </apex:pageBlockSection>
      </apex:pageBlock>
  </apex:form>
  <apex:form id="parentForm" rendered="{!IF(ManagedInventorybyLocation , false, true)}">
     <apex:pageBlock mode="edit" title="" id="theTable" >
        <apex:pageBlockButtons location="Top" id="pageButton">
            <apex:actionStatus id="status1" >
                <apex:facet name="start">
                    <apex:outputPanel >
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}" rendered="{!Serialcontrolled}"/>
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}" rendered="{!Lotcontrolled}"/>&nbsp; 
                       <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                       <apex:commandButton id="Saving4" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>                      
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                        <!-- Assign serial button-->
                          <apex:commandButton value="{!$Label.gii__assignserials}" title="{!$Label.gii__generateblankrowsforproductserials}" 
                              rendered="{!Serialcontrolled}" action="{!addSerials}">       
                            <apex:actionSupport onsubmit="if({!serialCount} > 0) return confirm('{!$Label.gii__generateblankrowsforproductserials}');" event="onclick" rerender="serialPanel,serialSection,msg"/>
                          </apex:commandButton>                 
                        <!-- Assign lot button-->
                          <apex:commandButton value="{!$Label.gii__assignlot}" title="{!$Label.gii__generateblankrowsforproductlots}" 
                              rendered="{!Lotcontrolled}" action="{!addLot}">
                            <apex:actionSupport event="onclick" rerender="LotSection,msg"/>
                          </apex:commandButton> &nbsp;  
                          <!-- v10.1 removed rerender attribute 
                          <apex:commandButton action="{!CreateRMADisposition}" value="{!$Label.gii__save}" disabled="{!error}" status="status1" rerender="theTable"/>                              -->
                          <apex:commandButton action="{!CreateRMADisposition}" value="{!$Label.gii__save}" disabled="{!error}" status="status1" />         
                         <apex:commandButton immediate="true" action="{!cancel}" value="{!$Label.gii__cancel}"/>                    
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons> 
        
        <apex:pageBlockSection title="{!$Label.gii__rmadisposition} {!$Label.gii__details}" columns="2">     
            <apex:inputField value="{!RMADisposition.gii__SellingUMDispositionQuantity__c}" />
            <apex:inputField value="{!RMADisposition.gii__DispositionDate__c}" />
                        
            <apex:inputField value="{!RMADisposition.gii__SellingUMScrapQuantity__c}"/>
            <apex:inputField value="{!RMADisposition.gii__ScrapDate__c}" />
            
            <apex:inputField value="{!RMADisposition.gii__NewWarehouse__c}" />

            <apex:inputField value="{!RMADisposition.gii__NewProduct__c}" />
        </apex:pageBlockSection>
        
          <apex:pagemessages id="msg"></apex:pagemessages>
   
        <!-- Assign serials -->
        <apex:pageBlockSection title="{!$Label.gii__assignserials}" columns="1" id="serialSection" rendered="{!RMAReceipt.Product__r.gii__SerialControlled__c}" >
            <c:LotSerialList productId="{!RMAReceipt.gii__Product__c}" ProductSerialCount="{!ProductSerialCount}" productSerial="{!productSerial}" showSerial="true" showLot="false" />        
        </apex:pageBlockSection>
 
        <!-- Assign lot  -->
        <apex:pageBlockSection id="LotSection" columns="1" rendered="{!RMAReceipt.Product__r.gii__LotControlled__c}" title="{!$Label.gii__assignlot}">
          
            <c:LotSerialList productId="{!RMAReceipt.gii__Product__c}" lotDetail="{!lotDetail}" showSerial="false" showLot="true" />        
        </apex:pageBlockSection>
     </apex:pageBlock>
  </apex:form>     
</apex:page>