<apex:page standardController="gii__CycleCount__c" extensions="gii.CycleCountInventoryCountEntryExtCon" sidebar="false" Tabstyle="gii__CycleCount__c" id="CycleCountInventoryCountEntryPage" lightningStylesheets="true">
    <script>
        function setFocusOnLoad() {}
        //checking or unchecking the 'select all' checkbox in the line sections
        function ProductLineSelectChecked(form, element_name, value) {
            var i = 0;
            for (i = 0; i < form.elements.length; i++) {
                if (form.elements[i].name.search('ProductLineSelected') > 0 && form.elements[i].disabled == false) {
                    form.elements[i].checked = value.checked;
                }
            }
        }
        function VoidAll(form, element_name, value) {
            var i = 0;
            for (i = 0; i < form.elements.length; i++) {
                if (form.elements[i].name.search('VoidCheckbox') > 0 && form.elements[i].disabled == false) {
                    form.elements[i].checked = value.checked;
                }             
            }
        }       
        function checkChangedLine(value) {
            document.getElementById(value).checked = true;
        }

    </script> 
    <apex:sectionHeader title="{!$Label.gii__inventorycountentry}" subtitle="{!CycleCount.name}"/>
    <apex:form id="theForm">

        <apex:pageBlock id="pb">
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >                  
                    <apex:outputLabel value="{!$ObjectType.gii__CycleCount__c.Fields.Name.label}" for="CycleCountLink"/>
                    <apex:outputLink id="CycleCountLink" value="/{!CycleCount.id}">
                        <apex:outputField id="CycleCount" value="{!CycleCount.name}"/>  
                    </apex:outputLink> 
                </apex:pageBlockSectionItem>          
                <apex:outputField id="wh" value="{!CycleCount.gii__Warehouse__c}"/>      
            </apex:pageBlockSection>                  

        </apex:pageBlock> 
        <apex:pageBlock id="searchPB" Title="{!$Label.gii__searchfilters}" mode="edit" rendered="{!!ProductError}">
            <table width="100%" class="searchFilterFields" columns="3">
                <tr>
                    <td align="left">    
                        <apex:pageBlockSection columns="3">
                            <apex:inputText label="{!$Label.gii__fromtagnumber}" value="{!FromTagNumber}" />      
                            <apex:inputText label="{!$Label.gii__totagnumber}" value="{!ToTagNumber}"/>                         
                            <apex:inputField value="{!TempCycleCountTag.gii__Warehouse__c}"/>                        
                            <apex:inputField value="{!TempCycleCountTag.gii__Location__c}"/> 
                            <apex:inputField value="{!TempCycleCountTag.gii__LocationBin__c}"/>    
                            <apex:inputField value="{!TempCycleCountTag.gii__Product__c}" />                     
                            <apex:inputField value="{!TempCycleCountTag.gii__ProductLot__c}" rendered="{!!DoNotDisplayProducLot}"/> 
                            <apex:inputField value="{!TempCycleCountTag.gii__ProductSerial__c}" rendered="{!!DoNotDisplayProducSerial}" /> 
                            <apex:inputCheckbox value="{!UnAccountedTagsOnly}" label="{!$Label.gii__unaccountedtagsonly}" /> 

                            <apex:pageBlockSectionItem >                       
                                <apex:commandButton action="{!search}" value="{!$Label.gii__search}" status="status3" rerender="theForm" disabled="{!ProductError}"/>
                                <apex:actionStatus id="status3" stopText="">
                                    <apex:facet name="start">
                                        <apex:image url="/img/loading.gif" style="margin-left:1%;" />                       
                                    </apex:facet>
                                </apex:actionStatus> 
                            </apex:pageBlockSectionItem>                       
                        </apex:pageBlockSection>
                    </td>
                </tr>
            </table>            
        </apex:pageBlock>  
        <apex:pagemessages id="c" />  

        <apex:pageBlock id="DetailPB"   >
            <apex:pageBlockButtons location="top" >
                <apex:actionStatus id="status3" >
                    <apex:facet name="start">
                        <apex:image url="/img/loading.gif"/>
                    </apex:facet>
                </apex:actionStatus>        

                <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:outputPanel > 
                            <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;&nbsp;                  
                            <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;&nbsp;    
                            <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >                        
                            <apex:commandButton action="{!InventoryTagCountEntry}" value="{!$Label.gii__save}" title="{!$Label.gii__save}" status="status2" rerender="theForm" disabled="{!ProductError}"/>
                            <apex:commandButton action="{!SaveAndMore}" value="{!$Label.gii__saveandmore}" title="{!$Label.gii__save}" status="status2" rerender="theForm" disabled="{!ProductError}"/>                       
                            <apex:commandButton action="{!cancel}" value="{!$Label.gii__cancel}" title="{!$Label.gii__returntopreviouspage}"/>
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>          

            <apex:pageBlockSection collapsible="false" title="{!$ObjectType.gii__CycleCountTag__c.labelPlural}" columns="1" id="tableSection" rendered="{!!ProductError}">
            <!-- *** SSAHU v12.7 Added style="width:auto;" for column heading overlapping for lightningStylesheets="true" -->
                <apex:pageBlockTable width="100%" style="width:auto;" value="{!CycleCountDetails}" var="CycleCountDet"  id="table">  
                    <apex:column style="width:2%" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}">
                        <apex:facet name="header">
                            <apex:inputCheckbox id="selectallProductLines" selected="false"
                                onclick="javascript:ProductLineSelectChecked(document.forms['CycleCountInventoryCountEntryPage:theForm'],'CycleCountInventoryCountEntryPage:theForm:DetailPB:tableSection:table:', this);"/>
                        </apex:facet>
                        <apex:inputCheckbox value="{!CycleCountDet.selected}" id="ProductLineSelected"/>                    
                    </apex:column>            
                    <apex:column style="width:2%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label}" id="TagNumber">
                        <apex:outputLink id="TagLink" value="/{!CycleCountDet.CycleCountTag.id}">
                            <apex:outPutField value="{!CycleCountDet.CycleCountTag.gii__TagNumber__c}" /> 
                        </apex:outputLink> 
                    </apex:column>    

                    <apex:column style="width:10%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__Location__c.label}" id="Location" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}">
                        <apex:outPutField value="{!CycleCountDet.CycleCountTag.gii__Location__c}" rendered="{!!CycleCountDet.BlankTagWithPIQD}"/> 
                        <apex:inPutField value="{!CycleCountDet.CycleCountTag.gii__Location__c}"   rendered="{!CycleCountDet.BlankTagWithPIQD}" /> 
                    </apex:column>    
                    <apex:column style="width:10%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__LocationBin__c.label}" id="LocationBin" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}">
                        <apex:outPutField value="{!CycleCountDet.CycleCountTag.gii__LocationBin__c}" rendered="{!!CycleCountDet.BlankTagWithPIQD}"/> 
                        <apex:inPutField value="{!CycleCountDet.CycleCountTag.gii__LocationBin__c}"  rendered="{!CycleCountDet.BlankTagWithPIQD}" /> 
                    </apex:column>
                    <apex:column style="width:10%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__Product__c.label}" id="Product" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}">
                        <apex:outPutField value="{!CycleCountDet.CycleCountTag.gii__Product__c}" rendered="{!!CycleCountDet.BlankTagWithPIQD}"/> 
                        <apex:inPutField value="{!CycleCountDet.CycleCountTag.gii__Product__c}"  rendered="{!CycleCountDet.BlankTagWithPIQD}" /> 
                    </apex:column>          
                    <apex:column style="width:10%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__ProductLot__c.label}" id="ProductLot" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}" rendered="{!!DoNotDisplayProducLot}">
                        <apex:outPutField value="{!CycleCountDet.CycleCountTag.gii__ProductLot__c}" rendered="{!!CycleCountDet.BlankTagWithPIQD}"/> 
                        <apex:inPutField value="{!CycleCountDet.CycleCountTag.gii__ProductLot__c}" rendered="{!CycleCountDet.BlankTagWithPIQD}" /> 
                    </apex:column>          
                    <apex:column style="width:10%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__ProductSerial__c.label}" id="ProductSerial" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}" rendered="{!!DoNotDisplayProducSerial}">
                        <apex:outPutField value="{!CycleCountDet.CycleCountTag.gii__ProductSerial__c}" rendered="{!!CycleCountDet.BlankTagWithPIQD}"/> 
                        <apex:inPutField value="{!CycleCountDet.CycleCountTag.gii__ProductSerial__c}" rendered="{!CycleCountDet.BlankTagWithPIQD}" /> 
                    </apex:column>                  
                    <apex:column style="width:10%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__OriginalCountQuantity__c.label}" id="OriginalCountQuantity" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}">
                        <apex:inPutField value="{!CycleCountDet.CycleCountTag.gii__OriginalCountQuantity__c}" onchange="checkChangedLine('{!$Component.tableSection.table.ProductLineSelected}');" />              
                    </apex:column>              
                    <apex:column style="width:10%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__RecountQuantity__c.label}" id="RecountQuantity" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}">
                        <apex:inPutField value="{!CycleCountDet.CycleCountTag.gii__RecountQuantity__c}"  onchange="checkChangedLine('{!$Component.tableSection.table.ProductLineSelected}');"/> 
                    </apex:column>          
                    <apex:column style="width:10%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__CountedBy__c.label}" id="CountedBy" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}">
                        <apex:inPutField value="{!CycleCountDet.CycleCountTag.gii__CountedBy__c}" /> 
                    </apex:column>  
                    <apex:column style="width:5%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__Void__c.label}" id="Void" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}">
                        <apex:facet name="header"> 
                            <apex:outputPanel layout="voidHeader">
                                <apex:inputCheckbox id="voidAll" selected="false" 
                                    onclick="javascript:VoidAll(document.forms['CycleCountInventoryCountEntryPage:theForm'],'CycleCountInventoryCountEntryPage:theForm:DetailPB:tableSection:table:', this);            javascript:ProductLineSelectChecked(document.forms['CycleCountInventoryCountEntryPage:theForm'],'CycleCountInventoryCountEntryPage:theForm:DetailPB:tableSection:table:', this); "/>
                                <apex:outputLabel value="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__Void__c.label}"/>
                            </apex:outputPanel>                      
                        </apex:facet>    

                        <apex:inPutField id="VoidCheckbox" value="{!CycleCountDet.CycleCountTag.gii__Void__c}"  onchange="checkChangedLine('{!$Component.tableSection.table.ProductLineSelected}');" /> 
                    </apex:column> 
                    <apex:column style="width:10%" headerValue="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__VoidReason__c.label}" id="VoidReason" title="{!$ObjectType.gii__CycleCountTag__c.Fields.gii__TagNumber__c.label} : {!CycleCountDet.CycleCountTag.gii__TagNumber__c}">
                        <apex:inPutField value="{!CycleCountDet.CycleCountTag.gii__VoidReason__c}" /> 
                    </apex:column>
                </apex:pageBlockTable>         
            </apex:pageBlockSection>
        </apex:pageBlock>   
    </apex:form>
</apex:page>