<apex:page controller="gii.DetailPageActionCon"  tabstyle="User" action="{!detailButtonAction}" lightningStylesheets="true">
<apex:PanelGrid id="image" columns="1" border="0" style="text-align:center" width="100%">
<apex:sectionHeader title="Processing Document..." />           
      <apex:image value="/img/waiting_dots.gif" width="156" height="25" rendered="true" >
      </apex:image> 
</apex:PanelGrid>
</apex:page>