<apex:page controller="gii.DetailButtonActionCon"  tabStyle="user"  setup="false" sidebar="false" lightningStylesheets="true">
<apex:stylesheet value="{!$Resource.gii__ActionStatus}" />

<apex:outputPanel id="detail">
<apex:form id="mainform">
<apex:PanelGrid id="sectionH" columns="1" border="0" style="text-align:left" width="100%">
 <apex:sectionHeader title="{!currentAction}" />                
</apex:PanelGrid>
<apex:actionPoller action="{!orderManagementAction}" interval="5" rerender="detail" status="detailStatus" 
enabled="{!actionEnabled}" />
 
<apex:PanelGrid id="detail" columns="1"    width="100%"  cellpadding="5" cellspacing="0" >                                       
    <apex:pagemessages ></apex:pagemessages>
    <apex:PanelGrid id="detail1" columns="1"  style="text-align:center"  width="100%"  cellpadding="5" cellspacing="0" > 
                <apex:PanelGrid id="image" columns="1" border="0" style="text-align:center" width="100%">
                        <apex:image value="/img/waiting_dots.gif" width="156" height="25" rendered="{!actionEnabled}"></apex:image> 
                </apex:PanelGrid>
                <apex:actionStatus id="detailStatus" layout="block" > 
                     <apex:facet name="start">
                     <div class="background" > 
                     </div>
                     </apex:facet>                
                     <apex:facet name="stop">              
                           <apex:panelGroup layout="block" > 
                               <apex:commandButton id="continue" value="{!$Label.gii__continue}" styleclass="btn" rendered="{!continueBtn}" action="{!returnToPrevious}" />

                           </apex:panelGroup>
                     </apex:facet>
                  </apex:actionStatus>    
       </apex:PanelGrid> 
</apex:PanelGrid>  
</apex:form>
</apex:outputpanel>
<div class="normal"></div>
</apex:page>