<apex:page standardController="gii__SalesOrderLine__c" extensions="gii.DirectConsConsumptionOrReturnExtCon" StandardStylesheets="true" id="DirectConsumptionPage"  showHeader="true" sidebar="false" tabStyle="gii__SalesOrderLine__c" lightningStylesheets="true">
 <!-- *** SSAHU v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page and dummy outputpanel to rerender -->
  <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>  
  <apex:outPutPanel layout="block" id="script-block">        
  </apex:outPutPanel>
  <!-- v12.5 *** -->
    <apex:sectionHeader title="{!$Label.gii__directconsignmentconsumptionreturn}" subtitle="{!sol.name}"/> 
    <apex:form id="theForm">
    
        <apex:pageBlock id="pb"  mode="edit">
                 <apex:pageBlockButtons location="Top"  id="pageButton1"  rendered="{!ProductError}">
              <apex:commandButton action="{!cancel}" immediate="true" value="{!$Label.gii__cancel}" id="cancel"/>
          </apex:pageBlockButtons>    
            <apex:pageBlockSection columns="2" Title="{!$ObjectType.gii__SalesOrderLine__c.label}" >    
                <apex:outputField value="{!invRes.gii__SalesOrder__c}" />
                <apex:outputField value="{!invRes.gii__SalesOrderLine__c}" />
                <apex:outputField value="{!sol.gii__SalesOrder__r.gii__OrderType__c}" />               
                <apex:outputField value="{!invRes.gii__Product__c}"  /> 
                <apex:outputField value="{!sol.gii__SalesOrder__r.gii__ConsignmentWarehouse__c}" />
                <apex:outputField value="{!sol.gii__SellingUnitofMeasure__c}" rendered="{!AND(IF(sol.gii__SellingUnitofMeasure__c <> null,true,false),NOT(ProductError))}"  />
                <apex:outputField value="{!sol.gii__StockUM__c}" rendered="{!AND(IF(sol.gii__SellingUnitofMeasure__c <> null,false,true),NOT(ProductError))}" />                  
                <apex:inputField value="{!invRes.gii__ShippedDate__c}" rendered="{!NOT(ProductError)}"/>  
                <apex:outputField value="{!sol.gii__AvailableToConsumeReturn__c}"  />    
                <apex:outputText value="" rendered="{!AND(sol.gii__NonStock__c, NOT(ProductError))}"/>               
                <apex:inputField value="{!invRes.gii__ReserveQuantity__c}" required="true" rendered="{!AND(sol.gii__NonStock__c, NOT(ProductError))}"/>   
           
            </apex:pageBlockSection>   
        </apex:pageBlock>
        <apex:pagemessages id="msg"></apex:pagemessages>
        <apex:pageBlock id="pb1" rendered="{!NOT(ProductError)}">          
          <apex:outputPanel rendered="{!NOT(sol.gii__NonStock__c)}">

            <table width="100%" class="searchFilterFields">
            <tr>
                <td align="left">    
                    <apex:pageBlockSection title="{!$Label.gii__search}">                    
                    <apex:inputField value="{!invRes.gii__Location__c}"/> 
                    <apex:inputField value="{!invRes.gii__ProductLot__c}" rendered="{!sol.gii__Product__r.gii__LotControlled__c}" /> 
                    <apex:inputField value="{!invRes.gii__ProductSerial__c}" rendered="{!sol.gii__Product__r.gii__SerialControlled__c}" />                    
                    </apex:pageBlockSection>
                </td>
            </tr>
            </table>   
         </apex:outputPanel>          
            <apex:pageBlockButtons location="Top" id="pageButton">
                <apex:actionStatus id="status3" >
                    <apex:facet name="start">
                        <apex:image url="/img/loading.gif"/>
                    </apex:facet>
                </apex:actionStatus>  
                <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:outputPanel > 
                           <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" rendered="{!NOT(sol.gii__NonStock__c)}" disabled="true" />
                           <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true"/>
                           <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true"/>                           
                           <apex:commandButton id="Saving4" value="{!$Label.gii__saving}" disabled="true"/>                           
                        
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >
                            <!-- Assign serials button for non stock-->
                            <apex:commandButton value="{!$Label.gii__assignserials}" title="{!$Label.gii__generateblankrowsforproductserials}" 
                            rendered="{!AND(sol.Product__r.gii__SerialControlled__c, sol.gii__NonStock__c)}" action="{!addSerials}">       
                                <apex:actionSupport onsubmit="if({!productSerial.size} > 0) return confirm('{!$Label.gii__generateblankrowsforproductserials}');" event="onclick" rerender="serialPanel,serialSection,msg"/>
                                
                            </apex:commandButton> 
                            <!-- Assign lot button for non-stock-->
                            <apex:commandButton value="{!$Label.gii__assignlot}" title="{!$Label.gii__generateblankrowsforproductlots}" 
                            rendered="{!AND(sol.Product__r.gii__LotControlled__c, sol.gii__NonStock__c)}" action="{!addLot}">
                                <apex:actionSupport event="onclick" rerender="LotSection,msg"/>
                            </apex:commandButton>                         
                        
                        
                            <apex:commandButton action="{!Refresh}" value="{!$Label.gii__refresh}" rendered="{!NOT(sol.gii__NonStock__c)}" status="status3" rerender="theForm"/> 
                            <!-- v10.1 removed rerender attribute <apex:commandButton action="{!ConsignmentConsumeOrReturn}" value="{!$Label.gii__consume}" status="status2" rerender="theTable,theForm">
                                <apex:param name="ButtonAction" value="Consume"/>
                            </apex:commandButton>
                            <apex:commandButton action="{!ConsignmentConsumeOrReturn}" value="{!$Label.gii__consignmentreturn}" status="status2" rerender="theTable,theForm">
                                <apex:param name="ButtonAction" value="Return"/>
                            </apex:commandButton> -->
                            
                            <!-- *** SSAHU v12.5 Commented the below line and added oncomplete to enforce the refresh in lightning --> 
                            <!-- <apex:commandButton action="{!ConsignmentConsume}" value="{!$Label.gii__consume}" status="status2"> -->
                            <apex:commandButton action="{!ConsignmentConsume}" value="{!$Label.gii__consume}" oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" status="status2" rerender="detail,script-block,msg">
                                <apex:param name="ButtonAction" value="Consume"/>
                            </apex:commandButton>
                            <!-- *** SSAHU v12.5 Commented the below line and added oncomplete to enforce the refresh in lightning --> 
                            <!-- <apex:commandButton action="{!ConsignmentReturn}" value="{!$Label.gii__consignmentreturn}" status="status2"> -->
                            <apex:commandButton action="{!ConsignmentReturn}" value="{!$Label.gii__consignmentreturn}" oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" status="status2" rerender="detail,script-block,msg">
                                <apex:param name="ButtonAction" value="Return"/>
                            </apex:commandButton>
                            
                            <apex:commandButton action="{!cancel}" immediate="true" value="{!$Label.gii__cancel}" id="cancel" />
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>           
            </apex:pageBlockButtons> 

            <!-- Assign serials -->
            <apex:pageBlockSection title="{!$Label.gii__assignserials}" columns="1" id="serialSection" rendered="{!AND(sol.Product__r.gii__SerialControlled__c, sol.gii__NonStock__c)}" >
                <c:LotSerialList productId="{!sol.gii__Product__c}" ProductSerialCount="1.0" productSerial="{!productSerial}" showSerial="true" showLot="false" />        
            </apex:pageBlockSection>
            
            <!-- Assign lot  -->
            <apex:pageBlockSection id="LotSection" columns="1" rendered="{!AND(sol.Product__r.gii__LotControlled__c, sol.gii__NonStock__c)}" title="{!$Label.gii__assignlot}">
                <c:LotSerialList productId="{!sol.gii__Product__c}" lotDetail="{!lotDetail}" showSerial="false" showLot="true" />        
            </apex:pageBlockSection>
            
            
            <apex:pageBlockSection columns="1"  collapsible="false" Title="{!$ObjectType.gii__ProductInventoryQuantityDetail__c.labelPlural}" rendered="{!NOT(sol.gii__NonStock__c)}">     
                <apex:pageBlockTable value="{!ProductInventoryQuantityDetails}" var="qtyDet"  id="table">
                            <apex:column style="width:5%">
                               <apex:facet name="header">
                                   <apex:inputCheckbox id="selectallProductLines" selected="false"
                                      onclick="javascript:ProductLineSelectChecked(document.forms['DirectConsumptionPage:theForm'],'DirectConsumptionPage:theForm:pbHdr:tableSection:table:', this);"/>
                                  </apex:facet>
                                <apex:inputCheckbox value="{!qtyDet.selected}" id="ProductLineSelected"/>                    
                            </apex:column>        
                      
                            <apex:column style="width:15%" headerValue="{!$ObjectType.gii__ProductInventoryQuantityDetail__c.Fields.gii__Location__c.label}" >
                                <apex:outPutField value="{!qtyDet.ProductInvQtyDetail.gii__Location__c}"/> 
                            </apex:column>       
                               
                             <apex:column style="width:15%" headerValue="{!$ObjectType.gii__ProductInventoryQuantityDetail__c.Fields.gii__LocationBin__c.label}" >
                                <apex:outPutField value="{!qtyDet.ProductInvQtyDetail.gii__LocationBin__c}"/> 
                            </apex:column>  
                                                       
                            <apex:column style="width:15%" headerValue="{!$ObjectType.gii__ProductInventoryQuantityDetail__c.Fields.gii__ProductSerial__c.label}"  rendered="{!sol.gii__Product__r.gii__SerialControlled__c}">
                                <apex:outPutField value="{!qtyDet.ProductInvQtyDetail.gii__ProductSerial__c}"/> 
                            </apex:column>                              
                            
                            <apex:column style="width:15%" headerValue="{!$ObjectType.gii__ProductInventoryQuantityDetail__c.Fields.gii__ProductLot__c.label}"  rendered="{!sol.gii__Product__r.gii__LotControlled__c}">
                                <apex:outPutField value="{!qtyDet.ProductInvQtyDetail.gii__ProductLot__c}"/> 
                            </apex:column>  
                            <apex:column style="width:5%" headerValue="{!$ObjectType.gii__ProductInventoryQuantityDetail__c.Fields.gii__LotRestricted__c.label}"  rendered="{!sol.gii__Product__r.gii__LotControlled__c}">
                                <apex:outPutField value="{!qtyDet.ProductInvQtyDetail.gii__LotRestricted__c}" /> 
                            </apex:column>                  
                            <apex:column style="width:15%" headerValue="{!$ObjectType.gii__ProductInventoryQuantityDetail__c.Fields.gii__Available__c.label}" >
                                <!--<apex:outPutField value="{!qtyDet.ProductInvQtyDetail.Available__c}"/>--> 
                                <apex:outPutText value="{!qtyDet.AvailableQtyinSellingUM}"/> 
                            </apex:column>      
                            <apex:column style="width:15%" headerValue="{!$Label.gii__quantity}" >                                
                                <apex:inPutField value="{!qtyDet.IR.gii__ReserveQuantity__c}"/> 
                            </apex:column>                                  
                    
                </apex:pageBlockTable>
            </apex:pageBlockSection>           
    </apex:pageBlock>   
        
    </apex:form>    
 <script>
    function setFocusOnLoad() {}

    //checking or unchecking the 'select all' checkbox in the line sections

    function ProductLineSelectChecked(form, element_name, value) {
        var i = 0;
        for (i = 0; i < form.elements.length; i++) {
            if (form.elements[i].name.search('ProductLineSelected') > 0 && form.elements[i].disabled == false) {
                form.elements[i].checked = value.checked;
            }
        }
    }
</script>
</apex:page>