<apex:page Controller="gii.HelpGetLangCon" showheader="false" sidebar="false" 
    action="{!URLFOR($Resource.gloviaOM_Help, Lang + '/ProductInventory.htm')}" >
</apex:page>

<!--
<apex:page Controller="gii.HelpGetLangCon" showheader="false" sidebar="false">
<link rel="stylesheet" type="text/css" href="help.css"/>
<link rel="stylesheet" type="text/css" href="/sCSS/Theme2/default/help.css"/>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
<title>
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫","Product Inventory")}" />
</title>
</head>

<body>
<table style="font-family: Arial; width: 100%; height: 52px;"> 
<tbody><tr style="color: white;"><td style="background-color: rgb(115, 126, 150);">
<big><b>
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫ホーム","Product Inventory Home")}" />
</b></big>
</td></tr></tbody> 
</table> 
<br/>

<span style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">
<table style="font-family: Arial; font-weight: bold; color: white; width: 100%; height: 20px;">
<tbody><tr><td style="background-color: rgb(115, 126, 150);">
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫とは","What is a Product Inventory")}" />
</td></tr></tbody>
</table>

<p class="MsoNormal">
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫は、商品と在庫場所の組合せで構成される情報であり、在庫数量や出入庫数量、シリアル番号、ロット番号、トランザクション履歴など、在庫に関する情報が管理されます。","Product Inventory is based on a combination of Product and Warehouse. All inventory related information, such as inventory quantity, product serial, product lot, transaction history, can be managed in Product Inventory.
")}" /><br/><br/>
</p>
<br/>
<table style="color: white; font-family: Arial; font-weight: bold; height: 20px; width: 100%;">
<tbody><tr><td style="background-color: rgb(115, 126, 150);">
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫の作成","Creating Product Inventory")}" />
</td></tr></tbody>
</table>
 
<p class="MsoNormal" style="margin-top: 12pt;"><apex:outputtext value="{!IF(Lang = 'ja',"商品在庫は、商品と在庫場所を指定することで作成できます。商品は、商品タブで作成済の商品からの選択、在庫場所はコードメンテナンス・タブで作成済の在庫場所からの選択にて指定します。","A new Product Inventory can be created by selecting a Product and Warehouse. Products will be selected from existing Products in Products Tab, and Warehouse will be selected from existing Warehouses, which are managed in Code Maintenance Tab. ")}" /><br/></p><br/>
<table style="font-weight: bold; font-family: Arial; color: white; width: 100%; hdight: 20px;">
<tbody><tr><td style="background-color: rgb(115, 126, 150);">
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫の編集","Editing Product Inventory")}" />
</td></tr></tbody>
</table>

<p class="MsoNormal" style="margin-top: 12pt;"><apex:outputtext value="{!IF(Lang = 'ja',"一旦作成された商品在庫は、商品および在庫場所を変更することはできません。また、在庫予約などの商品在庫に対するトランザクションが既に実施されている場合には、商品在庫を削除することはできません。","Once a Product Inventory was created, it is NOT allowed to change Product or Warehouse. Also, once transactions for a Product Inventory were processed, it is NOT allowed to delete that Product Inventory. ")}" /></p><br/><br/>
<b><apex:outputtext value="{!IF(Lang = 'ja', "関連情報：", "See Also:")}" /></b><br/>
<apex:outputlink value="/apex/Help_InventoryReserve"><apex:outputtext value="{!IF(Lang = 'ja',"在庫予約","Inventory Reserves")}" /></apex:outputlink><br/>
<apex:outputlink value="/apex/Help_PurchaseOrderLine"><apex:outputtext value="{!IF(Lang = 'ja',"購買オーダーライン","Purchase Order Lines")}" /></apex:outputlink><br/>
<apex:outputlink value="/apex/Help_PurchaseOrderReceipLine"><apex:outputtext value="{!IF(Lang = 'ja',"購買オーダー受入ライン","Purchase Order Receipt Lines")}" /></apex:outputlink><br/>
<br/><br/>
<table style="color: white; font-family: Arial; font-weight: bold; height: 20px; width: 100%;">
<tbody><tr><td style="background-color: rgb(115, 126, 150);">
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫のボタン／リンク","Buttons/Links of Product Inventory")}" />
</td></tr></tbody>
</table>

<div class="p">
<table summary="" class="featureTable" cellpadding="4"
 cellspacing="0" width="100%">
<thead align="left"><tr>
<th class="featureTableHeader" valign="top" width="200">
<apex:outputtext value="{!IF(Lang = 'ja',
"ボタン／リンク",
"Button/Link")}" />
</th>
<th class="featureTableHeader" valign="top">
<apex:outputtext value="{!IF(Lang = 'ja',
"説明",
"Description")}" />
</th></tr>
</thead>

<tbody><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"在庫調整","Create Inventory Adjustment")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"在庫調整のための入力画面を開く。","Opens Inventory Adjustment screen.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"在庫移動","Create Inventory Transfer")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"在庫移動のための入力画面を開く。","Opens Inventory Transfer screen.")}" />
</td>
</tr></tbody>
</table>
</div><br/><br/>
<table style="color: white; font-family: Arial; font-weight: bold; height: 20px; width: 100%;">
<tbody><tr><td style="background-color: rgb(115, 126, 150);">
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫の項目","Fields of Product Inventory")}" />
</td></tr></tbody>
</table>

<div class="p">
<table summary="" class="featureTable" cellpadding="4"
 cellspacing="0" width="100%">
<thead align="left"><tr>
<th class="featureTableHeader" valign="top" width="200">
<apex:outputtext value="{!IF(Lang = 'ja',
"項目",
"Field")}" />
</th>
<th class="featureTableHeader" valign="top">
<apex:outputtext value="{!IF(Lang = 'ja',
"説明",
"Description")}" />
</th></tr>
</thead>

<tbody><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫","Inventory Sequence")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja'," 商品在庫の番号。","The product inventory number. A unique number for the product inventory.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"在庫調整","Adjustment")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"在庫調整の数量（累積）。","Warehouse product inventory quantity adjusted.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"使用可能","Available")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"使用可能在庫数。","Warehouse product inventory available  quantity")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"受注残","Back Order")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"受注残在庫数。","Warehouse product quantity to be delivered.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"預託在庫消費","Consignment Consumed")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"預託在庫消費の数量（累積）。","Consignment Warehouse Product inventory quantity consumed by the Consignment Consumption order.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"預託在庫受入","Consignment Receipts")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"預託在庫受入の数量（累積）。","Consignment Warehouse Product inventory quantity received at the Consignment Warehouse.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"移動中","In Transit")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"移動中在庫数。","Warehouse Product inventory quantity In Transit.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"現在庫","On Hand")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"現在庫数。","Warehouse Product inventory quantity on hand.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"商品","Product")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"商品の名称。","Name of the Warehouse Product.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"購買オーダー","Purchase Order")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"購買オーダーの数量の合計。","Warehouse Product inventory quantity on Purchase Order.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"購買受入","Purchase Receipt")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"購買受入の数量（累積）。","Warehouse product inventory Purchase order receipts quantity")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"予約","Reserve")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"在庫予約数。","Warehouse product inventory reserved quantity")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"返品","RMA")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"返品の数量。","Warehouse product inventory RMA quantity")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"返品仕分け","RMA Disposition")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"返品仕分けの数量。","Warehouse product inventory RMA Disposition quantity")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"出荷","Shipped")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"出荷済の数量（累積）。","Warehouse product inventory quantity shipped.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"供給オーダー","Supply Order")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"供給オーダーの数量の合計。","Warehouse Product inventory quantity on Supply Order.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"供給受入","Supply Receipts")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"供給受入の数量（累積）。","Warehouse product inventory supply order receipts quantity")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"オーダー数合計","Total On Order")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"購買オーダーの数量と供給オーダーの数量の合計。","Warehouse product inventory Total on order quantity of Purchase Order and Supply Order.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"受入合計","Total Receipt")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"購買受入の数量と供給受入の数量の合計。","Warehouse product inventory Total Receipt quantity of Purchase Order Receipt and Supply Order Receipt.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"移動入庫","Transfer In")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"移動入庫の数量（累積）。","Warehouse product inventory Transfer In quantity")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"移動出庫","Transfer Out")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"移動出庫の数量（累積）。","Warehouse product inventory Transfer Out quantity")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"単位","Unit Of Measure")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"商品在庫の管理単位。商品関連情報のデフォルト値がセットされる。","Unit Of Measure code for the warehouse product. Defaulted from Product Reference.")}" />
</td>
</tr><tr>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"在庫場所","Warehouse")}" />
</td>
<td>
<apex:outputtext value="{!IF(Lang = 'ja',"在庫場所の名称。","Name of the Warehouse for which product inventory is maintained.")}" />
</td>
</tr></tbody>
</table>
</div>
</span></body>

<div class="helpPageFooter">Copyright  2008-{!YEAR( TODAY() )} Glovia International, inc. All rights reserved.<br/>
Various trademarks held by their respective owners.</div>
</html>
</apex:page>
-->
<!-- Generation Date & Time: 5/4/2010 7:07:02 PM PST -->