<apex:page Controller="gii.HelpGetLangCon" showheader="false" sidebar="false" 
    action="{!URLFOR($Resource.gloviaOM_Help, Lang + '/Routing.htm')}" >
</apex:page>

<!--
<apex:page Controller="gii.HelpGetLangCon" showheader="false" sidebar="false">
<link rel="stylesheet" type="text/css" href="help.css"/>
<link rel="stylesheet" type="text/css" href="/sCSS/Theme2/default/help.css"/>
<apex:outputpanel rendered="{!IF(Lang != 'ja',true,false)}">
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
<title>
Routing
</title>
</head>
<body>
<table style="font-family: Arial; width: 100%; height: 52px;">
<tbody>
<tr style="color: white;">
<td style="background-color: rgb(115, 126, 150);"><big><b>Routing Home</b></big></td></tr></tbody></table><br/>
<span style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">
<table style="font-family: Arial; font-weight: bold; color: white; width: 100%; height: 20px;">
<tbody>
<tr><td style="background-color: rgb(115, 126, 150);">What is a Routing</td></tr></tbody></table></span>
<p class="MsoNormal">A routing is the sequence of operations required to assemble a material product or to deliver a service product. Routings define labor, machine, and outside processing activities required to manufacture a material product or process a service product.</p>
<p class="MsoNormal">For example, a product routing represents the most current operations used to manufacture a material product or process a service product, providing the current standard move time, setup time, and run time required for each operation.</p>
<p class="MsoNormal">Using the Work Center tab in code maintenance page, you can establish work centers and associate them with work center rates. Work centers are used within glovia OM to calculate value added costs (for product routing operations).</p>
<p class="MsoNormal">Routings are also used by the single level cost roll up page to calculate value added costs during cost roll up processing. For example, operation standard times are extended at work center rates to arrive at costs for setup and run costs, and overhead costs. </p>
<p class="MsoNormal">A default routing can be specified for a product in its product reference record. </p>
<br/>
<span style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">
<table style="font-family: Arial; font-weight: bold; color: white; width: 100%; height: 20px;">
<tbody>
<tr><td style="background-color: rgb(115, 126, 150);">Fields of Routing</td></tr></tbody></table></span>
<div class="p">
<table summary="" class="featureTable" cellpadding="4" cellspacing="0" width="100%">
<thead align="left">
<tr>
<th class="featureTableHeader" valign="top" width="200">Field Label</th>
<th class="featureTableHeader" valign="top">Data Type</th>
<th class="featureTableHeader" valign="top">Description</th></tr></thead><tbody>
<tr><td>Routing Name</td><td>Text(80)</td><td>The Product Routing name. </td></tr>
<tr><td>Description</td><td>Text(255)</td><td>A description associated with a routing.</td></tr>
<tr><td>Product </td><td>Master-Detail(Product Reference)</td><td>Product for which the routing is created</td></tr>
</tbody></table></div><br/><br/>
</body>
</apex:outputpanel>
<apex:outputpanel rendered="{!IF(Lang = 'ja',true,false)}">
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
<title>
Routing
</title>
</head>
<body>
<table style="font-family: Arial; width: 100%; height: 52px;">
<tbody>
<tr style="color: white;">
<td style="background-color: rgb(115, 126, 150);"><big><b>Routing Home</b></big></td></tr></tbody></table><br/>
<span style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">
<table style="font-family: Arial; font-weight: bold; color: white; width: 100%; height: 20px;">
<tbody>
<tr><td style="background-color: rgb(115, 126, 150);">What is a Routing</td></tr></tbody></table></span>
<p class="MsoNormal">A routing is the sequence of operations required to assemble a material product or to deliver a service product. Routings define labor, machine, and outside processing activities required to manufacture a material product or process a service product.</p>
<p class="MsoNormal">For example, a product routing represents the most current operations used to manufacture a material product or process a service product, providing the current standard move time, setup time, and run time required for each operation.</p>
<p class="MsoNormal">Using the Work Center tab in code maintenance page, you can establish work centers and associate them with work center rates. Work centers are used within glovia OM to calculate value added costs (for product routing operations).</p>
<p class="MsoNormal">Routings are also used by the single level cost roll up page to calculate value added costs during cost roll up processing. For example, operation standard times are extended at work center rates to arrive at costs for setup and run costs, and overhead costs. </p>
<p class="MsoNormal">A default routing can be specified for a product in its product reference record. </p>
<br/>
<span style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">
<table style="font-family: Arial; font-weight: bold; color: white; width: 100%; height: 20px;">
<tbody>
<tr><td style="background-color: rgb(115, 126, 150);">Fields of Routing</td></tr></tbody></table></span>
<div class="p">
<table summary="" class="featureTable" cellpadding="4" cellspacing="0" width="100%">
<thead align="left">
<tr>
<th class="featureTableHeader" valign="top" width="200">Field Label</th>
<th class="featureTableHeader" valign="top">Data Type</th>
<th class="featureTableHeader" valign="top">Description</th></tr></thead><tbody>
<tr><td>Routing Name</td><td>Text(80)</td><td>The Product Routing name. </td></tr>
<tr><td>Description</td><td>Text(255)</td><td>A description associated with a routing.</td></tr>
<tr><td>Product </td><td>Master-Detail(Product Reference)</td><td>Product for which the routing is created</td></tr>
</tbody></table></div><br/><br/>
</body>
</apex:outputpanel>
<div class="helpPageFooter">
Copyright  2008-{!YEAR( TODAY() )} Glovia International, inc. All rights reserved.<br/>
Various trademarks held by their respective owners.
</div>
</apex:page>
-->
<!-- Generation Date & Time: 2/7/2011 9:21:49 PM PST -->