<apex:page StandardController="gii__ServiceTicketLine__c"  sidebar="false" tabstyle="gii__ServiceTicketLine__c" extensions="gii.InventoryInquirySTLCon" docType="html-5.0" lightningStylesheets="true">
<apex:sectionHeader title="{!$Label.gii__inventoryinquiryforserviceticketline}" subtitle="{!ServiceTicketLine.Name}"/>
 <apex:form >
  <apex:actionFunction name="refreshList" action="{!refreshEstimateProductList}" rerender="productLineSection, DetailSection,table" /> 
  <apex:PageMessages rendered="{!showError}" id="error" ></apex:PageMessages>    
  <apex:pageBlock >
        <apex:pageBlockSection columns="2">
        
         <apex:pageBlockSectionItem >
             <apex:outputLabel value="{!$ObjectType.gii__ServiceTicket__c.Fields.name.Label}" for="ServiceTicket"/>
             <apex:outputField value="{!ServiceTicketLine.gii__ServiceTicket__c}" id="ServiceTicket"/> 
         </apex:pageBlockSectionItem>
         
         <apex:pageBlockSectionItem >
             <apex:outputLabel value="{!$ObjectType.gii__ServiceTicketLine__c.Fields.name.Label}" for="SalesQuote__name"/>
             <apex:outputlink value="/{!ServiceTicketLine.Id}" id="SalesQuote__name">{!ServiceTicketLine.Name}</apex:outputlink>
         </apex:pageBlockSectionItem>

         <apex:pageBlockSectionItem >
             <apex:outputLabel value="{!$ObjectType.gii__ServiceTicket__c.Fields.gii__Account__c.Label}" for="account__name"/> 
             <apex:outputlink value="/{!ServiceTicketLine.gii__ServiceTicket__r.gii__Account__c}" id="account__name">
             {!ServiceTicketLine.gii__ServiceTicket__r.Account__r.Name}</apex:outputlink>        
         </apex:pageBlockSectionItem>

         <apex:pageBlockSectionItem >
             <apex:outputLabel value="{!$ObjectType.gii__AssetReference__c.Label}" for="Asset"/>
             <apex:outputField value="{!ServiceTicketLine.gii__AssetReference__c}" id="Asset"/> 
         </apex:pageBlockSectionItem>

         <apex:pageBlockSectionItem >
             <apex:outputLabel value="{!$ObjectType.gii__Site__c.Label}" for="site"/>
             <apex:outputField value="{!ServiceTicketLine.gii__Site__c}" id="site"/> 
         </apex:pageBlockSectionItem>

         <apex:pageBlockSectionItem >
             <apex:outputLabel value="{!$ObjectType.gii__ServiceTicketLine__c.Fields.gii__Product__c.Label}" for="product"/>
             <apex:outputField value="{!ServiceTicketLine.gii__Product__c}" id="product"/> 
         </apex:pageBlockSectionItem>        

         <apex:pageBlockSectionItem >
             <apex:outputLabel value="{!$ObjectType.gii__ServiceTicketLine__c.Fields.gii__FieldServiceEngineer__c.Label}" for="FSE"/>
             <apex:outputField value="{!ServiceTicketLine.gii__FieldServiceEngineer__c}" id="FSE"/> 
         </apex:pageBlockSectionItem>        
         
         <apex:pageBlockSectionItem >
             <apex:outputLabel value="{!$ObjectType.gii__FieldServiceEngineer__c.Fields.gii__Warehouse__c.Label}" for="SQWarehouse"/>
             <apex:inputField value="{!st.gii__Warehouse__c}" id="SQWarehouse" onchange="refreshList();" /> 
         </apex:pageBlockSectionItem>

   </apex:pageBlockSection>
 
  <apex:pageblockSection title="{!$ObjectType.gii__ServiceTicketEstimatedProduct__c.LabelPlural}" columns="1" id="productLineSection">       
      <apex:PageBlockTable border="0" frame="border" value="{!TPHList}" var="TPH" width="100%"  id="table"
          style="table-layout:fixed;" >
          <!--  columnsWidth="180,75,140,95,95,95,95,95,95,95,25,180" -->
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Product__c.Label}">
                    <apex:outputField value="{!TPH.gii__Product__c}" />
                </apex:column>
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__NonStock__c.Label}">
                    <apex:outputField value="{!TPH.gii__NonStock__c}" />
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Warehouse__c.Label}" rendered="{!salesforce1!=true}">
                    <apex:outputField value="{!TPH.Warehouse__c }"/>
                </apex:column>
                
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Required__c.Label}">
                    <apex:outputField value="{!TPH.gii__Required__c}"/>
                </apex:column>
                
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__OnHand__c.Label}" rendered="{!salesforce1!=true}">
                     <apex:outputField value="{!TPH.gii__OnHand__c}"/>
                 </apex:column>
                
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Reserved__c.Label}" rendered="{!salesforce1!=true}">
                    <apex:outputField value="{!TPH.Reserved__c }"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__BackOrder__c.Label}" rendered="{!salesforce1!=true}">
                    <apex:outputField value="{!TPH.BackOrder__c }"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Available__c.Label}">
                    <apex:outputField value="{!TPH.Available__c }"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Shortage__c.Label}" rendered="{!salesforce1!=true}">
                    <apex:outputField value="{!TPH.gii__Shortage__c}"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__TotalOnOrder__c.Label}" rendered="{!salesforce1!=true}">
                    <apex:outputField value="{!TPH.gii__TotalOnOrder__c}"/>
                </apex:column>                    
                
                <apex:column style="text-align:left;vertical-align:top;">
                    <apex:image id="red" value="{!$Resource.gii__Red_Dot}" height="20" width="20" rendered="{!IF(TPH.gii__Status__c='red',true,false)}"/>
                    <apex:image id="green" value="{!$Resource.gii__Green_Dot}" height="20" width="20" rendered="{!IF(TPH.gii__Status__c='green',true,false)}"/>
                </apex:column>

                <apex:column >

                    <apex:commandLink value="{!$Label.gii__substitute}" action="{!showDetail}"  rendered="{!TPH.gii__Substitute__c}"  title="{!$Label.gii__clickheretoseeproductinventorydetails}" ><br/>
                        <apex:param id="p4" name="detailType" value="{!$Label.gii__substitute}"/> 
                        <apex:param id="p41" name="ProdId" value="{!TPH.gii__Product__c}"/>  
                        <apex:param id="p43" name="RequiredQty" value="{!TPH.Required__c }"/>
                    </apex:commandLink>

                    <apex:commandLink value="{!$Label.gii__otherwarehouses}" action="{!showDetail}" rendered="{!TPH.gii__OtherWarehouses__c}" title="{!$Label.gii__clickheretoseeproductinventorydetails}" >
                        <apex:param id="p5" name="detailType" value="{!$Label.gii__otherwarehouses}"/> 
                        <apex:param id="p51" name="ProdId" value="{!TPH.gii__Product__c}"/>  
                        <apex:param id="p53" name="RequiredQty" value="{!TPH.Required__c }"/>
                    </apex:commandLink>
                </apex:column>   
      </apex:PageBlockTable>
    </apex:pageblockSection>  
<!--   </apex:pageBlock>
 </apex:form>        
{!DetailExists}
<apex:pageBlock id="DetailsearchResult" rendered="{!DetailExists}" >  -->
    <!-- <apex:form id="DetailForm" rendered="{!DetailExists}" > -->
      <apex:pageblockSection title="{!DetailTitle}" columns="1" id="DetailSection">  
       <apex:actionStatus startText="Loading...." /> 

     <!-- AvailableInventory of Details  -->
          <apex:PageBlockTable border="0" frame="border" value="{!TPHDetailList}" var="TPHDetail" width="100%" 
              style="table-layout:fixed;"   id="DetailTable" rendered="{!DetailExists}">
              <!-- columnsWidth="180,75,140,95,95,95,95,95,95,95,25,180"-->
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Product__c.Label}">
                    <apex:outputField value="{!TPHDetail.gii__Product__c}" />
                </apex:column>
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__NonStock__c.Label}">
                    <apex:outputField value="{!TPHDetail.gii__NonStock__c}" />
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Warehouse__c.Label}">
                    <apex:outputField value="{!TPHDetail.Warehouse__c }"/>
                </apex:column>
                
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Required__c.Label}">
                    <apex:outputField value="{!TPHDetail.gii__Required__c}"/>
                </apex:column>
                
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__OnHand__c.Label}" rendered="{!salesforce1!=true}">
                     <apex:outputField value="{!TPHDetail.gii__OnHand__c}"/>
                 </apex:column>
                
                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Reserved__c.Label}" rendered="{!salesforce1!=true}">
                    <apex:outputField value="{!TPHDetail.Reserved__c }"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__BackOrder__c.Label}" rendered="{!salesforce1!=true}">
                    <apex:outputField value="{!TPHDetail.BackOrder__c }"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Available__c.Label}" >
                    <apex:outputField value="{!TPHDetail.Available__c }"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__Shortage__c.Label}" rendered="{!salesforce1!=true}">
                    <apex:outputField value="{!TPHDetail.gii__Shortage__c}"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__TemporaryPlaceHolder__c.Fields.gii__TotalOnOrder__c.Label}" rendered="{!salesforce1!=true}">
                    <apex:outputField value="{!TPHDetail.gii__TotalOnOrder__c}"/>
                </apex:column>
                
                <apex:column style="text-align:left;vertical-align:top;">
                    <apex:image id="red" value="{!$Resource.gii__Red_Dot}" height="20" width="20" rendered="{!IF(TPHDetail.gii__Status__c='red',true,false)}"/>
                    <apex:image id="green" value="{!$Resource.gii__Green_Dot}" height="20" width="20" rendered="{!IF(TPHDetail.gii__Status__c='green',true,false)}"/>
                </apex:column>
                
            </apex:PageBlockTable>
       </apex:pageblockSection>     
    </apex:pageBlock>
   </apex:form>   
</apex:page>