<apex:page StandardController="gii__InventoryTransfer__c" extensions="gii.InventoryTransferProductSerialsCon" tabStyle="gii__ProductInventory__c" lightningStylesheets="true">
<script type="text/javascript">
 function openpopup(text) {  
    var url = '{!JSENCODE(URLFOR($Page.gii__ShowSerials, null, [id=ProductDetails.gii__Product__c], false))}' + '&fieldId=' + {!JSENCODE('text')};
    var SerialWindow = window.open(url,'','left=300,top=200,height=500,width=750,status=yes,scrollbars=yes,resizable=yes');
 }
</script>
<!-- show Error Message-->
  <apex:form rendered="{!IF(Serialcontrolled , false, true)}">
    <apex:PanelGrid id="detail" columns="1"    width="100%"  cellpadding="5" cellspacing="0" >  
       <apex:panelGroup layout="block"> 
         <apex:PageMessages />                
      </apex:panelGroup>

      <apex:panelGroup layout="block" style="text-align:center"> 
         <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}"  action="{!reset}" />
      </apex:panelGroup>
   </apex:PanelGrid>  
  </apex:form>

  <!-- Product Serials -->
 <apex:form rendered="{!Serialcontrolled}">
     <apex:PageBlock title="{!$Label.gii__inventorytransferdetails}" >
         <apex:pageBlockSection columns="1" >
           <apex:pageBlockTable value="{!ProductDetails}" var="product"  >
                <apex:column colspan="150" headerValue="{!$ObjectType.gii__InventoryTransfer__c.Fields.Name.Label}"><apex:outputField value="{!product.Name}"></apex:outputField></apex:column>
                <apex:column colspan="150" headerValue="{!$ObjectType.gii__InventoryTransfer__c.Fields.gii__ProductInventory__c.Label}"><apex:outputField value="{!product.gii__ProductInventory__c}"></apex:outputField></apex:column>
                <apex:column colspan="220" headerValue="{!$ObjectType.gii__InventoryTransfer__c.Fields.gii__Product__c.Label}"><apex:outputField value="{!product.gii__Product__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryTransfer__c.Fields.gii__Warehouse__c.Label}" ><apex:outputField value="{!product.gii__Warehouse__c}"></apex:outputField></apex:column> 
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryTransfer__c.Fields.gii__ToWarehouse__c.Label}" ><apex:outputField value="{!product.gii__ToWarehouse__c}"></apex:outputField></apex:column> 
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryTransfer__c.Fields.gii__ToWarehouseProduct__c.Label}" ><apex:outputField value="{!product.gii__ToWarehouseProduct__c}"></apex:outputField></apex:column> 
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryTransfer__c.Fields.gii__TransferOutQuantity__c.Label}"><apex:outputField value="{!product.gii__TransferOutQuantity__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryTransfer__c.Fields.gii__StockUM__c.Label}" >
                                <apex:outputField value="{!product.gii__StockUM__c}" rendered="{!IF(product.Product__r.gii__StockingUnitofMeasure__c <> null,false,true)}"/>
                <apex:outputField value="{!product.Product__r.gii__StockingUnitofMeasure__c}" rendered="{!IF(product.Product__r.gii__StockingUnitofMeasure__c <> null,true,false)}"/> 
                </apex:column> 
           </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:PageBlock>
 </apex:form>

 <apex:form id="parentForm" rendered="{!Serialcontrolled}">
    <apex:PageBlock id="theTable" title="{!$Label.gii__productserialcount}  {!FLOOR(ProductSerialCount)} " >
        <apex:pageBlockButtons location="Top" id="pageButton">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                       <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                         <apex:commandButton value="{!$Label.gii__assignserials}"   action="{!add}" />
                         <!-- v10.1 removed rernder attribute 
                         <apex:commandButton value="{!$Label.gii__save}"  action="{!Save}" status="status2" rerender="theTable"/> -->
                         <apex:commandButton value="{!$Label.gii__save}"  action="{!Save}" status="status2" />
                         <apex:commandButton value="{!$Label.gii__cancel}" action="{!reset}" />
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons> 
        
       <c:ShowErrorMessage />  
        <apex:pageBlockSection id="section"  Columns="1" > 

              <apex:pageBlockTable value="{!productSerial}" Columns="1" var="serial" id="serialList">
                <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.gii__Sequence__c.Label}"><apex:outputField value="{!serial.gii__Sequence__c}"></apex:outputField></apex:column>
                <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.Name.Label}">
                    <apex:inputText id="serial" maxlength="80" size="60"  value="{!serial.Name}"> </apex:inputText>&nbsp;&nbsp;
                    <apex:image value="{!$Resource.gii__SearchIcon}" onclick="openpopup('{!$Component.parentForm.theTable.section.serialList.serial}');"/>
                </apex:column>
            
          </apex:pageBlockTable>
     </apex:pageBlockSection>
     </apex:PageBlock>
  </apex:form>
  <apex:relatedList id="pslist"  list="ProductSerial__r" subject="{!ProductDetails.Id}" rendered="{!Serialcontrolled}"/>
</apex:page>