<apex:page StandardController="gii__InventoryReserve__c" extensions="gii.ProductSerialsCon" tabStyle="gii__InventoryReserve__c" lightningStylesheets="true">
<script type="text/javascript">
 function openpopup(text) {
    var url = '{!JSENCODE(URLFOR($Page.gii__ShowSerials, null, [id=ProductDetails.gii__Product__c], false))}' + '&fieldId=' + {!JSENCODE('text')};
    var SerialWindow = window.open(url,'','left=300,top=200,height=500,width=750,status=yes,scrollbars=yes,resizable=yes');
 }
</script>

<!-- show Error Message-->
  <apex:form rendered="{!IF(Serialcontrolled , false, true)}">
    <apex:PanelGrid id="detail" columns="1"    width="100%"  cellpadding="5" cellspacing="0" >  
       <apex:panelGroup layout="block"> 
         <apex:PageMessages />                
      </apex:panelGroup>

      <apex:panelGroup layout="block" style="text-align:center"> 
         <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}"  action="{!reset}" />
      </apex:panelGroup>
   </apex:PanelGrid>  
  </apex:form>

  <!-- Product Serials -->
 <apex:form rendered="{!Serialcontrolled}">
     <apex:PageBlock title="{!$Label.gii__inventoryreservedetails}" >
         <apex:pageBlockSection columns="1">
           <apex:pageBlockTable value="{!ProductDetails}" var="product" rendered="{!NonStock}" >
    
                <apex:column colspan="175" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.Name.Label}"><apex:outputField value="{!product.Name}"></apex:outputField></apex:column>
                <apex:column colspan="150" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__SalesOrder__c.Label}"><apex:outputField value="{!product.gii__SalesOrder__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__SalesOrderLine__c.Label}"><apex:outputField value="{!product.gii__SalesOrderLine__c}"></apex:outputField></apex:column>
                <apex:column colspan="175" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__Product__c.Label}"><apex:outputField value="{!product.gii__Product__c}"></apex:outputField></apex:column>
                <apex:column colspan="90"  headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__NonStock__c.Label}"><apex:outputField value="{!product.gii__NonStock__c}"></apex:outputField></apex:column>

                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__NonStockQuantity__c.Label}"><apex:outputField value="{!product.gii__NonStockQuantity__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__NonStockShipQuantity__c.Label}"><apex:outputField value="{!product.gii__NonStockShipQuantity__c}"></apex:outputField></apex:column> 
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__StockUM__c.Label}" ><apex:outputField value="{!product.gii__StockUM__c}"></apex:outputField></apex:column> 
  
           </apex:pageBlockTable>
           
           <apex:pageBlockTable value="{!ProductDetails}" var="product" rendered="{!IF(NonStock,false,true)}" >
    
                <apex:column colspan="175" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.Name.Label}"><apex:outputField value="{!product.Name}"></apex:outputField></apex:column>
                <apex:column colspan="150" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__SalesOrder__c.Label}"><apex:outputField value="{!product.gii__SalesOrder__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__SalesOrderLine__c.Label}"><apex:outputField value="{!product.gii__SalesOrderLine__c}"></apex:outputField></apex:column>
                <apex:column colspan="175" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__Product__c.Label}"><apex:outputField value="{!product.gii__Product__c}"></apex:outputField></apex:column>

                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__ReserveQuantity__c.Label}"><apex:outputField value="{!product.gii__ReserveQuantity__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__ShippedQuantity__c.Label}"><apex:outputField value="{!product.gii__ShippedQuantity__c}"></apex:outputField></apex:column> 
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__InventoryReserve__c.Fields.gii__StockUM__c.Label}" >
                    <apex:outputField value="{!product.gii__StockUM__c}" rendered="{!IF(product.SalesOrderLine__r.Product__r.gii__StockingUnitofMeasure__c <> null,false,true)}"></apex:outputField>
                    <apex:outputField value="{!product.SalesOrderLine__r.Product__r.gii__StockingUnitofMeasure__c}" rendered="{!IF(product.SalesOrderLine__r.Product__r.gii__StockingUnitofMeasure__c <> null,true,false)}"/>
                </apex:column> 
           </apex:pageBlockTable>
           
        </apex:pageBlockSection>
    </apex:PageBlock>
 </apex:form>

 <apex:form id="parentForm" rendered="{!Serialcontrolled}">
 <apex:PageBlock id="theTable" title="{!$Label.gii__productserialcount}  {!FLOOR(ProductSerialCount)} " >

    <apex:pageBlockButtons location="Top" id="pageButton">
        <apex:actionStatus id="status2" >
            <apex:facet name="start">
                <apex:outputPanel > 
                   <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>&nbsp;
                   <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!reset}" rendered="{!NOT(UnAssignSerials)}"/>&nbsp;
                   <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>&nbsp;
                   <apex:commandButton id="Saving4" value="{!$Label.gii__saving}" disabled="true" action="{!reset}" rendered="{!UnAssignSerials}"/>&nbsp;
                   <apex:commandButton id="Saving5" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                </apex:outputPanel>
            </apex:facet>
            <apex:facet name="stop">
                <apex:outputPanel >

                     <apex:commandButton value="{!$Label.gii__assignserials}"   action="{!add}"/>
                     <apex:commandButton value="{!$Label.gii__unassign} {!$Label.gii__serials}"   action="{!UnAssign}" reRender="parentForm"/>
                     <!-- v10.1 removed rerender attribute 
                     <apex:commandButton value="{!$Label.gii__save}"  action="{!Save}" rendered="{!NOT(UnAssignSerials)}" status="status2" rerender="theTable"/> -->
                     <apex:commandButton value="{!$Label.gii__save}"  action="{!Save}" rendered="{!NOT(UnAssignSerials)}" status="status2" />                     
                     <apex:commandButton value="{!$Label.gii__save}"  action="{!SaveUnAssignSerials}" onclick="return confirm('{!$Label.gii__areyousure}');" rendered="{!UnAssignSerials}"/>
                     <apex:commandButton value="{!$Label.gii__cancel}" action="{!reset}" />           
                </apex:outputPanel>
            </apex:facet>
        </apex:actionStatus>
    </apex:pageBlockButtons>  

    <c:ShowErrorMessage ></c:ShowErrorMessage>
        <apex:pageBlockSection id="section"  Columns="1" >
              <apex:pageBlockTable value="{!productSerial}" var="serial" id="serialList">

                <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.gii__Sequence__c.Label}">
                    <apex:outputField value="{!serial.gii__Sequence__c}"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.Name.Label}" rendered="{!NOT(UnAssignSerials)}">
                    <apex:inputText id="serial" maxlength="80" size="60"  value="{!serial.Name}"> </apex:inputText>&nbsp;&nbsp;
                    <apex:image value="{!$Resource.gii__SearchIcon}" onclick="openpopup('{!$Component.parentForm.theTable.section.serialList.serial}');"/>
                </apex:column>
                
                <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.Name.Label}" rendered="{!UnAssignSerials}">
                    <apex:outputField value="{!serial.Name}"/>
                </apex:column>
                
                <apex:column rendered="{!UnAssignSerials}" headerValue="{!$Label.gii__unassign} {!$ObjectType.gii__ProductSerial__c.Fields.Name.Label}" title="Check Un-Assign Product Serial and click on Save Button.">
                    <apex:inputCheckbox value="{!serial.gii__Delete__c}" title="{!$Label.gii__unassignproductserial_help}"/>
                </apex:column>
    
          </apex:pageBlockTable>
     </apex:pageBlockSection>
     </apex:PageBlock>
  </apex:form>
  <apex:relatedList id="pslist"  list="ProductSerial__r" subject="{!ProductDetails.Id}" rendered="{!Serialcontrolled}"/>
  
</apex:page>