<apex:page controller="gii.PicklistCon" showheader="false"
    renderas="pdf">
    <apex:stylesheet value="{!URLFOR($Resource.gii__gloviaOM_Resources, 'CSS/JP_gloviaCSS.css')}" />
    <!-- v10.5 added while background style to avoid LE issue for blue background -->
    <div style="background-color:white"> 
    <apex:panelGrid columns="2" width="100%" id="header"
        styleClass="tableLayoutFixed">
        <apex:panelGrid columns="2" styleClass="companyTable tableLayoutFixed"
            width="85%">
            <img src="{!sitePrefix}/servlet/servlet.FileDownload?file={!LogoId}" alt="logo"
                border="0" width="100" height="50" />
            <apex:panelGroup >
                <apex:outputText value="{!$Organization.Name}"
                    styleClass="companyName tableLayoutFixed" /><br />
                    <apex:outputText value="〒{!$Organization.PostalCode}"/><br/>                
                <apex:outputText value="{!$Organization.State}{!$Organization.City}{!$Organization.Street}"/><br />
                <apex:outputText value="{!$Organization.Phone}" /><br />              
            </apex:panelGroup>
        </apex:panelGrid>
        <apex:panelGroup styleClass="tableLayoutFixed">
            <apex:outputtext value="{!$Label.gii__picklistdocument}"
                styleClass="title right tableLayoutFixed" />
            <apex:panelGroup styleClass="right"><br />
                <apex:panelGrid columns="2" width="100%" cellspacing="0"
                    styleClass="tableLayoutFixed bordersTopBottom"
                    columnClasses="columnBorders left">
                    <apex:outputtext value="{!$Label.gii__picklistnumber}" />
                    <apex:outputtext value="{!Picklist.Name}" />
                    <apex:outputtext value="{!$Label.gii__printdate}" />
                    <apex:outputtext value="{!CurrentDateTimeinUserLocale}" />
                    <apex:outputtext value="{!$Label.gii__picklistdate}" />
                    <apex:outputField value="{!Picklist.CreatedDate}" />
                    <apex:outputtext value="{!$Label.gii__ordertype}" />
                    <apex:outputField value="{!Picklist.gii__OrderType__c}" />
                    <apex:outputText value="{!$ObjectType.gii__PickList__c.Fields.gii__Status__c.label}"
                        rendered="{!IF(picklist.gii__Status__c = 'Confirmed',true,false)}" />
                    <apex:outputField value="{!picklist.gii__Status__c}"
                        rendered="{!IF(picklist.gii__Status__c = 'Confirmed',true,false)}" />
                </apex:panelGrid>
            </apex:panelGroup>
        </apex:panelGroup>

    </apex:panelGrid>
    <br />
    <br />
    <b><apex:outputtext value="{!$Label.gii__details}"
            styleClass="companyName" /></b>
    <br />
    <br />

    <apex:panelGrid width="100%" id="Detail">

        <apex:dataTable width="100%" id="DataTable" value="{!Picklists}"
            var="pick" styleClass="font10 verticalTop tableLayoutFixed"
            headerClass="tableLayoutFixed" border="1"
            columnsWidth="4%,16%,,16%,14%,10%,12%,12%">

            <apex:column headervalue="{!$Label.gii__line_column_heading}"
                headerClass="left" styleClass="left">
                <apex:outputfield value="{!pick.gii__PickListPickSequence__c}" />
            </apex:column>
            <apex:column headerClass="left" styleClass="left">
                <apex:facet name="header">
                    <apex:outputText value="{!$Label.gii__warehouse}" />
                </apex:facet>
        {!IF(pick.gii__ReserveSequence__r.gii__Warehouse__r.name = null,pick.gii__ReserveSequence__r.gii__Warehouse__c,pick.gii__ReserveSequence__r.gii__Warehouse__r.name )}
        <br />
                <apex:outputText value="Bin: {!pick.gii__Bin__c}"
                    rendered="{!IF(pick.gii__Bin__c != null, true,false)}" />

            </apex:column>

            <apex:column headerClass="left" styleClass="left">
                <apex:facet name="header">
               {!$ObjectType.gii__PickListDetail__c.Fields.gii__Product__c.label}<br />
                </apex:facet>
          {!IF(pick.gii__Product__r.name = null,pick.gii__Product__c,pick.gii__Product__r.name )}<br />
                <b>{!IF(pick.gii__Product__r.gii__ProductCode__c =
                    null,"",pick.gii__Product__r.gii__ProductCode__c )}</b>
            </apex:column>
            <apex:column headerClass="left" styleClass="left">
                <apex:facet name="header"> {!$ObjectType.gii__PickListDetail__c.Fields.gii__SalesOrder__c.label}</apex:facet>
          {!IF(pick.gii__SalesOrder__r.name = null,pick.gii__SalesOrder__c,pick.gii__SalesOrder__r.name )}
      </apex:column>
            <apex:column headerClass="left" styleClass="left">
                <apex:facet name="header">{!$ObjectType.gii__PickListDetail__c.Fields.gii__SalesOrderLine__c.label}</apex:facet>
          {!IF(pick.gii__SalesOrderLine__r.name = null,pick.gii__SalesOrderLine__c,pick.gii__SalesOrderLine__r.name )}

      </apex:column>
            <apex:column headerClass="right" styleClass="right">
                <apex:facet name="header">{!$ObjectType.gii__PickListDetail__c.Fields.gii__PickQuantity__c.label}
      </apex:facet>
                <apex:outputfield value="{!pick.gii__PickQuantity__c}" />
                 <br/>
                <apex:outputfield value="{!pick.gii__SellingUMPickQuantity__c}" 
                rendered="{!IF(pick.gii__SellingUnitofMeasure__c <> null,true,false)}"/>               
            </apex:column>

            <apex:column id="PickedQuantity"
                rendered="{!IF(picklist.gii__Status__c <> 'Confirmed',true,false)}"
                headerClass="right" styleClass="right">
                <apex:facet name="header">{!$ObjectType.gii__PickListDetail__c.Fields.gii__PickedQuantity__c.label}
      </apex:facet>
    ______________   
      </apex:column>

            <!-- Show packed quantity if picklist is already confirmed -->
            <apex:column id="PickedQuantity1"
                rendered="{!IF(picklist.gii__Status__c = 'Confirmed',true,false)}"
                headerClass="right" styleClass="right">
                <apex:facet name="header">{!$ObjectType.gii__PickListDetail__c.Fields.gii__PickedQuantity__c.label}
      </apex:facet>
                <apex:outputfield value="{!pick.gii__PickedQuantity__c}" />
                <br/>
                <apex:outputfield value="{!pick.gii__SellingUMPickedQuantity__c}" 
                rendered="{!IF(pick.gii__SellingUnitofMeasure__c <> null,true,false)}"/>                
            </apex:column>
            <apex:column headerClass="left" styleClass="left">
                <apex:facet name="header">{!$ObjectType.gii__PickListDetail__c.Fields.gii__StockUM__c.label}
        </apex:facet>
       <!-- {!IF(pick.StockUM__c = null,'' ,pick.StockUM__c )}-->
        <apex:outputField value="{!pick.gii__StockUM__c}" rendered="{!IF(pick.gii__SellingUnitofMeasure__c <> null,false,true)}"/>
        <apex:outputfield value="{!pick.gii__StockingUnitofMeasure__c}" rendered="{!IF(pick.gii__SellingUnitofMeasure__c <> null,true,false)}"/>
        <br/>       
        <apex:outputfield value="{!pick.gii__SellingUnitofMeasure__c}" rendered="{!IF(pick.gii__SellingUnitofMeasure__c <> null,true,false)}"/>
      </apex:column>
        </apex:dataTable>

    </apex:panelGrid>

    <!-- Print Alternate Bins for the product and warehouse -->
    <br />
    <apex:dataTable border="1" id="Altbins1" width="60%"
        value="{!PIAltBinList}" var="PI" columnsWidth="10%,10%,"
        headerClass="tableLayoutFixed"
        styleClass="font10 verticalTop borderCollapse tableLayoutFixed"
        rendered="{!PIAltbinListExists}">
        <apex:column headerClass="left" styleClass="left">
            <apex:facet name="header"> 
           {!$ObjectType.gii__Warehouse__c.Fields.name.label}
         </apex:facet>
            <apex:outputText value="{!PI.gii__Warehouse__r.name}" />
        </apex:column>
        <apex:column headerClass="left" styleClass="left">
            <apex:facet name="header"> 
            {!$ObjectType.gii__PickListDetail__c.Fields.gii__Product__c.label}
         </apex:facet>
            <apex:outputText value="{!PI.gii__Product__r.name}" />
        </apex:column>

        <apex:column headerClass="left" styleClass="left">
            <apex:facet name="header"> 
                {!$ObjectType.gii__AlternateBin__c.Fields.gii__AlternateBin__c.label}
            </apex:facet>
            <apex:dataTable border="1" id="DataTable6" width="100%"
                value="{!PI.gii__Alternate_Bins__r}" var="AltBin" columnsWidth="20%"
                headerClass="tableLayoutFixed"
                styleClass="font10 verticalTop borderCollapse tableLayoutFixed">

                <apex:column headerClass="left" styleClass="left">
                    <apex:outputText value="{!AltBin.gii__AlternateBin__r.name}" />
                </apex:column>
            </apex:dataTable>

        </apex:column>

    </apex:dataTable>
 </div>
</apex:page>