<apex:page Standardcontroller="gii__WorkOrder__c"
    extensions="gii.WorkOrderPDFExtensionCon" showheader="false"
    renderAs="PDF">
    <!-- renderAs="PDF" -->
    <apex:stylesheet value="{!URLFOR($Resource.gii__gloviaOM_Resources, 'CSS/JP_gloviaCSS.css')}" />
    <!-- v10.5 added while background style to avoid LE issue for blue background -->
    <div style="background-color:white"> 
    <!-- Document Logo and Org Address -->
    <apex:panelGrid columns="2" width="100%" id="header"
        styleClass="tableLayoutFixed">
        <apex:panelGrid columns="2" styleClass="companyTable tableLayoutFixed"
            width="85%">
             <img src="{!sitePrefix}/servlet/servlet.FileDownload?file={!LogoId}" alt="logo"
                border="0" width="100" height="50" />
            <apex:panelGroup >
                <apex:outputText value="{!$Organization.Name}"
                    styleClass="companyName tableLayoutFixed" /><br />
                <apex:outputText value="〒{!$Organization.PostalCode}"/><br/>                
                <apex:outputText value="{!$Organization.State}{!$Organization.City}{!$Organization.Street}" /><br />
                <apex:outputText value="{!$Organization.Phone}" /><br /> 
            </apex:panelGroup>
        </apex:panelGrid>

        <apex:panelGroup >
            <apex:outputtext value="{!$Label.gii__workorder}"
                styleClass="title right tableLayoutFixed" />
        </apex:panelGroup>

        <!-- Work Order Description -->
        <apex:panelGroup styleClass="tableLayoutFixed">
            <apex:panelGrid columns="1" width="100%" border="0"
                styleClass="tableLaoutFixed left"
                rendered="{!gii__WorkOrder__c.gii__Description__c <> null}"><br />
                <apex:outputField id="desc"
                    value="{!gii__WorkOrder__c.gii__Description__c}" />

            </apex:panelGrid>
        </apex:panelGroup>
        <!-- Work Order Header Details -->
        <apex:panelGrid columns="2" width="100%" cellspacing="0"
            styleClass="tableLayoutFixed bordersTopBottom"
            columnClasses="columnBorders left">
            <apex:outputtext value="{!$ObjectType.gii__WorkOrder__c.Fields.Name.label}" />
            <apex:outputField value="{!gii__WorkOrder__c.Name}" />
            <apex:outputtext value="{!$ObjectType.gii__WorkOrder__c.Fields.gii__WorkOrderType__c.label}" />
            <apex:outputField value="{!gii__WorkOrder__c.gii__WorkOrderType__r.name}" />
            <apex:outputtext value="{!$ObjectType.gii__WorkOrder__c.Fields.gii__Product__c.label}" />
            <apex:outputField value="{!gii__WorkOrder__c.gii__Product__r.name}" />
            <apex:outputtext value="{!$ObjectType.gii__WorkOrder__c.Fields.gii__OrderQuantity__c.label}" />
            <apex:outputField value="{!gii__WorkOrder__c.gii__OrderQuantity__c}" />
            <apex:outputtext value="{!$ObjectType.gii__WorkOrder__c.Fields.gii__StockUM__c.label}" />
            <apex:outputField value="{!gii__WorkOrder__c.gii__StockUM__c}" />
            <apex:outputtext value="{!$ObjectType.gii__WorkOrder__c.Fields.gii__Warehouse__c.label}" />
            <apex:outputField value="{!gii__WorkOrder__c.gii__Warehouse__r.name}" />
            <apex:outputtext value="{!$ObjectType.gii__WorkOrder__c.Fields.gii__StartDate__c.label}" />
            <apex:outputField value="{!gii__WorkOrder__c.gii__StartDate__c}" />
            <apex:outputtext value="{!$ObjectType.gii__WorkOrder__c.Fields.gii__DueDate__c.label}" />
            <apex:outputField value="{!gii__WorkOrder__c.gii__DueDate__c}" />
            <apex:outputtext value="{!$Label.gii__printdate}" />
            <apex:outputtext value="{!CurrentDateTimeinUserLocale}" />
        </apex:panelGrid>
    </apex:panelGrid>

    <br />

    <!-- Work Order bill of material  Details -->
    <apex:panelGrid width="100%" id="Detail" styleClass="tableLayoutFixed">
        <apex:dataTable cellpadding="4px" width="100%" id="DataTable"
            value="{!BOMLines}" var="BOMLine"
            styleClass="tableLayoutFixed font10 verticalTop"
            headerClass="tableLayoutFixed" captionClass="caption" border="0"
            columnsWidth="8%,15%,,16%,14%,13%" rendered="{!BOMLinesExists}">

            <apex:facet name="caption">{!$Label.gii__billofmaterialdetails}</apex:facet>

            <apex:column headervalue="{!$ObjectType.gii__WorkOrderBillofMaterial__c.Fields.gii__Sequence__c.label}"
                headerClass="left" styleClass="left">
                <apex:outputField value="{!BOMLine.gii__Sequence__c}" />
            </apex:column>

            <apex:column headerClass="left" styleClass="left">
                <apex:facet name="header">{!$ObjectType.gii__WorkOrderBillofMaterial__c.Fields.gii__Component__c.label} </apex:facet>
                <apex:outputField value="{!BOMLine.gii__Component__r.name}" />
                <br />&nbsp;
       </apex:column>
            <apex:column headerClass="left" styleClass="left">
                <apex:facet name="header">{!$ObjectType.gii__Product2Add__c.Fields.gii__Description__c.label} 
            / <br /> {!$ObjectType.gii__WorkOrderBillofMaterial__c.Fields.gii__Instructions__c.label}
           </apex:facet>
                <apex:outputField value="{!BOMLine.gii__Component__r.gii__Description__c}" />
                <br />&nbsp;
       </apex:column>
            <apex:column styleClass="right" headerClass="right"
                headervalue="{!$ObjectType.gii__WorkOrderBillofMaterial__c.Fields.gii__ComponentQuantity__c.label}">
                <apex:outputField value="{!BOMLine.gii__ComponentQuantity__c}" />

            </apex:column>
            <apex:column styleClass="right" headerClass="right"
                headervalue="{!$ObjectType.gii__WorkOrderBillofMaterial__c.Fields.gii__RequiredQuantity__c.label}">
                <apex:outputField value="{!BOMLine.gii__RequiredQuantity__c}" />
            </apex:column>

            <apex:column styleClass="left" headerClass="left"
                headervalue="{!$ObjectType.gii__WorkOrderBillofMaterial__c.Fields.gii__StockUM__c.label}">
                <apex:outputField value="{!BOMLine.gii__StockUM__c}" />
            </apex:column>

            <apex:column breakBefore="true" styleClass="left" headerClass="left">  
           &nbsp;
      </apex:column>
            <apex:column styleClass="right" headerClass="right">  
           &nbsp;
      </apex:column>
            <apex:column styleClass="left" headerClass="left"
                headervalue="{!$ObjectType.gii__WorkOrderBillofMaterial__c.Fields.gii__Instructions__c.label}">
                <apex:outputField value="{!BOMLine.gii__Instructions__c}" />
            </apex:column>
        </apex:dataTable>

        <br />

        <!-- work Order Routing  Details -->
        <apex:dataTable width="100%" cellpadding="4px" id="DataTable2"
            value="{!RTGLines}" var="RTGLine"
            styleClass="tableLayoutFixed font10 verticalTop"
            headerClass="tableLayoutFixed" captionClass="caption" border="0"
            columnsWidth="8%,15%,,10%,10%,12%,15%" rendered="{!RTGLinesExists}">

            <apex:facet name="caption">{!$Label.gii__routingdetails}</apex:facet>

            <apex:column headervalue="{!$ObjectType.gii__WorkOrderRouting__c.Fields.gii__Sequence__c.label}"
                styleClass="left" headerClass="left">
                <apex:outputField value="{!RTGLine.gii__Sequence__c}" />
            </apex:column>

            <apex:column styleClass="left" headerClass="left">
                <apex:facet name="header">{!$ObjectType.gii__WorkOrderRouting__c.Fields.gii__Operation__c.label} </apex:facet>
                <apex:outputField value="{!RTGLine.gii__Operation__r.name}" />
                <br />&nbsp;
       </apex:column>

            <apex:column styleClass="left" headerClass="left">
                <apex:facet name="header">{!$ObjectType.gii__Operation__c.Fields.gii__Description__c.label} 
           / <br /> {!$ObjectType.gii__WorkOrderRouting__c.Fields.gii__Instructions__c.label}
           </apex:facet>
                <apex:outputField value="{!RTGLine.gii__Operation__r.gii__Description__c}" />
                <br />&nbsp;
       </apex:column>

            <apex:column styleClass="right" headerClass="right"
                headervalue="{!$ObjectType.gii__WorkOrderRouting__c.Fields.gii__SetupTime__c.label}">
                <apex:outputField value="{!RTGLine.gii__SetupTime__c}" />

            </apex:column>
            <apex:column styleClass="right" headerClass="right"
                headervalue="{!$ObjectType.gii__WorkOrderRouting__c.Fields.gii__RunTime__c.label}">
                <apex:outputField value="{!RTGLine.gii__RunTime__c}" />
            </apex:column>
            <apex:column styleClass="left" headerClass="left"
                headervalue="{!$ObjectType.gii__WorkOrderRouting__c.Fields.gii__RunUM__c.label}">
                <apex:outputField value="{!RTGLine.gii__RunUM__c}" />
            </apex:column>
            <apex:column styleClass="right" headerClass="right"
                headervalue="{!$ObjectType.gii__WorkOrderRouting__c.Fields.gii__EstimatedRunTime__c.label}">
                <apex:outputField value="{!RTGLine.gii__EstimatedRunTime__c}" />
            </apex:column>

            <apex:column breakBefore="true" styleClass="left" headerClass="left">  
           &nbsp;
      </apex:column>
            <apex:column >  
           &nbsp;
      </apex:column>
            <apex:column styleClass="left" headerClass="left"
                headervalue="{!$ObjectType.gii__WorkOrderRouting__c.Fields.gii__Instructions__c.label}">
                <apex:outputField value="{!RTGLine.gii__Instructions__c}" />
            </apex:column>
        </apex:dataTable>

    </apex:panelGrid>
    </div>
</apex:page>