<apex:page id="MRPNettingDetailPage" controller="gii.MRPNettingDetailCon" tabStyle="gii__MRPNetting__c" sidebar="false" lightningStylesheets="true">
    <apex:sectionHeader title="{!$ObjectType.gii__MRPNetting__c.label} Detail" subtitle="{!mrpNetting.Name}"/>
    <apex:form id="MRPNettingDetailForm" >
        <apex:pageBlock >
            <apex:pageBlockButtons location="top" >
                <apex:commandButton value="{!$Label.gii__refresh}" title="{!$Label.gii__refresh}" action="{!refresh}" status="status" reRender="messages, tablePanel" />
                <apex:commandButton value="{!$Label.gii__save}" title="{!$Label.gii__save}" action="{!updateNettingLines}" status="status" reRender="messages, tablePanel" />
                <apex:commandButton value="{!$Label.gii__returntomrpsummary}" title="{!$Label.gii__returntomrpsummary}" status="status" reRender="messages"
                                    action="{!URLFOR($Page.MRPSummary,
                                            null,
                                            [id = mrpCycleId,
                                            reportingPeriod = reportingPeriod,
                                            numberOfPeriods = numberOfPeriods,
                                            product = product,
                                            planner = planner,
                                            productLine = productLine,
                                            hasPastDueSupply = hasPastDueSupply,
                                            hasException = hasException,
                                            exceptionType = exceptionType,
                                            makeBuy = makeBuy])}" />
                <apex:actionStatus id="status" style="margin-left:1%;" >/
                    <apex:facet name="start">
                        <apex:image url="/img/loading.gif"/>
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="{!$ObjectType.gii__MRPNetting__c.label} ">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.gii__MRPNetting__c.fields.Name.label}" />
                    <apex:outputLink value="/{!mrpNetting.Id}">{!mrpNetting.Name}</apex:outputLink>
                </apex:pageBlockSectionItem>
                <apex:outputField value="{!mrpNetting.gii__MRPCycle__c}"/>
                <apex:outputField value="{!mrpNetting.gii__Product__c}"/>
                <apex:outputField value="{!mrpNetting.gii__Planner__c}"/>
                <apex:outputField value="{!mrpNetting.gii__Make__c}"/>
                <apex:outputField value="{!mrpNetting.gii__LeadTime__c}"/>
                <apex:outputField value="{!mrpNetting.gii__OnHandQuantity__c}"/>
                <apex:outputField value="{!mrpNetting.gii__ProjectedInventory__c}"/>
                <apex:outputField value="{!mrpNetting.gii__OverstockException__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="{!$Label.gii__filters}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.gii__MRPNettingLine__c.fields.gii__Source__c.label}" />
                    <apex:selectList value="{!tempMRPNettingLine.gii__Source__c}" size="1" >
                        <apex:selectOption itemLabel="{!$Label.gii__all}" itemValue="All" />
                        <apex:selectOption itemLabel="{!$Label.gii__mrpnettingsource_cpo}" itemValue="cpo" />
                        <apex:selectOption itemLabel="{!$Label.gii__mrpnettingsource_cpocomponent}" itemValue="CPO Component" />
                        <apex:selectOption itemLabel="{!$Label.gii__mrpnettingsource_demandorder}" itemValue="Demand Order" />
                        <apex:selectOption itemLabel="{!$Label.gii__mrpnettingsource_inventory}" itemValue="Inventory" />
                        <apex:selectOption itemLabel="{!$Label.gii__mrpnettingsource_purchaseorder}" itemValue="Purchase Order" />
                        <apex:selectOption itemLabel="{!$Label.gii__mrpnettingsource_salesorder}" itemValue="Sales Order" />
                        <apex:selectOption itemLabel="{!$Label.gii__mrpnettingsource_supplyorder}" itemValue="Supply Order" />
                        <apex:selectOption itemLabel="{!$Label.gii__mrpnettingsource_workorder}" itemValue="Work Order" />
                        <apex:selectOption itemLabel="{!$Label.gii__mrpnettingsource_workordercomponent}" itemValue="Work Order Component" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.gii__MRPNettingLine__c.fields.gii__ExceptionType__c.label}" />
                    <apex:selectList value="{!tempMRPNettingLine.gii__ExceptionType__c}" size="1" >
                        <apex:selectOption itemLabel="{!$Label.gii__all}" itemValue="All" />
                        <apex:selectOption itemLabel="{!$Label.gii__cancel}" itemValue="Cancel" />
                        <!--<apex:selectOption itemLabel="Past Due" itemValue="Past Due" /> -->
                        <apex:selectOption itemLabel="{!$Label.gii__plan}" itemValue="Plan" />
                        <apex:selectOption itemLabel="{!$Label.gii__reschedule}" itemValue="Reschedule" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.gii__MRPNettingLine__c.fields.gii__Closed__c.label}" />
                    <apex:selectList value="{!closed}" size="1" >
                        <apex:selectOption itemLabel="{!$Label.gii__all}" itemValue="All" />
                        <apex:selectOption itemLabel="{!$Label.gii__closed}" itemValue="true" />
                        <apex:selectOption itemLabel="{!$Label.gii__notclosed}" itemValue="false" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:inputCheckbox value="{!tempMRPNettingLine.gii__Exception__c}" />
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.gii__from} {!$ObjectType.gii__MRPNettingLine__c.fields.gii__DueDate__c.label}" />
                    <apex:inputField value="{!tempMRPNettingLine.gii__DueDate__c}" />
                </apex:pageBlockSectionItem>
                <apex:inputCheckbox value="{!tempMRPNettingLine.gii__PastDueSupply__c}" />
                <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.gii__to} {!$ObjectType.gii__MRPNettingLine__c.fields.gii__DueDate__c.label}" />
                        <apex:inputField value="{!tempMRPNettingLine2.gii__DueDate__c}" />
                    </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:pageMessages id="messages" />
        
        <apex:outputPanel id="tablePanel">
            <apex:pageBlock id="tablePageBlock" title="{!$ObjectType.MRPNettingLine__c.labelplural }">
                <apex:pageBlockTable id="table" value="{!nettingLineWrapperList}" var="wrapper" width="100%">
                    <apex:column >
                        <apex:facet name="header">
                            <apex:inputCheckbox selected="false"
                                                onclick="javascript:nettingLineSelectChecked(
                                                         document.forms['MRPNettingDetailPage:MRPNettingDetailForm'],
                                                         'MRPNettingDetailPage:MRPNettingDetailForm:tablePanel:tablePageBlock:table:',
                                                         this);"/>
                        </apex:facet>
                        <apex:inputCheckbox id="nettingLineSelected" value="{!wrapper.selected}" selected="false"
                                            rendered="{!wrapper.nettingLine.gii__Exception__c}" />
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.gii__MRPNettingLine__c.fields.Name.label}">
                        <apex:outputLink value="/{!wrapper.nettingLine.Id}">
                            {!wrapper.nettingLine.Name}
                        </apex:outputLink>
                    </apex:column>
                    <!-- v11.10 use formula field for line source instead of text field so that values are displayed using custom lables
                    <apex:column value="{!wrapper.nettingLine.Source__c}"/>  
                    -->
                    <apex:column value="{!wrapper.nettingLine.gii__LineSource__c}"/>
                    
                    <apex:column value="{!wrapper.nettingLine.gii__CPOParentProduct__c}"/>
                    
                    <apex:column headerValue="{!$ObjectType.gii__MRPNettingLine__c.fields.gii__Reference__c.label}">
                        <apex:outputLink value="/{!
                                                IF(wrapper.nettingLine.Source__c == 'Inventory', wrapper.nettingLine.ProductInventory__c,
                                                IF(wrapper.nettingLine.Source__c == 'Purchase Order', wrapper.nettingLine.PurchaseOrderLine__c,
                                                IF(wrapper.nettingLine.Source__c == 'Supply Order', wrapper.nettingLine.SupplyOrder__c,
                                                IF(wrapper.nettingLine.Source__c == 'Work Order', wrapper.nettingLine.WorkOrder__c,
                                                IF(wrapper.nettingLine.Source__c == 'Sales Order', wrapper.nettingLine.SalesOrderLine__c,
                                                IF(wrapper.nettingLine.Source__c == 'Demand Order', wrapper.nettingLine.DemandOrder__c,
                                                IF(wrapper.nettingLine.Source__c == 'Work Order Component', wrapper.nettingLine.WorkOrderBillofMaterial__c,
                                                IF(wrapper.nettingLine.Source__c == 'CPO Component', wrapper.nettingLine.CPOParentMRPNettingLine__c,
                                                null))))))))}">
                            {!wrapper.nettingLine.gii__Reference__c}
                        </apex:outputLink>
                    </apex:column>
                    <apex:column value="{!wrapper.nettingLine.gii__CPOStartDate__c}"/>
                    <apex:column value="{!wrapper.nettingLine.gii__DueDate__c}"/>
                    <apex:column value="{!wrapper.nettingLine.gii__OriginalDueDate__c}"/>
                    
                    <apex:column value="{!wrapper.nettingLine.gii__PastDueSupply__c}"/>
                    
                    <apex:column value="{!wrapper.nettingLine.gii__ExceptionType__c}"/>
                    <apex:column value="{!wrapper.nettingLine.gii__Quantity__c}"/>
                    <apex:column value="{!wrapper.nettingLine.gii__NetAvailableQuantity__c}"/>
                    <apex:column headerValue="{!$ObjectType.gii__MRPNettingLine__c.fields.gii__Closed__c.label}">
                        <apex:inputCheckbox value="{!wrapper.nettingLine.gii__Closed__c}" rendered="{!wrapper.nettingLine.gii__Exception__c}" />
                    </apex:column>
                    <apex:column headerValue="{!$Label.gii__action}">
                        <apex:outputLink rendered="{!AND(
                                                   CONTAINS(wrapper.nettingLine.ExceptionType__c, 'Plan'),
                                                   !mrpNetting.Make__c,
                                                   !wrapper.nettingLine.Closed__c)}"
                                         value="{!URLFOR($Page.PlanningCreatePurchaseOrder,
                                                null,
                                                [mrpCycleId = mrpCycleId,
                                                mrpNettingLineId = wrapper.nettingLine.Id, 
                                                calledFrom = 'MRP',
                                                Id = wrapper.nettingLine.Id
                                                ])}" >
                            {!$Label.gii__createpurchaseorder}
                        </apex:outputLink>
                        <br/>
                        <apex:outputLink rendered="{!AND(
                                                   CONTAINS(wrapper.nettingLine.ExceptionType__c, 'Plan'),
                                                   mrpNetting.Make__c,
                                                   !wrapper.nettingLine.Closed__c)}"
                                         value="{!URLFOR($Page.PlanningCreateWorkOrder,
                                                null,
                                                [mrpCycleId = mrpCycleId,
                                                mrpNettingLineId = wrapper.nettingLine.Id,
                                                calledFrom = 'MRP',
                                                Id = wrapper.nettingLine.Id
                                                ])}">
                            {!$Label.gii__createworkorder}
                        </apex:outputLink>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:form>
    <script>
    function setFocusOnLoad(){}
    //checking or unchecking the 'select all' checkbox in the line sections
    function nettingLineSelectChecked(form, element_name, value) {
        var i = 0;
        for (i = 0; i < form.elements.length; i++) {
            if (form.elements[i].name.search('nettingLineSelected') > 0 && form.elements[i].disabled == false) {
                form.elements[i].checked = value.checked;
            }
        }
    }
    </script>
</apex:page>