<apex:page standardController="Opportunity"  tabStyle="Opportunity" lightningStylesheets="true">
<apex:panelGrid columns="2" width="100%" style="text-align:right;">
<apex:panelGroup >
&nbsp;
</apex:panelGroup>
<!--
<apex:panelGroup >
<a href="javascript:openPopupFocusEscapePounds('{!$SControl.OpportunityConversionOverview}', 'Help', 700, 600, 'width=700,height=600,resizable=yes,toolbar=yes,status=no,scrollbars=yes,menubar=yes,directories=no,location=no,dependant=no', false, false);" title="Help for this Page (New Window)"><span  class="helpLink">Help for this Page</span><img src="/s.gif" alt="Help"  class="helpIcon" title="Help"/></a>
</apex:panelGroup>
-->
<a href="javascript:openPopupFocusEscapePounds('/apex/gii__Help_OpportunityConversion', 'Help', 1024, 768, 'width=1024,height=768,resizable=yes,toolbar=yes,status=yes,scrollbars=yes,menubar=yes,directories=no,location=yes,dependant=no', false, false);" 
        title="{!$Label.HelpforthisPage}"><span  class="helpLink">{!$Label.HelpforthisPage}</span><img src="/s.gif" alt="Help"  
        class="helpIcon" title="Help"/></a>
</apex:panelgrid>
<apex:listViews type="Opportunity"/>
</apex:page>