<apex:page standardController="gii__InventoryReserve__c" extensions="gii.OrderExecutionCon" showheader="true" 
sidebar="false" standardStylesheets="true" tabStyle="OrderFulfillment__tab" lightningStylesheets="true">
<style>
.activeTab {
        background-color: #861515;
        color: white;
        background-image: none;
}
.inactiveTab {
        background-color: #E8E8E8;
        color: black;
        background-image: none;
        }
<!--
.actionLink {
  visibility:hidden;
  
  }
  -->   
</style>
<script>
function settab(inputText) {

 document.getElementById('user_tab').value=inputText;
}
function showdefault() {
//document.getElementById('user_tab').value='{!$Label.gii__picklist}';
//document.getElementsByName('gii__button01')[0].value='{!$Label.CreatePicklistBySalesOrder}';
//document.getElementsByName('gii__button02')[0].value='{!$Label.CreatePicklistByProduct}';
}
function showQuickPacklist(){
 //  document.getElementsByName('gii__button01')[1].value='{!$Label.QuickPacklistBySalesOrder}';
// document.getElementsByName('gii__button02')[1].value='{!$Label.QuickPacklistByAccount}';
 //  document.getElementsByName('gii__button02')[1].style.visibility="hidden";

}
function showPacklist(){
}
function showPackConfirm(){
}
function showshipconfirm(){

 // document.getElementsByName('gii__button01')[2].value='{!$Label.QuickShipBySalesOrder}';
  // document.getElementsByName('gii__button02')[2].value='{!$Label.QuickShipByAccount}';
 // document.getElementsByName('gii__button02')[2].style.visibility="hidden";
}
function showreceipt(){
}
function showconsumption(){
//document.getElementsByName('new')[0].style.visibility="hidden";
}
function showproductinventory() {
//document.getElementsByName('new')[0].style.visibility="hidden";
}

function showinvoice(){
// document.getElementsByName('gii__button01')[3].value='{!$Label.QuickInvoiceBySalesOrder}';
// document.getElementsByName('gii__button02')[3].value='{!$Label.QuickInvoiceByAccount}';
}

</script>

<apex:panelGrid columns="2" width="100%" style="text-align:right;" >

<apex:panelGroup >
&nbsp;
</apex:panelGroup>
<apex:panelGroup >
<!-- v7.3 use VF page for the help
<a href="javascript:openPopupFocusEscapePounds('{!$SControl.OrderExecutionOverview}', 'Help', 700, 600, 
    'width=700,height=600,resizable=yes,toolbar=yes,status=no,scrollbars=yes,menubar=yes,directories=no,location=no,dependant=no', false, false);" 
        title="{!$Label.HelpforthisPage} (New Window)"><span  class="helpLink">{!$Label.HelpforthisPage}</span><img src="/s.gif" alt="Help"  
        class="helpIcon" title="Help"/></a>
-->     

<a href="javascript:openPopupFocusEscapePounds('/apex/gii__Help_OrderFulfillment', 'Help', 1024, 768, 'width=1024,height=768,resizable=yes,toolbar=yes,status=yes,scrollbars=yes,menubar=yes,directories=no,location=yes,dependant=no', false, false);" 
        title="{!$Label.HelpforthisPage}"><span  class="helpLink">{!$Label.HelpforthisPage}</span><img src="/s.gif" alt="Help"  
        class="helpIcon" title="Help"/></a>
    

</apex:panelGroup>
</apex:panelgrid>

<apex:pageMessages ></apex:pageMessages>
<input type="hidden" id="user_tab" value="" ></input>
<apex:tabPanel switchType="server"  id="theMainTabPanel" tabClass="activeTab"
                inactiveTabClass="inactiveTab"  value="{!TabInFocus}" rendered="{!NOT(Error)}" >
               <apex:tab label="{!$Label.gii__backorder}" rendered="{!Policy.gii__ShowBackOrderTab__c}" name="BackOrder" 
                   id="tabBackOrder"  onmouseover="settab('BackOrder');" ontabenter="showproductinventory();" >                        
                          <apex:listViews type="gii__ProductInventory__c"/>                                                   
                </apex:tab> 
                <apex:tab label="{!$Label.gii__picklist}" rendered="{!Policy.gii__ShowPicklistTab__c}"  name="PicklistMain" 
                    id="tabMainPicklist" ontabenter="showdefault();">
                 <apex:tabPanel switchType="server"    id="thePicklistTabPanel" tabClass="activeTab" 
                       inactiveTabClass="inactiveTab"  value="{!TabInFocus01}"   > 
                         
                        <apex:tab label="{!$Label.gii__picklistcreation}" rendered="{!Policy.gii__ShowPicklistTab__c}"  
                            name="PicklistCreation" id="tabPicklistCreation"  onmouseover="settab('Picklist');" ontabenter="showdefault();" >
                                      
                               <apex:listViews type="gii__InventoryReserve__c"/>     
                                </apex:tab>    
                     
                                <apex:tab label="{!$Label.gii__picklistconfirm}" rendered="{!Policy.gii__ShowPicklistTab__c}"  name="PicklistConfirm" id="tabPicklistConfirm" onmouseover="settab('Picklist');" >
                                      <apex:listViews type="gii__PickList__c"/>  
                                 </apex:tab>
                                 
                 </apex:tabPanel>
                 </apex:tab>
                 <apex:tab label="{!$Label.gii__packlist}" rendered="{!Policy.gii__ShowPacklistTab__c}"  name="PacklistMain" 
                     id="tabMainPacklist" ontabenter="showPacklist();" onmouseover="settab('Packlist');" >
                 <apex:tabPanel switchType="server"    id="thePacklistTabPanel" tabClass="activeTab" 
                       inactiveTabClass="inactiveTab" value="{!TabInFocus02}" > 
                                        
                                <apex:tab label="{!$Label.gii__quickpacklist}" rendered="{!Policy.gii__ShowQuickPacklistTab__c}"  name="QuickPacklist" id="tabQuickPacklist" ontabenter="showQuickPacklist();" onmouseover="settab('Packlist');" >  
                                      <apex:listViews type="gii__InventoryReserve__c"/>
                                </apex:tab>    
                                    
                                <apex:tab label="{!$Label.gii__packlistcreation}" rendered="{!Policy.gii__ShowPacklistCreationTab__c}"  name="PacklistCreation" id="tabPacklistCreation" ontabenter="showPacklist();" onmouseover="settab('Packlist');" >
                                     <apex:listViews type="gii__PacklistQueue__c"/> 
                                </apex:tab> 
                                <apex:tab label="{!$Label.gii__packlistconfirm}" rendered="{!Policy.gii__ShowPacklistTab__c}"  name="PacklistConfirm" id="tabPacklistConfirm" ontabenter="showPackConfirm();" onmouseover="settab('Packlist');" >
                                        <apex:listViews type="gii__PackList__c"/>
                             </apex:tab>    
                  </apex:tabPanel>
                  </apex:tab>
                  <apex:tab label="{!$Label.gii__shipment}" rendered="{!Policy.gii__ShowShipmentTab__c}" name="ShipmentMain" 
                      id="tabMainShipment" ontabenter="showshipconfirm();" onmouseover="settab('Shipment');" >
                  <apex:tabPanel switchType="server"    id="theShipmentTabPanel" tabClass="activeTab"
                       inactiveTabClass="inactiveTab" value="{!TabInFocus03}"   > 
                                 <apex:tab label="{!$Label.gii__quickship}" rendered="{!Policy.gii__ShowQuickShipTab__c}"  name="QuickShip" id="tabQuickShip" ontabenter="showshipconfirm();" onmouseover="settab('Shipment');" >
                                        <apex:listViews type="gii__InventoryReserve__c"/> 
                                   </apex:tab>        
                                 <apex:tab label="{!$Label.gii__shipconfirm}" rendered="{!Policy.gii__ShowShipConfirmTab__c}"  name="ShipConfirm" id="tabShipConfirm" onmouseover="settab('Shipment');" >
                                      <apex:listViews type="gii__ShipmentQueue__c"/>
                                 </apex:tab>
                                <apex:tab label="{!$Label.gii__forwardtoinvoice}" rendered="{!Policy.gii__ShowForwardToInvoiceTab__c}"  name="ShipForwardToInvoice" id="tabForwardToInvoice" onmouseover="settab('Shipment');" >
                                       <apex:listViews type="gii__Shipment__c"/> 
                                </apex:tab> 
                                  
                  </apex:tabPanel>
                  </apex:tab>
                  <apex:tab label="{!$Label.gii__receipts}" rendered="{!Policy.gii__ShowReceiptsTab__c}"  name="ReceiptMain" id="tabMainReceipt" ontabenter="showreceipt();" onmouseover="settab('Receipts');" >

                   <apex:tabPanel switchType="server"  id="theReceiptTabPanel" tabClass="activeTab"
                       inactiveTabClass="inactiveTab" > 

                     <apex:tab label="{!$Label.gii__replenishmenttransfer}" rendered="true" name="ReceiptMain01" id="tabMainReceipt01" ontabenter="showreceipt();" onmouseover="settab('Receipts');" >
                           <apex:listViews type="gii__ReceiptQueue__c"/>
                     </apex:tab>
                 </apex:tabPanel>
                 </apex:tab>      
                  <apex:tab label="{!$Label.gii__consumption}" rendered="{!Policy.gii__ShowConsumptionTab__c}"  name="ConsumptionMain" id="tabMainConsumption" ontabenter="showconsumption();" onmouseover="settab('Consumption');" >

                   <apex:tabPanel switchType="server" id="theConsumptionTabPanel" tabClass="activeTab"
                       inactiveTabClass="inactiveTab" > 

                     <apex:tab label="{!$Label.gii__consume}" rendered="true" name="ReceiptConsume" id="tabMainConsume" ontabenter="showconsumption();" onmouseover="settab('Consumption');" >
                                  <apex:listViews type="gii__SalesOrderLine__c"/>
                     </apex:tab>
                 </apex:tabPanel>
                 </apex:tab>     
       
</apex:tabPanel>

<script>
// call functions to reset the buttons
  
  // showproductinventory();
 //  showdefault();
  // showQuickPacklist();
 //  showPacklist();
  // showPackConfirm();
  // showshipconfirm();
 //  showreceipt();
 //  showconsumption();

</script>

</apex:page>