<apex:page standardController="gii__InventoryReserve__c" extensions="gii.OrderExecutionCon" showheader="true" 
sidebar="false" standardStylesheets="true" tabStyle="Invoice__tab" lightningStylesheets="true">
<style>
.activeTab {
        background-color: #861515;
        color: white;
        background-image: none;
}
.inactiveTab {
        background-color: #E8E8E8;
        color: black;
        background-image: none;
        }
<!--
.actionLink {
  visibility:hidden;
  
  }
  -->   
</style>
<script>
function settab(inputText) {

document.getElementById('user_tab').value=inputText;
}
function showdefault() {
document.getElementById('user_tab').value='{!$Label.Invoice}';
// document.getElementsByName('gii__button01')[0].value='{!$Label.QuickInvoiceBySalesOrder}';
// document.getElementsByName('gii__button02')[0].value='{!$Label.QuickInvoiceByAccount}';
}

function showinvoice(){
// document.getElementsByName('gii__button01')[0].value='{!$Label.QuickInvoiceBySalesOrder}';
// document.getElementsByName('gii__button02')[0].value='{!$Label.QuickInvoiceByAccount}';
}
</script>
<apex:panelGrid columns="2" width="100%" style="text-align:right;">

<apex:panelGroup >
&nbsp;
</apex:panelGroup>
<apex:panelGroup >
<!-- v7.3 use VF page for the help
<a href="javascript:openPopupFocusEscapePounds('{!$SControl.OrderInvoiceOverview}', 'Help', 700, 600, 'width=700,height=600,resizable=yes,toolbar=yes,status=no,scrollbars=yes,menubar=yes,directories=no,location=no,dependant=no', false, false);" title="{!$Label.HelpforthisPage} (New Window)"><span  class="helpLink">{!$Label.HelpforthisPage}</span><img src="/s.gif" alt="Help"  class="helpIcon" title="Help"/></a>
-->
<a href="javascript:openPopupFocusEscapePounds('/apex/gii__Help_OrderInvoicing', 'Help', 1024, 768, 'width=1024,height=768,resizable=yes,toolbar=yes,status=yes,scrollbars=yes,menubar=yes,directories=no,location=yes,dependant=no', false, false);"  title="{!$Label.HelpforthisPage}"><span  class="helpLink">{!$Label.HelpforthisPage}</span><img src="/s.gif" alt="Help"  class="helpIcon" title="Help"/></a>

</apex:panelGroup>
</apex:panelgrid>

<apex:pageMessages ></apex:pageMessages>
<input type="hidden" id="user_tab" value="" ></input>
<apex:tabPanel switchType="server" id="theMainTabPanel" tabClass="activeTab"
                inactiveTabClass="inactiveTab"  value="{!TabInFocus}" rendered="{!NOT(Error)}" >    
                                <apex:tab label="{!$Label.gii__createinvoice}" rendered="true" name="CreateInvoice" id="tabCreateInvoice" onmouseover="settab('Invoice');" >
                                        <apex:listViews type="gii__ForwardToInvoiceQueue__c"/>                                     
                                </apex:tab> 
                                <apex:tab label="{!$Label.gii__invoicedetails}" rendered="true" name="InvoiceMain" id="tabInvoice" onmouseover="settab('Invoice');" >
                                        <apex:listViews type="gii__OrderInvoice__c"/>
                                </apex:tab> 
                                       
                     
</apex:tabPanel>

<script>
// call functions to reset the buttons

showdefault();
showinvoice();
</script>

</apex:page>