<apex:page standardController="gii__PhysicalInventory__c" extensions="gii.PhyInvFreezeInventoryExtCon" tabStyle="gii__PhysicalInventory__c" sidebar="false" lightningStylesheets="true">
<apex:sectionHeader title="{!$Label.gii__inventoryfreeze}" SubTitle="{!PhysicalInventoryRecord.name}"/>
 
<apex:form id="form01">
<apex:pageBlock >
<apex:pageBlockSection columns="2" collapsible="false">
            <apex:pageBlockSectionItem > 
                 <apex:outputLabel value="{!$ObjectType.gii__PhysicalInventory__c.Fields.Name.label}" for="mrp"/>
                 <apex:outputLink id="mrp" value="/{!PhysicalInventoryRecord.id}">
                       <apex:outputField value="{!PhysicalInventoryRecord.name}"/>
                 </apex:outputLink>
            </apex:pageBlockSectionItem>                    
            <apex:outputField value="{!PhysicalInventoryRecord.gii__Description__c}"/> 
             &nbsp;
            <apex:inputField value="{!PhysicalInventoryTagRecord.gii__FreezeDate__c}"/>
       </apex:pageBlockSection>     
       
       <apex:pagemessages ></apex:pagemessages>     
        <apex:pageBlockButtons location="bottom">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;&nbsp;
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >        
                         <apex:commandButton action="{!InventoryFreeze}" value="{!$Label.gii__save}" title="{!$Label.gii__save}" status="status2" disabled="{!Error}"/>
                         <apex:commandButton action="{!cancel}" value="{!$Label.gii__cancel}" title="{!$Label.gii__returntopreviouspage}"/>
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
         </apex:pageBlockButtons>       
</apex:pageBlock>
</apex:form>
</apex:page>