<apex:page sidebar="false" showHeader="false" controller="gii.PhyInvTagsPDFCon" renderAs="pdf"> 
    <apex:stylesheet value="{!URLFOR($Resource.gii__gloviaOM_Resources, 'CSS/shippingLabelCSS.css')}" />
    <apex:variable var="cnt" value="{!0}" />    
    <apex:repeat value="{!PhysicalInventoryTags}" var="tag">
       <div style="{!if(cnt < 1, 'page-break-before:avoid;','page-break-before:always;')}">
            <apex:variable var="cnt" value="{!cnt+1}"/>     
            <apex:panelGrid columns="2" width="60%" styleClass="tableLayoutFixed">
                <apex:panelGrid columns="2" width="100%" styleClass="companyTable tableLayoutFixed">

                    <apex:panelGroup styleClass="tableLayoutFixed ">
                        <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__PhysicalInventory__c.label}" styleClass="companyName"/>
                    </apex:panelGroup>
                    
                    <apex:panelGroup styleClass="tableLayoutFixed ">
                        <apex:outputtext value="{!tag.gii__PhysicalInventory__r.name}" styleClass="companyName" /> 
                    </apex:panelGroup>

                    <apex:panelGroup styleClass="tableLayoutFixed ">
                        <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__TagNumber__c.label}" styleClass="companyName" />
                        <br/>
                    </apex:panelGroup>
                    <apex:panelGroup styleClass="tableLayoutFixed ">
                        <apex:outputtext value="{!tag.gii__TagNumber__c}" styleClass="companyName"/>
                        <br/>
                    </apex:panelGroup>  
                </apex:panelGrid>
            </apex:panelGrid>
            <br/>
            <apex:panelGrid columns="1" width="60%" styleClass="tableLayoutFixed">
                <apex:panelGroup styleClass="tableLayoutFixed"> 
                    <apex:panelGrid columns="2" width="100%" cellspacing="1"  border="1" rules="all"
                            styleClass="tableLayoutFixed bordersTopBottom font10"                                                                       
                            columnClasses="columnBorders left ">                                                
                        
                        <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__Warehouse__c.label}" />
                        <apex:outputField value="{!tag.gii__Warehouse__r.name}" />

                        <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__Location__c.label}" />
                        <apex:outputField value="{!tag.gii__Location__r.name}" />

                        <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__LocationBin__c.label}" />
                        <apex:outputField value="{!tag.gii__LocationBin__r.name}" />

                        <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__Product__c.label}" />
                        <apex:outputField value="{!tag.gii__Product__r.name}" />

                        <apex:outputtext value="{!$ObjectType.gii__Product2Add__c.Fields.gii__Description__c.label}" />
                        <apex:outputField value="{!tag.gii__Product__r.gii__Description__c}" />

                        <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__ProductLot__c.label}" />
                        <apex:outputField value="{!tag.gii__ProductLot__r.name}" />

                        <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__ProductSerial__c.label}" />
                        <apex:outputField value="{!tag.gii__ProductSerial__r.name}" />
                    </apex:panelGrid>
                </apex:panelGroup>
            </apex:panelGrid>
            <br/>
            <br/>
            <apex:panelGrid columns="2" width="60%"  styleClass="companyName tableLayoutFixed">
                <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__OriginalCountQuantity__c.label}: ____________________ " />
                <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__RecountQuantity__c.label}: ____________________ " />
                &nbsp;
                <apex:outputtext value="{!$ObjectType.gii__PhysicalInventoryTag__c.Fields.gii__CountedBy__c.label}: ____________________ " />
            </apex:panelGrid>

        </div>
    </apex:repeat>
</apex:page>