<apex:page standardController="gii__PhysicalInventory__c" extensions="gii.PhyInvTagsPDFGenerationCon" sidebar="false" Tabstyle="gii__PhysicalInventory__c" id="PhyInvTagsPDFGeneration" lightningStylesheets="true">  
    <apex:sectionHeader title="{!$Label.gii__tagspdfgeneration}" subtitle="{!PhysicalInventory.name}"/>
    <apex:form id="theForm">
        <apex:pageBlock id="pb">
        <!-- *** SSAHU v12.7 Moved the code from bottom for lightningStylesheets="true" implementation-->
        <apex:pageBlockButtons location="Top" id="pageButton">
                <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:outputPanel >
                            <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>                           
                            <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                            <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >     
                            <apex:commandButton action="{!GeneratePITagsPDF}" value="{!$Label.gii__generatepdf}" immediate="false" status="status2" title="{!$Label.gii__generatepdf}"
                            rerender="theForm" disabled="{!ShowError}"
                            onComplete="OpenPDF('{!URLFOR($Site.Prefix+NextPageURL, null, null, false)}', '{!count}');"/> 
                            <!-- v12.1 Included site prefix to allow it to work in the community -->
                            <!--onComplete="OpenPDF('{!NextPageURL}', '{!count}');"/> -->
                            <apex:commandButton action="{!AttachPITagsPDF}" value="{!$Label.gii__attach}" immediate="false" status="status2" rerender="theForm" disabled="{!ShowError}" title="{!$Label.gii__attach}"/>    
                            <apex:commandButton action="{!cancel}" value="{!$Label.gii__cancel}" immediate="true" title="{!$Label.gii__returntopreviouspage}"/>    
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>  
        <!-- SSAHU v12.7 *** -->            
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >                          
                    <apex:outputLabel value="{!$ObjectType.gii__PhysicalInventory__c.Fields.Name.label}" for="PhyInvLink"/>                        
                    <apex:outputLink id="PhyInvLink" value="/{!PhysicalInventory.id}">
                        <apex:outputField id="PhyInv" value="{!PhysicalInventory.name}"/>  
                    </apex:outputLink>
                </apex:pageBlockSectionItem>                        
                <apex:outputField id="Description" value="{!PhysicalInventory.gii__Description__c}"/>                            
                <apex:outputField id="closed" value="{!PhysicalInventory.gii__Closed__c}"/>                            
                <apex:outputField id="TotalTags" value="{!PhysicalInventory.gii__TotalTags__c}"/>  
                <apex:outputField id="TotalBlankTags" value="{!PhysicalInventory.gii__TotalBlankTags__c}"/>  
                <apex:outputField id="TotalUnAccountedTags" value="{!PhysicalInventory.gii__TotalUnAccountedTags__c}"/>                          
            </apex:pageBlockSection>                  
        </apex:pageBlock> 

        <apex:pageBlock id="searchPB" Title="{!$Label.gii__searchfilters}" mode="edit">
            <table width="100%" class="searchFilterFields" columns="3">
                <tr>
                    <td align="left">    
                        <apex:pageBlockSection columns="2">
                            <apex:inputText label="{!$Label.gii__fromtagnumber}" value="{!FromTagNumber}" />      
                            <apex:inputText label="{!$Label.gii__totagnumber}" value="{!ToTagNumber}"/>                         
                            <apex:inputField value="{!TempPhyInvTag.gii__Warehouse__c}"/>                        
                            <apex:inputField value="{!TempPhyInvTag.gii__Location__c}"/> 
                            <apex:inputCheckbox value="{!UnAccountedTagsOnly}" label="{!$Label.gii__unaccountedtagsonly}" /> 
                        </apex:pageBlockSection>
                    </td>
                </tr>
            </table>            
        </apex:pageBlock>  

        <apex:pagemessages id="c" />  

        <!-- *** SSAHU v12.7 Commented the below code and moved to top for lightningStylesheets="true" implementation-->
        <!-- <apex:pageBlock id="DetailPB">         -->
            <!-- <apex:pageBlockButtons location="Top" id="pageButton"> -->
                <!-- <apex:actionStatus id="status2" > -->
                    <!-- <apex:facet name="start"> -->
                        <!-- <apex:outputPanel > -->
                            <!-- <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>                            -->
                            <!-- <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/> -->
                            <!-- <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/> -->
                        <!-- </apex:outputPanel> -->
                    <!-- </apex:facet> -->
                    <!-- <apex:facet name="stop"> -->
                        <!-- <apex:outputPanel >      -->
                            <!-- <apex:commandButton action="{!GeneratePITagsPDF}" value="{!$Label.gii__generatepdf}" immediate="false" status="status2" title="{!$Label.gii__generatepdf}" -->
                            <!-- rerender="theForm" disabled="{!ShowError}" -->
                            <!-- onComplete="OpenPDF('{!URLFOR($Site.Prefix+NextPageURL, null, null, false)}', '{!count}');"/>  -->
                            <!-- <!-- v12.1 Included site prefix to allow it to work in the community --> 
                            <!-- <!--onComplete="OpenPDF('{!NextPageURL}', '{!count}');"/> -->
                            <!-- <apex:commandButton action="{!AttachPITagsPDF}" value="{!$Label.gii__attach}" immediate="false" status="status2" rerender="theForm" disabled="{!ShowError}" title="{!$Label.gii__attach}"/>     -->
                            <!-- <apex:commandButton action="{!cancel}" value="{!$Label.gii__cancel}" immediate="true" title="{!$Label.gii__returntopreviouspage}"/>     -->
                        <!-- </apex:outputPanel> -->
                    <!-- </apex:facet> -->
                <!-- </apex:actionStatus> -->
            <!-- </apex:pageBlockButtons>        -->
        <!-- </apex:pageBlock> -->
 <!-- SSAHU v12.7 *** -->       
    </apex:form>
    <script>
    function OpenPDF(pURL, count) {
        if (count > 0 && count < 1001) {
            window.open(pURL);
        }
    }
    </script>  
</apex:page>