<apex:page StandardController="gii__PickList__c" extensions="gii.PicklistCon" action="{!PageAction}" lightningStylesheets="true">

<style type="text/css">
    .customPopup{
        background-color:white;
        border-style:solid;
        border-width:3px;
        position: absolute;
        padding:10px;
        z-index: 9999;
        width: 600px;
        left:30%;
        top:5%;
    }
    .popupBackground{
        background-color: #ffffff;
        border: 1px solid black;
        filter:alpha(opacity=60);
        opacity:0.6;
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9998;
        }
</style>

<script>
function openpopup(text,productId) {
    var url = '{!JSENCODE($Page.gii__ShowSerials)}' + '?id=' + {!JSENCODE('productId')} + '&fieldId=' + {!JSENCODE('text')};
    var SerialWindow = window.open(url,'','left=300,top=200,height=500,width=750,status=yes,scrollbars=yes,resizable=yes');
 }
 
 function openpopupforLot(text, productId, showLot) {
    var url = '{!JSENCODE($Page.gii__ShowSerials)}' + '?id=' + {!JSENCODE('productId')} + '&fieldId=' + {!JSENCODE('text')} + '&Lot=' + {!JSENCODE('showLot')};
    var SerialWindow = window.open(url,'','left=300,top=200,height=500,width=750,status=yes,scrollbars=yes,resizable=yes');
 }

function valueCheck(input,seq){
if (input.value != null) {
var picked = input.value / 1.0;
var pick   = 0.0;
pick = document.getElementsByName('PickQuantity')[seq - 1 ].value / 1.0;
var originalpicked = document.getElementsByName('PickedQuantity')[seq - 1].value / 1.0;
var picklistStatus  = document.getElementsByName('picklistStatus')[seq - 1].value;
  if (picklistStatus == 'Confirmed') {
   if (picked != pick) {
         input.value = originalpicked;
         alert('{!$Label.gii__pickedquantitycannotbemodified}');
      }
  }
  else
  {
  if (picked > pick) {
      alert('{!$Label.gii__pickedquantitycannotbegreaterthanrequiredpickqty}');
      input.value = originalpicked;
    }
  }
}
}
</script>
<apex:panelGrid columns="3" id="grid01">
    <apex:outputpanel id="main" layout="block" >
    <apex:form > 
    <apex:SectionHeader title="{!$Label.gii__editpickedquantity}" SubTitle="{!$Label.gii__picklist} :  {!picklist.name} - {!picklist.gii__Status__c}"/>

    <apex:outputLink value="/{!Picklist.Id}" Id="picklistName"> {!$Label.gii__picklist} :  {!picklist.name} </apex:outputLink> 
    <apex:PageBlock id="EditPickQtyPageBlock">
    
        <apex:pageBlockButtons location="Top" id="pageButton1">
            <apex:actionStatus id="status1" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                        <!-- v10.1 removed rerender attribute  <apex:commandButton value="{!$Label.gii__save}"   action="{!save}" status="status1" rerender="EditPickQtyPageBlock"> -->
                       <apex:commandButton value="{!$Label.gii__save}"   action="{!save}" status="status1" ></apex:commandButton> 
                       <apex:commandButton value="{!$Label.gii__cancel}" action="{!cancel}"></apex:commandButton> 
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons> 
        
    <apex:pageMessages ></apex:pageMessages>
    <apex:pageBlockSection >
    <!-- *** SSAHU v12.7 Added style="width:auto;" for column heading overlapping for lightningStylesheets="true" -->  
        <apex:pageBlockTable value="{!Picklists}" var="pick" width="90%" style="width:auto;" styleClass="list">
   
          <apex:column headervalue="{!$Label.gii__sequence}" >
              <apex:outputfield value="{!pick.gii__PickListPickSequence__c}"/>
          </apex:column>   

          <apex:column >
              <apex:facet name="header">{!$ObjectType.gii__PickListDetail__c.Fields.gii__SalesOrder__c.label}    
              </apex:facet>
                         <apex:outputField value="{!pick.gii__SalesOrder__c}"/>
          </apex:column> 
           
          <apex:column >
               <apex:facet name="header">{!$Label.gii__line_column_heading}
               <!--{!$ObjectType.PickListDetail__c.Fields.SalesOrderLine__c.label} -->
              </apex:facet>
                    <apex:outputfield value="{!pick.gii__SalesOrderLine__c}"/>
          </apex:column>     

          <apex:column headervalue="{!$Label.gii__inventoryreserve} {!$Label.gii__sequence}">
             <apex:outputPanel >
               <apex:facet name="header">{!$ObjectType.gii__PickListDetail__c.Fields.gii__ReserveSequence__c.label}                      
               </apex:facet> 
              <apex:outputField value="{!pick.gii__ReserveSequence__c}"/>
             </apex:outputPanel>
          </apex:column>  

          <apex:column >
               <apex:facet name="header">{!$ObjectType.gii__PickListDetail__c.Fields.gii__Product__c.label}                     
              </apex:facet>
                    <apex:outputfield value="{!pick.gii__Product__c}"/><br/>                   
          </apex:column> 
       
          <apex:column >
              <apex:facet name="header">
              <!-- {!$ObjectType.PickListDetail__c.Fields.PickQuantity__c.label} -->
              {!$ObjectType.gii__PickListDetail__c.Fields.gii__SellingUMPickQuantity__c.label}
              </apex:facet>
                    <!-- <apex:outputfield value="{!pick.PickQuantity__c}"/> -->
                    <apex:outputfield value="{!pick.gii__SellingUMPickQuantity__c}"/>                    
          </apex:column> 
       
          <apex:column >
               <apex:facet name="header">
               <!-- {!$ObjectType.PickListDetail__c.Fields.PickedQuantity__c.label} -->
               {!$ObjectType.gii__PickListDetail__c.Fields.gii__SellingUMPickedQuantity__c.label}
               </apex:facet>
<!--                   <input type="hidden" name="PickedQuantity" value="{!pick.gii__PickedQuantity__c}"></input>
                   <apex:inputField id="picked" value="{!pick.gii__PickedQuantity__c}" onChange="valueCheck(this,{!pick.gii__PickListPickSequence__c})"></apex:inputfield>
                   <input type="hidden" name="PickQuantity" value="{!pick.PickQuantity__c}"></input> -->
                   <input type="hidden" name="PickedQuantity" value="{!pick.gii__SellingUMPickedQuantity__c}"></input>
                   <apex:inputField id="picked" value="{!pick.gii__SellingUMPickedQuantity__c}" onChange="valueCheck(this,{!pick.gii__PickListPickSequence__c})"></apex:inputfield>
                   <input type="hidden" name="PickQuantity" value="{!pick.gii__SellingUMPickQuantity__c}"></input>                  
                   <input type="hidden" name="picklistStatus" value="{!picklist.Status__c}"></input>
          </apex:column>
   
          <apex:column >
               <apex:facet name="header">{!$ObjectType.gii__PickListDetail__c.Fields.gii__StockUM__c.label}
              </apex:facet>
                   <!-- <apex:outputField value="{!pick.gii__StockUM__c}"/> -->
                   <apex:outputField value="{!pick.gii__StockUM__c}" rendered="{!IF(pick.gii__SellingUnitofMeasure__c <> null,false,true)}"/>
                   <apex:outputField value="{!pick.gii__SellingUnitofMeasure__c}" rendered="{!IF(pick.gii__SellingUnitofMeasure__c <> null,true,false)}"/>                  
          </apex:column>

          <apex:column rendered="{!AND(pick.Product__r.gii__SerialControlled__c,NOT(ManageInventorybyLocationPolicy))}">
              <apex:outputpanel >
                  <apex:commandbutton value="{!$Label.gii__assignserials}" action="{!add}" rerender="InventoryReserveDetail,grid01" >
                     <apex:param name="inventoryId" value="{!pick.gii__ReserveSequence__c}"/>
                     <apex:param name="pickdetId"   value="{!pick.Id}"/>
                     <apex:param name="pickedQuantity"   value="{!pick.gii__PickedQuantity__c}"/>
                  </apex:commandbutton>
             </apex:outputpanel>
           </apex:column>   

                      
            <apex:column rendered="{!AND(pick.Product__r.gii__LotControlled__c, NOT(ManageInventorybyLocationPolicy))}">
             <apex:outputpanel >
              <apex:commandbutton value="{!$Label.gii__assignlot}" action="{!Lot}" immediate="true"
                  rerender="InventoryReserveDetail,grid01,LotAssignmentPanel, popup1"  >  
                     <apex:param name="inventoryId" value="{!pick.gii__ReserveSequence__c}"/>
                     <apex:param name="pickdetId"   value="{!pick.Id}"/>
                     <apex:param name="pickedQuantity"   value="{!pick.gii__PickedQuantity__c}"/>
              </apex:commandbutton>
            </apex:outputpanel>
          </apex:column>  
          
          <apex:column rendered="{!AND(pick.Product__r.gii__SerialControlled__c, NOT(ManageInventorybyLocationPolicy))}">
          <apex:outputpanel >
              <apex:commandbutton value="{!$Label.gii__unassign} {!$Label.gii__serials}" action="{!UnAssign}"  
                  rerender="InventoryReserveDetail,grid01, LotAssignmentPanel, popup">  
                     <apex:param name="inventoryId" value="{!pick.gii__ReserveSequence__c}"/>
                     <apex:param name="pickdetId"   value="{!pick.Id}"/>
                     <apex:param name="pickedQuantity"   value="{!pick.gii__PickedQuantity__c}"/>
              </apex:commandbutton>
          </apex:outputpanel>
       </apex:column> 
             
        </apex:pageBlockTable> 
        </apex:pageBlockSection>
    </apex:PageBlock> 
    </apex:form>
</apex:outputpanel>

<!-- SERIALS-->

<apex:outputPanel id="popup" layout="block">
 <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!showSerial}"/>
  <apex:outputPanel id="InventoryReserveDetail" styleClass="customPopup" layout="block" rendered="{!showSerial}" >  
  <apex:actionStatus startText="Loading...."/>
  <apex:form rendered="{!showSerial}" id="parentForm"> 

   <apex:sectionHeader title="{!$Label.gii__assignserials}" subtitle="{!$ObjectType.gii__PickListDetail__c.Fields.gii__Product__c.label} : {!pickDetTitle}" rendered="{!NOT(UnAssignSerials)}"/> 
   <apex:sectionHeader title="{!$Label.gii__unassign} {!$Label.gii__serials}" subtitle="{!$ObjectType.gii__PickListDetail__c.Fields.gii__Product__c.label} : {!pickDetTitle}" rendered="{!UnAssignSerials}"/> 

   <apex:PageBlock id="theTable" >

         <apex:pageBlockButtons location="Top" id="pageButton2">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!reset}" rendered="{!UnAssignSerials}"/>
                       <apex:commandButton id="Saving4" value="{!$Label.gii__saving}" disabled="true" action="{!reset}" rendered="{!NOT(UnAssignSerials)}"/>
                       <apex:commandButton id="Saving5" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                         <apex:commandButton value="{!$Label.gii__save}"  action="{!SaveUnAssignSerials}" onclick="return confirm('{!$Label.gii__areyousure}');" rendered="{!UnAssignSerials}"/>
                         <apex:commandButton value="{!$Label.gii__save}"   action="{!saveProductSerial}" rendered="{!NOT(UnAssignSerials)}" status="status2" rerender="theTable"/>
                         <apex:commandButton value="{!$Label.gii__cancel}" action="{!reset}"/>
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons> 

        <apex:pageMessages rendered="{!showError}"></apex:pageMessages>

      <apex:pageBlockSection id="section" title=" {!$Label.gii__productserialcount}  {!FLOOR(ProductSerialCount)}"  columns="1">
          <apex:pageBlockTable value="{!productSerial}" var="serial" id="serialList">

            <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.gii__Sequence__c.Label}">
                <apex:outputField value="{!serial.gii__Sequence__c}"></apex:outputField>
            </apex:column>

            <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.Name.Label}" rendered="{!NOT(UnAssignSerials)}">
                 <apex:inputText id="serial" value="{!serial.Name}"> </apex:inputText>&nbsp;&nbsp;
                <apex:image value="{!$Resource.gii__SearchIcon}" onclick="openpopup('{!JSENCODE($Component.parentForm.theTable.section.serialList.serial)}','{!JSENCODE(serial.gii__Product__c)}');"/>
            </apex:column>   
            
           <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.Name.Label}" rendered="{!UnAssignSerials}">
                <apex:outputField value="{!serial.Name}"/>
           </apex:column> 
  
           <apex:column rendered="{!UnAssignSerials}" headerValue="{!$Label.gii__unassign} {!$ObjectType.gii__ProductSerial__c.Fields.Name.Label}" title="Check Un-Assign Product Serial and click on Save Button.">
                <apex:inputCheckbox value="{!serial.gii__Delete__c}" title="{!$Label.gii__unassignproductserial_help}"/>
           </apex:column> 

      </apex:pageBlockTable>
     </apex:pageBlockSection>
  </apex:PageBlock>
  </apex:form>
 </apex:outputPanel>
</apex:outputPanel>

<!-- LOT DETAILS-->
 <apex:outputPanel id="popup1" layout="block">
  <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!showLot}"/>

  <apex:outputPanel id="LotAssignmentPanel" styleClass="customPopup" layout="block" rendered="{!showLot}">  
    <apex:actionStatus startText="Loading...."/>
   <apex:form id="parentForm1" rendered="{!showLot}"  >
   <apex:sectionHeader title="{!$Label.gii__assignlot}" subtitle="{!$ObjectType.gii__PickListDetail__c.Fields.gii__Product__c.label} : {!pickDetTitle}"/>
    <apex:PageBlock id="theTable1" >

         <apex:pageBlockButtons location="Top" id="pageButton3">
            <apex:actionStatus id="status3" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving6" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                       <apex:commandButton id="Saving7" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                       <apex:commandButton id="Saving8" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                         <apex:commandButton value="{!$Label.gii__assignlot}" action="{!addLot}"/>
                         <apex:commandButton value="{!$Label.gii__save}"  action="{!saveLot}" status="status3" rerender="theTable1"/>
                         <apex:commandButton value="{!$Label.gii__cancel}" action="{!reset}"/>
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons> 

        <apex:pageMessages ></apex:pageMessages>
        
        <apex:pageBlockSection id="section1" >
           <apex:pageBlockTable value="{!lotDetail}" var="lot" id="lotList" >
                <apex:column headerValue="{!$ObjectType.gii__LotDetail__c.Fields.gii__Sequence__c.Label}"><apex:outputField value="{!lot.gii__Sequence__c}"></apex:outputField></apex:column>

                <apex:column headerValue="{!$ObjectType.gii__LotDetail__c.Fields.gii__ProductLot__c.Label}">
                     <apex:inputField id="Lot"  value="{!lot.gii__LotName__c}"> </apex:inputField>&nbsp;&nbsp;
                </apex:column>

                <apex:column >
                     <apex:image value="{!$Resource.gii__SearchIcon}" onclick="openpopupforLot('{!JSENCODE($Component.parentForm1.theTable1.section1.lotList.Lot)}','{!JSENCODE(lot.gii__Product__c)}','Yes');"/>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.gii__LotDetail__c.Fields.gii__Quantity__c.Label}">
                    <apex:inputField id="qty" value="{!lot.gii__Quantity__c}"  > </apex:inputField>
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:PageBlock>
   </apex:form>
  </apex:outputPanel>
 </apex:outputPanel>
</apex:panelGrid>

<!--Related lists -->
<apex:relatedList id="pslist" rendered="{!NOT(ManageInventorybyLocationPolicy)}"  list="ProductSerial__r" subject="{!picklist.Id}"/>
<apex:relatedList id="lotlist" rendered="{!NOT(ManageInventorybyLocationPolicy)}"   list="Lot_Details__r" subject="{!picklist.Id}"/>
</apex:page>