<apex:page controller="gii.PriceBookSelelctionCon" label="PricebookSelelction" lightningStylesheets="true">

  <apex:sectionHeader title="{!$Label.gii__choosepricebook}" subtitle="{!OrderName}"/> 

  <apex:PanelGrid id="detail" columns="1"  rendered="{!IF(ShowError, 'true','false')}" style="text-align:center" width="100%"  cellpadding="5" cellspacing="0" >                                       
     <apex:form >
        <apex:pageMessages ></apex:pageMessages>
        <apex:commandButton id="continue" value="{!$Label.gii__continue}"  action="{!reset}" />
     </apex:form>    
  </apex:PanelGrid>

<!--  Show Price book selection only if no errors-->
<apex:panelGrid columns="1" width="100%" rendered="{!IF(ShowError, 'false','true')}">
 <br/> 
 <apex:pageMessages ></apex:pageMessages>
  <apex:form >
    <apex:pageBlock title="{!$Label.gii__choosepricebook}" mode="edit" id="thePageBlock">
        <apex:pageBlockButtons location="bottom">
             <apex:commandButton value="{!$Label.gii__save}"  action="{!Save}" />   
           <apex:commandButton value="{!$Label.gii__cancel}" action="{!reset}" immediate="true" />  
        </apex:pageBlockButtons>
      <apex:pageBlockSection columns="1">

        <apex:inputField rendered="{!NOT(usingGloviaPriceBook)}" value="{!TPH.gii__PriceBook__c}" required="true"/>
        <apex:inputField rendered="{!usingGloviaPriceBook}" value="{!TPH.gii__GloviaPriceBook__c}" required="true"/>
        
      </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>
</apex:panelGrid>
</apex:page>