<!-- Select purchase order lianes for drop ship  --> 
<apex:page Standardcontroller="gii__PurchaseOrder__c" extensions="gii.CreatePurchaseOrderReceiptCon" Tabstyle="gii__PurchaseOrder__c" sidebar="false" lightningStylesheets="true">
    <!--   <apex:form rendered="{!ManageInventorybyLocation}">
<apex:PanelGrid id="detail" columns="1"    width="100%"  cellpadding="5" cellspacing="0" >  
<apex:panelGroup layout="block"> 
<apex:PageMessages />                
</apex:panelGroup>

<apex:panelGroup layout="block" style="text-align:center"> 
<apex:commandButton id="continue" style="btn" value="{!$Label.Continue}"  action="{!cancel}" />
</apex:panelGroup>
</apex:PanelGrid>  
</apex:form> 
-->
<!-- *** SSAHU v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
     <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/> 

    <apex:form id="form01"> <!--  rendered="{!IF(ManageInventorybyLocation , false, true)}" -->
        <apex:sectionHeader title="{!$Label.gii__processdropship}" subtitle="{!PurchaseOrder.Name} "/>
        
        <apex:pageBlock >
            <apex:pageBlockSection columns="2">
                <apex:pageBlockSectionItem > 
                    <apex:outputLabel value="{!$ObjectType.gii__PurchaseOrder__c.Fields.Name.label}" for="PurchaseOrder"/>
                    <apex:outputLink id="PurchaseOrder" value="/{!PurchaseOrder.Id}">
                        <apex:outputField value="{!PurchaseOrder.Name}"/>
                    </apex:outputLink>
                </apex:pageBlockSectionItem>
                <apex:outputField id="POStatus" value="{!PurchaseOrder.gii__Status__c}"/>
                <apex:outputField id="Supplier" value="{!PurchaseOrder.gii__Supplier__c}"/>
                <apex:inputField value="{!tempPurchaseOrderReceipt.gii__ReceiptDate__c}" required="true" />
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:pageBlock rendered="{!IF(PurchaseOrder.gii__TotalOpenQuantity__c > 0, true, false)}">
            
            <!-- *** SSAHU v12.5 Commented below line and added unique id for page message --> 
            <!-- <apex:pageMessages ></apex:pageMessages>  -->
            <apex:pagemessages id="msg"></apex:pagemessages>
            
            <!-- Purchase Order Lines Available for Drop Ship -->
            <apex:pageBlockSection id="theSection" columns="1" Title="{!$Label.gii__polinesavailablefordropship}"
                                   rendered="{!IF(PurchaseOrder.gii__TotalOpenQuantity__c > 0, true,false)}">
               <!-- *** SSAHU v12.7 Added style="width:auto;" for column heading overlapping for lightningStylesheets="true" -->
                <apex:pageBlockTable frame="border" id="pageTable" value="{!PurchaseOrderLinesForDropShip}" width="100%" style="width:auto;" 
                                     var="p" border="3"  >
                    <apex:column width="1">
                        <apex:facet name="header">
                            <apex:inputCheckbox >
                                <apex:actionSupport event="onclick" onsubmit="checkAll(this)" rerender="Selected_PBS" />
                            </apex:inputCheckbox>
                        </apex:facet>
                        <apex:inputCheckbox value="{!p.selected}" id="checkedone" title="{!$Label.gii__select} {!p.pol.Name}"
                                            rendered="{!!ManageInventorybyLocation ||
                                                      (!p.pol.Product__r.SerialControlled__c && !p.pol.Product__r.LotControlled__c)}">
                            <apex:actionSupport event="onclick" rerender="Selected_PBS" />
                        </apex:inputCheckbox>
                        <apex:commandLink value="{!$Label.gii__serialreceive}" immediate="true" action="{!assignSerialDropShip}" reRender="form01"
                                          rendered="{!p.pol.Product__r.gii__SerialControlled__c && ManageInventorybyLocation}">
                            <apex:param assignTo="{!POLid}" value="{!p.pol.Id}" name="p1" />
                        </apex:commandLink>
                        <apex:commandLink value="{!$Label.gii__lotreceive}"  immediate="true" action="{!assignLotDropShip}" reRender="form01"
                                          rendered="{!p.pol.Product__r.gii__LotControlled__c && ManageInventorybyLocation}">
                            <apex:param assignTo="{!POLid}" value="{!p.pol.Id}" name="p1" />
                        </apex:commandLink>
                    </apex:column>
                    <apex:column headervalue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.Name.label}" >
                        <apex:outputLink value="/{!p.pol.id}"  > {!p.pol.Name} </apex:outputLink>
                    </apex:column>
                    <apex:column headervalue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__SalesOrderLine__c.label}"
                                 value="{!p.pol.gii__SalesOrderLine__c}" />
                    <apex:column headervalue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__Product__c.label}" value="{!p.pol.gii__Product__c}"/>
                    <apex:column headervalue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__ShipTo__c.label}" value="{!p.pol.gii__ShipTo__c}" />
                    <apex:column headervalue="{!$ObjectType.gii__PurchaseOrderReceiptLine__c.Fields.gii__Location__c.label}"
                                 rendered="{!ManageInventorybyLocation}">
                        <apex:inputField id="location" value="{!p.porl.gii__Location__c}"
                                         rendered="{!!p.pol.Product__r.gii__SerialControlled__c && !p.pol.Product__r.gii__LotControlled__c}" />
                        <apex:outputField id="locationDefault" value="{!p.pol.ShipTo__r.gii__DefaultReceivingLocation__c}"
                                          rendered="{!p.pol.Product__r.gii__SerialControlled__c || p.pol.Product__r.gii__LotControlled__c}" />
                    </apex:column>
                    <apex:column headervalue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__OrderQuantity__c.label}"
                                 value="{!p.pol.gii__OrderQuantity__c}" />
                    <apex:column headervalue="{!$ObjectType.gii__PurchaseOrderLine__c.Fields.gii__OpenQuantity__c.label}"
                                 value="{!p.pol.gii__OpenQuantity__c}" />
                    <apex:column headervalue="{!$ObjectType.gii__PurchaseOrderReceiptLine__c.Fields.gii__ReceivedQuantity__c.label}">
                        <apex:inputField id="rqty" value="{!p.porl.gii__ReceivedQuantity__c}"
                                         rendered="{!!p.pol.Product__r.gii__SerialControlled__c && !p.pol.Product__r.gii__LotControlled__c}"/>
                        <apex:outputField id="quantityReceived" value="{!p.pol.gii__ReceivedQuantity__c}"
                                          rendered="{!p.pol.Product__r.gii__SerialControlled__c || p.pol.Product__r.gii__LotControlled__c}" />
                    </apex:column>
                    <apex:column colspan="110" headerValue="{!$ObjectType.gii__PurchaseOrderReceiptLine__c.Fields.gii__StockUM__c.Label}" >
                        <apex:outputField value="{!p.pol.gii__StockUM__c}" 
                                                rendered="{!IF(p.pol.gii__BuyingUnitofMeasure__c <> null,false,true)}"/>
                        <apex:outputField value="{!p.pol.gii__BuyingUnitofMeasure__c}" 
                                                rendered="{!IF(p.pol.gii__BuyingUnitofMeasure__c <> null,true,false)}"/>                     
                    </apex:column>                      
                    
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="Top" id="pageButton">
                <apex:actionStatus id="status2" >
                    <apex:facet name="start">
                        <apex:outputPanel > 
                            <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >
                            <!--v10.1 removed rerender attribute
                            <apex:commandButton action="{!receivePOLinesForDropShip}" status="status2" rerender="form01"
                                                immediate="false" value="{!$Label.gii__save}" disabled="false"
                                                rendered="{!IF(PurchaseOrder.gii__TotalOpenQuantity__c > 0, true,false)}" /> -->
                            <!-- *** SSAHU v12.5 Commented below line added oncomplete, rerender -->                    
                            <!-- <apex:commandButton action="{!receivePOLinesForDropShip}" status="status2"  -->
                                                <!-- immediate="false" value="{!$Label.gii__save}" disabled="false" -->
                                                <!-- rendered="{!IF(PurchaseOrder.gii__TotalOpenQuantity__c > 0, true,false)}" /> -->
                                                <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                            <apex:commandButton action="{!receivePOLinesForDropShip}" status="status2" 
                                                immediate="false" value="{!$Label.gii__save}" disabled="false"
                                                rendered="{!IF(PurchaseOrder.gii__TotalOpenQuantity__c > 0, true,false)}" rerender="dummyPanelId,msg" oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" />
                                                &nbsp;&nbsp;&nbsp;&nbsp;            
                            <apex:commandButton action="{!cancel}" immediate="true" value="{!$Label.gii__cancel}"/>  
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>
        </apex:pageBlock>
         <!-- *** SSAHU v12.5  dummy outputpanel to rerender -->
        <apex:outPutPanel layout="block" id="dummyPanelId"> 
        </apex:outPutPanel>
        <!-- v12.5 *** -->   
    </apex:form>
    <script>
    function checkAll(cb){
        var inputElem = document.getElementsByTagName("input");
        for(var i=0; i<inputElem.length; i++){
            if(inputElem[i].id.indexOf("checkedone")!=-1)
                inputElem[i].checked = cb.checked;
        }
    }    
    function setFocusOnLoad() {}    
    </script>
</apex:page>