<!--PurchaseOrderLineList - Receive Button -->
<apex:page standardController="gii__PurchaseOrderLine__c"  recordSetVar="case" extensions="gii.PurchaseOrderLineListCon" setup="false" sidebar="false" tabStyle="gii__PurchaseOrder__c" lightningStylesheets="true">

<apex:outputPanel id="detail01">
<apex:stylesheet value="{!$Resource.gii__ActionStatus}" />
  <apex:sectionHeader title="{!$Label.gii__purchaseorderline} - {!$Label.gii__receive}" />                       

  <script>
    function setFocus() {
         document.getElementById('{!$Component.mainform1.pageBlock01.pageButtons.Save}').focus();
    }
  </script>

  <apex:form id="mainform1">
           <apex:pageBlock id="pageBlock01" mode="edit">
           <br/>
           <apex:pageMessages />
           <apex:pageBlockSection collapsible="false"  columns="1" rendered="{!NOT(continueBtn)}" title="{!$Label.gii__selectanasofdate}">
                &nbsp;
                <apex:inputField value="{!Recpt.gii__ReceiptDate__c}" required="true"/>
           </apex:pageBlockSection>

           <apex:pageBlockButtons location="bottom" id="pageButtons">       
                  <apex:actionStatus id="status" >
                    <apex:facet name="start">
                        <apex:outputPanel >
                           <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                           <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >
                           <apex:commandButton id="Save" value="{!$Label.gii__save}" rendered="{!AND(NOT(continueBtn),actionEnabled)}" 
                              status="status" rerender="pageBlock01" title="{!$Label.gii__save}" action="{!ListbuttonAction}" />
                           <apex:commandButton id="cancel1"  value="{!$Label.gii__cancel}" immediate="true" action="{!returnToPrevious}" title="{!$Label.gii__returntopreviouspage}" rendered="{!NOT(continueBtn)}"/>
                           <apex:commandButton id="continue11" value="{!$Label.gii__continue}" immediate="true" rendered="{!continueBtn}" action="{!returnToPrevious}" title="{!$Label.gii__returntopreviouspage}" />
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons> 

        </apex:pageBlock>
  </apex:form>
</apex:outputpanel>
<div class="normal"></div>
</apex:page>