<apex:page controller="gii.PurgeRequestforQuotePageCon" setup="false" sidebar="false" docType="html-5.0" lightningStylesheets="true">
 <apex:sectionHeader title="{!$Label.gii__purgerequestforquotes}"/>
 <!-- v11.6:show the error message if the error is true -->
 <apex:pagemessages rendered="{!OR(NOT(SystemPolicyCheck1), error)}" > </apex:pagemessages>
 <apex:form id="form01" rendered="{!AND(SystemPolicyCheck1, NOT(error))}">
  <apex:pageBlock mode="edit">
      <apex:pageBlockSection collapsible="false" title="{!$Label.gii__startbatchprocesstopurgerequestforquotes}" columns="1" rendered="{!$CurrentPage.parameters.JobId= null}">
          <apex:pagemessages ></apex:pagemessages> 
          <apex:inputCheckbox value="{!deleteRequestforQuoteHeader}" label="{!$Label.gii__alsodeletedatafrom}  {!$ObjectType.gii__RequestforQuote__c.label}"/>         
       </apex:pageBlockSection>       
       
       <apex:pageBlockSection collapsible="false" title="{!$Label.gii__apexbatchjob}" columns="1" rendered="{!$CurrentPage.parameters.JobId <> null}">       
           <c:MonitorBatchJobs id="jobs" numberOfJobs1="1" jobId1="{!$CurrentPage.parameters.JobId}"/> 
       </apex:pageBlockSection> 
       
        <apex:pageBlockButtons location="bottom">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true"/>&nbsp;&nbsp;
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >        
                         <apex:commandButton action="{!purge}" value="{!$Label.gii__purge}" title="{!$Label.gii__startbatchprocesstopurgerequestforquotes}" 
                                 rendered="{!$CurrentPage.parameters.JobId= null}" status="status2" rerender="form01"/>
                         <apex:commandButton action="{!returnToPrevious}" value="{!$Label.gii__returntopreviouspage}" title="{!$Label.gii__returntopreviouspage}"/>
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
         </apex:pageBlockButtons>       
    </apex:pageBlock>
  </apex:form>
</apex:page>