<!--ReceiptQueueList - Receive Button -->

<apex:page standardController="gii__ReceiptQueue__c"  recordSetVar="case" extensions="gii.ReceiptQueueListCon" setup="false" sidebar="false" lightningStylesheets="true">

<!-- *** SSAHU v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
<apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>

<apex:outputPanel id="detail01">
<apex:stylesheet value="{!$Resource.gii__ActionStatus}" />
  <apex:sectionHeader title="{!$Label.gii__receiptqueue} - {!$Label.gii__receive}" />                     
  <script>
    function setFocus() {
         document.getElementById('{!$Component.mainform1.pageBlock01.pageButtons.Save}').focus();
    }
  </script>

  <apex:form id="mainform1">
           <apex:pageBlock id="pageBlock01" mode="edit">
           <br/>
           <apex:pageMessages />
           <apex:pageBlockSection collapsible="false"  columns="1" rendered="{!NOT(continueBtn)}" title="{!$Label.gii__selectanasofdate}">
                &nbsp;
                <apex:inputField value="{!Rcpt.gii__ReceiptDate__c}" required="true"/>
                <apex:inputField value="{!Rcpt.gii__Location__c}" rendered="{!ManageInventorybyLocation}" required="true"/>
                <apex:inputField value="{!Rcpt.gii__LocationBin__c}" rendered="{!ManageInventorybyLocation}" />
           </apex:pageBlockSection>
           
           <apex:pageBlockButtons location="bottom" id="pageButtons">       
                  <apex:actionStatus id="status" >
                    <apex:facet name="start">
                        <apex:outputPanel >
                           <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                           <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >
                           <apex:commandButton id="Save" value="{!$Label.gii__save}" rendered="{!AND(NOT(continueBtn),actionEnabled)}" 
                              status="status" rerender="pageBlock01" title="{!$Label.gii__save}" action="{!ListbuttonAction}" />
                              <!-- *** SSAHU v12.5 Commented the below line and added oncomplete and rerender to enforce the refresh in lightning  -->
                           <!-- <apex:commandButton id="cancel1"  value="{!$Label.gii__cancel}" immediate="true" action="{!returnToPrevious}" title="{!$Label.gii__returntopreviouspage}" rendered="{!NOT(continueBtn)}"/> -->
                           <apex:commandButton id="cancel1"  value="{!$Label.gii__cancel}" immediate="true" action="{!returnToPrevious}" title="{!$Label.gii__returntopreviouspage}" rendered="{!NOT(continueBtn)}" oncomplete="navBackAndRefreshforListBtn('{!returnURL}')"/>
                           <!-- *** SSAHU v12.5 Commented the below line and added oncomplete to enforce the refresh in lightning -->
                           <!-- <apex:commandButton id="continue11" value="{!$Label.gii__continue}" immediate="true" rendered="{!continueBtn}" action="{!returnToPrevious}" title="{!$Label.gii__returntopreviouspage}" /> -->
                            <apex:commandButton id="continue11" value="{!$Label.gii__continue}" immediate="true" rendered="{!continueBtn}" action="{!returnToPrevious}" title="{!$Label.gii__returntopreviouspage}" oncomplete="navBackAndRefreshforListBtn('{!returnURL}')" />
                           
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>

            </apex:pageBlockButtons> 
           
        </apex:pageBlock>
  </apex:form>
</apex:outputpanel>
<div class="normal"></div>
</apex:page>