<!-- SalesOrderAddlChgList-  ForwardToInvoice Button -->
<apex:page standardController="gii__SalesOrderAdditionalCharge__c" extensions="gii.SalesOrderAdditionalChargeListCon"  recordSetVar="soaddlchg" setup="false" sidebar="false" lightningStylesheets="true">

<!-- *** SSAHU v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
<apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>
    
<apex:stylesheet value="{!$Resource.gii__ActionStatus}" />

<apex:outputPanel id="detail01">

<apex:PanelGrid id="sectionH" columns="1" border="0" style="text-align:left" width="100%">
 <apex:sectionHeader title="{!$Label.gii__salesorderadditionalcharge} - {!$Label.gii__forwardtoinvoice}" />                
</apex:PanelGrid>

<apex:form id="mainform">
        <apex:actionFunction name="executeAction" action="{!ListbuttonAction}" rendered="{!actionEnabled}" 
                rerender="detail" status="detailStatus" >
        </apex:actionFunction>
        <script>window.setTimeout(executeAction,500)</script>
    <apex:PanelGrid id="detail" columns="1"   width="100%"  cellpadding="5" cellspacing="0" >  
        <apex:pagemessages ></apex:pagemessages>  
        <apex:PanelGrid id="detail1" columns="1"   style="text-align:center" width="100%"  cellpadding="5" cellspacing="0" >                                    
                <apex:PanelGrid id="image" columns="1" border="0" style="text-align:center" width="100%">
                        <apex:image value="/img/waiting_dots.gif" width="156" height="25" rendered="{!actionEnabled}"></apex:image> 
                </apex:PanelGrid>
                <apex:actionStatus id="detailStatus" layout="block" > 
                     <apex:facet name="start">
                     <div class="background" > 
                     </div>
                     </apex:facet>                
                     <apex:facet name="stop">              
                           <apex:panelGroup layout="block" > 
                                 <!-- *** SSAHU v12.5 Commented the below line and added oncomplete to enforce the refresh in lightning -->                  
                               <!-- <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}" rendered="{!continueBtn}" action="{!returnToPrevious}" /> -->
                               <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}" rendered="{!continueBtn}" action="{!returnToPrevious}" oncomplete="navBackAndRefreshforListBtn('{!returnURL}')" />
                           </apex:panelGroup>
                     </apex:facet>
                  </apex:actionStatus>    
          </apex:PanelGrid>  
</apex:PanelGrid>  
</apex:form>
</apex:outputpanel>
<div class="normal"></div>
</apex:page>