<apex:page standardController="gii__SalesOrder__c"  extensions="gii.SalesOrderApplyShippingCon" sidebar="false" lightningStylesheets="true">
    <apex:stylesheet value="{!$Resource.gii__ActionStatus}" /> 
    <apex:sectionHeader title="{!so.name}"  Subtitle="{!$Label.gii__applyshipping}"/>                
    <apex:form id="mainform">
      <apex:pageBlock mode="edit"> 
        <apex:pageBlockSection columns="2"> 
           <apex:pageBlockSection collapsible="false" columns="1">
                 <apex:pageBlockSectionItem > 
                     <apex:outputLabel value="{!$ObjectType.gii__SalesOrder__c.Fields.Name.label}" for="so"/>
                     <apex:outputLink id="so" value="/{!so.id}">
                           <apex:outputField value="{!so.name}"/>
                     </apex:outputLink>
                 </apex:pageBlockSectionItem>
                 <apex:outPutField value="{!so.gii__OrderStatus__c}"/>
                 <apex:outPutField value="{!so.gii__OrderDate__c}"/>                  
                 <apex:outPutField value="{!so.gii__Account__c}"/>
                 <apex:outPutField value="{!so.gii__Program__c}"/> 
                 <apex:outPutField value="{!so.gii__Promotion__c}"/>
                 <!-- *** v12.7 PAKKIENNI Removed the extra white space     
                 &nbsp; -->
                 <apex:outPutField value="{!so.gii__Carrier__c}"/>
                <apex:outPutField value="{!so.gii__Carrier__r.gii__ZoneTable__c}"/>
                <apex:outPutField value="{!so.gii__Carrier__r.gii__RateTable__c}"/>
                <apex:outPutField value="{!so.gii__Carrier__r.gii__AdditionalCharge__c}"/>
           </apex:pageBlockSection>
           
           <apex:pageBlockSection columns="1" collapsible="false"> 
                <apex:outPutField value="{!so.gii__ShipToName__c}"/>
                <apex:outPutField value="{!so.gii__ShipToStreet__c}"/>
                <apex:outPutField value="{!so.gii__ShipToCity__c}"/>
                <apex:outPutField value="{!so.gii__ShipToStateProvince__c}"/>
                <apex:outPutField value="{!so.gii__ShipToZipPostalCode__c}"/>
                <apex:outPutField value="{!so.gii__ShipToCountry__c}"/>
          </apex:pageBlockSection>
        </apex:pageBlockSection>
          
        <apex:pageBlockSection collapsible="false" title="{!$Label.gii__createnewadditionalchargeforshipping}" columns="2">
            <apex:outPutField value="{!so.gii__ShippingbyOrderValue__c}"/>
             
             <apex:pageBlockSectionItem rendered="{!currencyCode = null}">             
                <apex:outputLabel value="{!$ObjectType.gii__SalesOrder__c.Fields.gii__ShipProductAmount__c.label}" for="spa"/>                
                <apex:outPutText id="spa" value="{!ProductAmount}"/>
            </apex:pageBlockSectionItem> 
            
             <apex:pageBlockSectionItem rendered="{!currencyCode <> null}">             
                <apex:outputLabel value="{!$ObjectType.gii__SalesOrder__c.Fields.gii__ShipProductAmount__c.label}" for="spamc"/>                
                <apex:outputText id="spamc" value="{!FORMATCURRENCY(currencyCode,ProductAmount)}"/>
            </apex:pageBlockSectionItem>        
            
            <apex:outPutField value="{!so.gii__ShippingbyWeight__c}"/>
             <apex:outPutField value="{!so.gii__TotalWeight__c}"/>
        </apex:pageBlockSection>
      
        <apex:pageBlockButtons location="bottom" id="pageButton">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                       <!-- v10.1 removed rerender attribute <apex:commandButton id="save" style="btn" rendered="{!NOT(error)}" value="{!$Label.gii__save}" title="{!$Label.gii__save}" action="{!ApplyShipping}" status="status2" rerender="mainform"/> -->
                    <apex:commandButton id="save" style="btn" rendered="{!NOT(error)}" value="{!$Label.gii__save}" title="{!$Label.gii__save}" action="{!ApplyShipping}" status="status2" />
                       <apex:commandButton id="cancel" style="btn" value="{!$Label.gii__cancel}" action="{!cancel}" title="{!$Label.gii__cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons>  
        <apex:pageMessages id="error"> </apex:pageMessages>
     </apex:pageBlock>
    </apex:form>
</apex:page>