<!--Service Order Line  - Maintain Invoice Schedule List Button  -->
<apex:page standardController="gii__ServiceOrderLine__c"  recordSetVar="serviceorderline" extensions="gii.ServiceOrderLineListCon" setup="false" sidebar="false" action="{!pageAction}" lightningStylesheets="true">
<apex:stylesheet value="{!$Resource.gii__ActionStatus}" />
    <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>

<apex:outputPanel id="detail01">

<apex:PanelGrid id="sectionH" columns="1" border="0" style="text-align:left" width="100%">
 <apex:sectionHeader title="{!$Label.gii__serviceorderline}" />                
</apex:PanelGrid>

<apex:form id="mainform">
<apex:PanelGrid id="detail" columns="1" width="100%"  cellpadding="5" cellspacing="0" > 
    <apex:pageMessages ></apex:pageMessages>   
    <apex:PanelGrid id="detail1" columns="1"   style="text-align:center" width="100%"  cellpadding="5" cellspacing="0" >                                   
                <apex:PanelGrid id="image" columns="1" border="0" style="text-align:center" width="100%">
                        <apex:image value="/img/waiting_dots.gif" width="156" height="25" rendered="{!actionEnabled}"></apex:image> 
                </apex:PanelGrid>
                <apex:actionStatus id="detailStatus" layout="block" > 
                     <apex:facet name="start">
                     <div class="background" > 
                     </div>
                     </apex:facet>                
                     <apex:facet name="stop">              
                           <apex:panelGroup layout="block" >                                               
                               <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}" rendered="{!continueBtn}" action="{!returnToPrevious}" />                 
                           </apex:panelGroup>
                     </apex:facet>
                  </apex:actionStatus>   
          </apex:PanelGrid>   
</apex:PanelGrid>  
</apex:form>
</apex:outputpanel>
<div class="normal"></div>
</apex:page>