<apex:page Standardcontroller="gii__ReturntoSupplier__c"  extensions="gii.ShipReturntoSupplierLinesforLocationCon" Tabstyle="gii__ReturntoSupplier__c"  sidebar="false" lightningStylesheets="true" >
<!-- *** PAKKINENI v12.5  Include javascript function for oncomplete action to navigate to previous page and enforce page refresh in lightning -->
<apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>
<!-- *** PAKKINENI v12.5 dummy outputpanel to rerender   -->
<apex:outPutPanel layout="block" id="dummyPanelId"> 
</apex:outPutPanel>
<!-- v12.5 *** -->  
<apex:form id="ShipReturntoSupplierLinesforLocationForm">
     <apex:actionFunction name="refreshList" action="{!refreshProductList}"
                rerender=" theSection, ShipReturntoSupplierLinesforLocationForm, pageBlock01" />
     <apex:actionFunction name="refreshList2" action="{!refreshWarehouseChange}"
                rerender="theSection, ShipReturntoSupplierLinesforLocationForm, pageBlock01" />             
  <apex:sectionHeader title="{!$Label.gii__shipreturntosupplierline}" subtitle="{!ReturntoSupplier.name} " rendered="true"/>

  <apex:pageBlock id="pageBlock01" mode="edit">
   <apex:pageBlockSection columns="2" title="{!$ObjectType.gii__ReturntoSupplier__c.Label}">

     <apex:pageBlockSectionItem > 
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplier__c.Fields.Name.label}" for="rts"/>
         <apex:outputLink id="rts" value="/{!ReturntoSupplier.id}">
               <apex:outputField value="{!ReturntoSupplier.name}"/>
         </apex:outputLink>
     </apex:pageBlockSectionItem>

     <apex:pageBlockSectionItem >    
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplier__c.Fields.gii__Supplier__c.label}" for="Supp"/>
         <apex:outputField id="Supp" value="{!ReturntoSupplier.gii__Supplier__c}"/>
     </apex:pageBlockSectionItem> 

     <apex:pageBlockSectionItem >   
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplier__c.Fields.gii__OrderDate__c.label}" for="OrderDt"/>
         <apex:outputField id="OrderDt" value="{!ReturntoSupplier.gii__OrderDate__c}"/>
     </apex:pageBlockSectionItem>   
     
     <apex:pageBlockSectionItem >   
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplier__c.Fields.gii__TotalAmount__c.label}" for="amt"/>
         <apex:outputField id="amt" value="{!ReturntoSupplier.gii__TotalAmount__c}"/>
     </apex:pageBlockSectionItem> 

     <apex:pageBlockSectionItem >   
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__ShipFrom__c.label}" for="wh"/>
         <apex:inputField id="wh" required="true" value="{!RTSshipment.gii__ShipFrom__c}" onchange="refreshList2();"/>
     </apex:pageBlockSectionItem>  
      
     <apex:pageBlockSectionItem >   
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__Location__c.label}" for="loc"/>
         <apex:inputField id="loc"  required="true" value="{!RTSshipment.gii__Location__c}" onchange="refreshList();"/>
     </apex:pageBlockSectionItem>       
     
    </apex:pageBlockSection>
    
  <apex:pagemessages id="msg" ></apex:pagemessages> 

    <apex:pageBlockSection id="theSection" columns="1" Title="{!$Label.gii__shipreturntosupplierline}">
    <!-- *** SSAHU v12.7 Added style="width:auto;" for column heading overlapping for lightningStylesheets="true" -->
       <apex:pageBlockTable frame="border" id="pageTable" value="{!ReturntoSupplierShipments}"  width="100%"  var="p" border="3" style="width:auto;" >

            <apex:column >
            
                <apex:facet name="header"> 
                    <apex:inputCheckbox >
                        <apex:actionSupport event="onclick"  onsubmit="checkAll(this)" rerender="Selected_PBS"/>
                    </apex:inputCheckbox>
                </apex:facet>
                <apex:inputCheckbox value="{!p.selected}" id="checkedone" title="{!$Label.gii__select} {!p.rtsLine.Product__r.name}" 
                                    rendered="{!AND(p.AvailableQuantity > 0, 
                                                    OR(NOT(BinControlledLocation),p.rtsShip.NonStock__c),
                                                    NOT(p.rtsShip.SerialControlled__c), 
                                                    NOT(p.rtsShip.LotControlled__c),
                                IF(p.rtsLine.ShipFrom__c = RTSshipment.ShipFrom__c, true, false) )}">
                </apex:inputCheckbox>
                <apex:outputpanel rendered="{!AND(p.AvailableQuantity > 0, 
                                                BinControlledLocation, 
                                                NOT(p.rtsShip.NonStock__c),
                                                NOT(p.rtsShip.SerialControlled__c), 
                                                NOT(p.rtsShip.LotControlled__c),
                                                IF(p.rtsLine.ShipFrom__c = RTSshipment.ShipFrom__c, true, false) )}">
                    <apex:commandLink value="{!$Label.gii__ship}" immediate="true" action="{!ship}" >
                        <apex:param name="ReturntoSupplierLineId" value="{!p.rtsShip.gii__ReturntoSupplierLine__c}"/>
                    </apex:commandLink> 
                </apex:outputpanel>

              <apex:outputpanel rendered="{!AND(p.rtsShip.gii__SerialControlled__c, p.rtsShip.gii__ShippedQuantity__c > 0)}">
                <apex:commandLink value="{!IF(p.rtsShip.gii__NonStock__c,$Label.gii__assignserialsandship, $Label.gii__ship)}"
                   immediate="true" action="{!assignSerials}" 
                   rendered="{!AND(p.rtsShip.ShippedQuantity__c > 0, 
                                   p.rtsLine.ShipFrom__c = RTSshipment.ShipFrom__c, 
                                   Not(LocationBinError))}">
                         <apex:param name="ReturntoSupplierLineId" value="{!p.rtsShip.gii__ReturntoSupplierLine__c}"/>
                  </apex:commandLink> 
              </apex:outputpanel>
              <apex:outputpanel rendered="{!AND(p.rtsShip.gii__LotControlled__c, p.rtsShip.gii__ShippedQuantity__c > 0)}">
                  <apex:commandLink value="{!IF(p.rtsShip.gii__NonStock__c,$Label.gii__assignlotsandship, $Label.gii__ship)}"
                    immediate="true" action="{!assignLot}" 
                    rendered="{!AND(p.rtsLine.gii__ShipFrom__c = RTSshipment.gii__ShipFrom__c, Not(LocationBinError))}">                
                  <!--rendered="{!IF(p.rtsLine.ShipFrom__c = RTSshipment.ShipFrom__c, true, false)}">-->
                   
                         <apex:param name="ReturntoSupplierLineId" value="{!p.rtsShip.gii__ReturntoSupplierLine__c}"/>
                  </apex:commandLink>
              </apex:outputpanel>
              
            </apex:column>
         
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__ReturntoSupplierLine__c.label}" value="{!p.rtsShip.gii__ReturntoSupplierLine__c}" />            
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__Product__c.label}" value="{!p.rtsLine.gii__Product__c}"/>
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__NonStock__c.label}" value="{!p.rtsShip.gii__NonStock__c}"/>
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__ShipFrom__c.label}" value="{!p.rtsLine.gii__ShipFrom__c}"/>           
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__OrderQuantity__c.label}" value="{!p.rtsLine.gii__OrderQuantity__c}"/>
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__OpenQuantity__c.label}" value="{!p.rtsLine.gii__OpenQuantity__c}"/>            
            <apex:column headervalue="{!$ObjectType.gii__ProductInventorybyLocation__c.Fields.gii__AvailableQuantity__c.label}" value="{!p.AvailableQuantity}" />

            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__ShippedQuantity__c.label}">
                <apex:inputField id="shipedQty" value="{!p.rtsShip.gii__ShippedQuantity__c}" onchange="valueCheck(this, '{!p.rtsLine.gii__OpenQuantity__c}')"
                    rendered="{!AND(p.AvailableQuantity > 0, 
                                 OR(NOT(BinControlledLocation),p.rtsShip.NonStock__c), 
                                 NOT(p.rtsShip.SerialControlled__c), 
                                 NOT(p.rtsShip.LotControlled__c),
                                 IF(p.rtsLine.ShipFrom__c = RTSshipment.ShipFrom__c, true, false))}">                 
                    <apex:actionSupport event="onblur"  rerender="Selected_PBS"/>
                </apex:inputField>
                <apex:outputField value="{!p.rtsShip.gii__ShippedQuantity__c}" 
                    rendered="{!AND(p.AvailableQuantity > 0, 
                                 OR(p.rtsShip.SerialControlled__c,
                                    p.rtsShip.LotControlled__c, 
                                    AND(BinControlledLocation, NOT(p.rtsShip.NonStock__c))
                                     )
                                   )
                                }"/>
            </apex:column>

            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__StockUM__c.label}">
                <apex:outputField value="{!p.rtsLine.gii__StockUM__c}" rendered="{!IF(p.rtsLine.gii__BuyingUnitofMeasure__c <> null,false,true)}"/>
                <apex:outputField value="{!p.rtsLine.gii__BuyingUnitofMeasure__c}" rendered="{!IF(p.rtsLine.gii__BuyingUnitofMeasure__c <> null,true,false)}"/>                   

            </apex:column>
     
             <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__ShippedDate__c.label}">
                <apex:inputField id="shipDate" value="{!p.rtsShip.gii__ShippedDate__c}" rendered="{!AND(p.AvailableQuantity > 0, NOT(p.rtsShip.gii__SerialControlled__c), NOT(p.rtsShip.gii__LotControlled__c))}"> 
                </apex:inputField>
                <apex:outputField value="{!p.rtsShip.gii__ShippedDate__c}" rendered="{!AND(p.AvailableQuantity > 0, OR(p.rtsShip.gii__SerialControlled__c, p.rtsShip.gii__LotControlled__c))}"/>
            </apex:column> 

        </apex:pageBlockTable>

    </apex:pageBlockSection>

    <apex:pageBlockButtons location="Top" id="pageButton">
        <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel >
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                        <!-- v10.1 removed rerender attribute
                         <apex:commandButton id="Save" action="{!AddReturntoSupplierLineShipments}"  value="{!$Label.gii__save}" disabled="false" immediate="false"
                          title="{!$Label.gii__shipreturntosupplierline}"  status="status2" rerender="pageBlock01"/> -->
                       <!-- *** PAKKINENI v12.5 added oncomplete and rerender to enforce the refresh in lightning 
                        <apex:commandButton id="Save" action="{!AddReturntoSupplierLineShipments}"  value="{!$Label.gii__save}" disabled="false" immediate="false"
                          title="{!$Label.gii__shipreturntosupplierline}"  status="status2" />     -->  
                          <apex:commandButton id="Save" action="{!AddReturntoSupplierLineShipments}"  value="{!$Label.gii__save}" disabled="false" immediate="false"
                          title="{!$Label.gii__shipreturntosupplierline}"  status="status2" rerender="dummyPanelId,msg"  oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" />                     
                        <apex:commandButton action="{!cancel}" immediate="true" value="{!$Label.gii__cancel}" title="{!$Label.gii__cancel}"/> 
                    </apex:outputPanel>
                </apex:facet>
       </apex:actionStatus>
    </apex:pageBlockButtons>

</apex:pageBlock>
</apex:form>

<script>
function checkAll(cb) { 
    var inputElem = document.getElementsByTagName("input");
    for(var i=0; i<inputElem.length; i++) {
        if(inputElem[i].id.indexOf("checkedone")!=-1)
        inputElem[i].checked = cb.checked;
    }
}    

function valueCheck(shipQty,OpenQty){
    var ship = shipQty.value / 1.0;
    var open = OpenQty/ 1.0

    if (ship > open) {
        alert('{!$Label.gii__shippedqtycannotbemorethanlinesopenqty}');
        shipQty.value = OpenQty;
    }
    // v9.6 check if shipped quantity is grater than zero
    if (ship < 0.0) {
        alert('{!$Label.gii__quantityshouldbegreaterthanzero}');
        shipQty.value = OpenQty;
    }   
}

</script>

</apex:page>