<apex:page Standardcontroller="gii__ReturntoSupplier__c"  extensions="gii.ShipReturntoSupplierLinesExtCon" Tabstyle="gii__ReturntoSupplier__c"  sidebar="false" action="{!pageAction}" lightningStylesheets="true">
<apex:form rendered="{!ManagedInventorybyLocation}">
<apex:PanelGrid id="detail" columns="1"    width="100%"  cellpadding="5" cellspacing="0" >  
   <apex:panelGroup layout="block"> 
     <apex:PageMessages />                
  </apex:panelGroup>

  <apex:panelGroup layout="block" style="text-align:center"> 
     <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}"  action="{!cancel}" />
  </apex:panelGroup>
</apex:PanelGrid>  
</apex:form> 


<apex:form rendered="{!IF(ManagedInventorybyLocation , false, true)}">
  <apex:sectionHeader title="{!$Label.gii__shipreturntosupplierline}" subtitle="{!ReturntoSupplier.name} " rendered="true"/>

  <apex:pageBlock rendered="true">
   <apex:pageBlockSection columns="2">

     <apex:pageBlockSectionItem > 
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplier__c.Fields.Name.label}" for="rts"/>
         <apex:outputLink id="rts" value="/{!ReturntoSupplier.id}">
               <apex:outputField value="{!ReturntoSupplier.name}"/>
         </apex:outputLink>
     </apex:pageBlockSectionItem>

     <apex:pageBlockSectionItem >    
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplier__c.Fields.gii__Supplier__c.label}" for="Supp"/>
         <apex:outputField id="Supp" value="{!ReturntoSupplier.gii__Supplier__c}"/>
     </apex:pageBlockSectionItem> 

     <apex:pageBlockSectionItem >   
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplier__c.Fields.gii__OrderDate__c.label}" for="OrderDt"/>
         <apex:outputField id="OrderDt" value="{!ReturntoSupplier.gii__OrderDate__c}"/>
     </apex:pageBlockSectionItem>   
     
     <apex:pageBlockSectionItem >   
         <apex:outputLabel value="{!$ObjectType.gii__ReturntoSupplier__c.Fields.gii__TotalAmount__c.label}" for="amt"/>
         <apex:outputField id="amt" value="{!ReturntoSupplier.gii__TotalAmount__c}"/>
     </apex:pageBlockSectionItem>      
     
    </apex:pageBlockSection>
    
  </apex:pageBlock>
</apex:form>

<apex:form rendered="{!IF(ManagedInventorybyLocation , false, true)}">
 <apex:pageBlock id="pageBlock01">

  <apex:pagemessages ></apex:pagemessages> 

    <apex:pageBlockSection id="theSection" columns="1" Title="{!$Label.gii__shipreturntosupplierline}">
    <!-- *** SSAHU v12.7 Added style="width:auto;" for column heading overlapping for lightningStylesheets="true" -->
       <apex:pageBlockTable frame="border" id="pageTable" value="{!ReturntoSupplierShipments}"  width="100%" var="p" border="3" style="width:auto;" >

            <apex:column >
                <apex:facet name="header"> 
                    <apex:inputCheckbox >
                        <apex:actionSupport event="onclick" action="{!GetSelected}" onsubmit="checkAll(this)" rerender="Selected_PBS"/>
                    </apex:inputCheckbox>
                </apex:facet>
                <apex:inputCheckbox value="{!p.selected}" id="checkedone" title="{!$Label.gii__select} {!p.rtsLine.Product__r.name}" rendered="{!AND(p.AvailableQuantity > 0, NOT(p.rtsShip.gii__SerialControlled__c), NOT(p.rtsShip.gii__LotControlled__c))}">
                    <apex:actionSupport event="onclick" action="{!GetSelected}" rerender="Selected_PBS"/>
                </apex:inputCheckbox>
              <apex:outputpanel rendered="{!AND(p.rtsShip.gii__SerialControlled__c, p.rtsShip.gii__ShippedQuantity__c > 0)}">
                  <apex:commandLink value="{!$Label.gii__serialshipment}" action="{!assignSerials}" immediate="true"
                   rendered="{!p.rtsShip.gii__ShippedQuantity__c > 0}">
                         <apex:param name="ReturntoSupplierLineId" value="{!p.rtsShip.gii__ReturntoSupplierLine__c}"/>
                  </apex:commandLink>
              </apex:outputpanel>
              <apex:outputpanel rendered="{!AND(p.rtsShip.gii__LotControlled__c, p.rtsShip.gii__ShippedQuantity__c > 0)}" >
                  <apex:commandLink value="{!$Label.gii__lotshipment}" action="{!assignLot}">
                         <apex:param name="ReturntoSupplierLineId" value="{!p.rtsShip.gii__ReturntoSupplierLine__c}"/>
                  </apex:commandLink>
              </apex:outputpanel>
            </apex:column>
         
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__ReturntoSupplierLine__c.label}" value="{!p.rtsShip.gii__ReturntoSupplierLine__c}" />            
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__Product__c.label}" value="{!p.rtsLine.gii__Product__c}"/>
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__NonStock__c.label}" value="{!p.rtsShip.gii__NonStock__c}"/>
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__ShipFrom__c.label}" value="{!p.rtsLine.gii__ShipFrom__c}"/>           
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__OrderQuantity__c.label}" value="{!p.rtsLine.gii__OrderQuantity__c}"/>
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLine__c.Fields.gii__OpenQuantity__c.label}" value="{!p.rtsLine.gii__OpenQuantity__c}"/>            
            <apex:column headervalue="{!$ObjectType.gii__ProductInventory__c.Fields.gii__AvailableQuantity__c.label}" value="{!p.AvailableQuantity}" />

            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__ShippedQuantity__c.label}">
                <apex:inputField id="shipedQty" required="true" value="{!p.rtsShip.gii__ShippedQuantity__c}" 
                 onchange="valueCheck(this, '{!p.rtsLine.gii__OpenQuantity__c}')"
                rendered="{!AND(p.AvailableQuantity > 0, NOT(p.rtsShip.gii__SerialControlled__c), NOT(p.rtsShip.gii__LotControlled__c))}">                 
                    <apex:actionSupport event="onblur" action="{!GetSelected}" rerender="Selected_PBS"/>
                </apex:inputField>
                <apex:outputField value="{!p.rtsShip.gii__ShippedQuantity__c}" rendered="{!AND(p.AvailableQuantity > 0, OR(p.rtsShip.gii__SerialControlled__c, p.rtsShip.gii__LotControlled__c))}"/>
            </apex:column>
            
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__StockUM__c.label}">
                <apex:outputField value="{!p.rtsLine.gii__StockUM__c}" rendered="{!IF(p.rtsLine.gii__BuyingUnitofMeasure__c <> null,false,true)}"/>
                <apex:outputField value="{!p.rtsLine.gii__BuyingUnitofMeasure__c}" rendered="{!IF(p.rtsLine.gii__BuyingUnitofMeasure__c <> null,true,false)}"/>                   
            </apex:column>
     
            <apex:column headervalue="{!$ObjectType.gii__ReturntoSupplierLineShipment__c.Fields.gii__ShippedDate__c.label}">
                <apex:inputField id="shipDate" value="{!p.rtsShip.gii__ShippedDate__c}" rendered="{!AND(p.AvailableQuantity > 0, NOT(p.rtsShip.gii__SerialControlled__c), NOT(p.rtsShip.gii__LotControlled__c))}"> 
                </apex:inputField>
                <apex:outputField value="{!p.rtsShip.gii__ShippedDate__c}" rendered="{!AND(p.AvailableQuantity > 0, OR(p.rtsShip.gii__SerialControlled__c, p.rtsShip.gii__LotControlled__c))}"/>
            </apex:column>

<!--           <apex:column rendered="{!AND(p.rtsShip.gii__SerialControlled__c, p.rtsShip.gii__ShippedQuantity__c > 0)}">
              <apex:outputpanel >
                  <apex:commandLink value="{!$Label.AssignSerialsandShip}" action="{!assignSerials}"
                   rendered="{!p.rtsShip.gii__ShippedQuantity__c > 0}" immediate="true">
                         <apex:param name="ReturntoSupplierLineId" value="{!p.rtsShip.gii__ReturntoSupplierLine__c}"/>
                  </apex:commandLink>
              </apex:outputpanel>
           </apex:column>  
           
           <apex:column rendered="{!AND(p.rtsShip.gii__LotControlled__c, p.rtsShip.gii__ShippedQuantity__c > 0)}" >
              <apex:outputpanel >
                  <apex:commandLink value="{!$Label.AssignLotsandShip}" action="{!assignLot}">
                         <apex:param name="ReturntoSupplierLineId" value="{!p.rtsShip.gii__ReturntoSupplierLine__c}"/>
                  </apex:commandLink>
              </apex:outputpanel>
           </apex:column>  -->

        </apex:pageBlockTable>

    </apex:pageBlockSection>

    <apex:pageBlockButtons location="Top" id="pageButton">
        <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel >
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                        <!-- v10.1 removed rerender attribute 
                        <apex:commandButton id="Save" action="{!AddReturntoSupplierLineShipments}"  value="{!$Label.gii__save}" disabled="false" immediate="false"
                          title="{!$Label.gii__shipreturntosupplierline}"  status="status2" rerender="pageBlock01"/> -->
                         <apex:commandButton id="Save" action="{!AddReturntoSupplierLineShipments}"  value="{!$Label.gii__save}" disabled="false" immediate="false"
                          title="{!$Label.gii__shipreturntosupplierline}"  status="status2" />
                         <apex:commandButton action="{!cancel}" immediate="true" value="{!$Label.gii__cancel}" title="{!$Label.gii__cancel}"/> 
                    </apex:outputPanel>
                </apex:facet>
       </apex:actionStatus>
    </apex:pageBlockButtons>

</apex:pageBlock>
</apex:form>

<script>
function checkAll(cb) { 
    var inputElem = document.getElementsByTagName("input");
    for(var i=0; i<inputElem.length; i++) {
        if(inputElem[i].id.indexOf("checkedone")!=-1)
        inputElem[i].checked = cb.checked;
    }
}    

function valueCheck(shipQty,OpenQty){
    var ship = shipQty.value / 1.0;
    var open = OpenQty/ 1.0

    if (ship > open) {
        alert('{!$Label.gii__shippedqtycannotbemorethanlinesopenqty}');
        shipQty.value = OpenQty;
    }
}

</script>

</apex:page>