<apex:page StandardController="gii__SalesOrderLine__c" extensions="gii.SOLineConfigureVAS3Con" sidebar="false" tabStyle="gii__SalesOrder__c" lightningStylesheets="true">
<style>
  left {
    text-align:left;
    vertical-align:top;
  }
.right {
    text-align:right;
    vertical-align:top;
 }
  </style>
  
  <!-- *** SSAHU v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
  <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>  
  <!-- v12.5  dummy outputpanel to rerender -->
  <apex:outPutPanel layout="block" id="script-block">        
  </apex:outPutPanel>
  <!-- v12.5 *** -->

 <apex:sectionHeader title="{!$Label.gii__configurevas3}"/>

 <apex:form id="theForm">
    <apex:actionFunction name="productChange" status="status3" action="{!initializeVAS3List}" rerender="theForm,theTable,tableSection" />
    <apex:actionFunction name="VAS3Change" status="status3" action="{!getVAS3defaults}" rerender="msg1,pbHdr, srvPBSection,tableSection,table"/>
    <apex:actionFunction name="refreshAmount" status="status3" action="{!refreshServiceLineAmounts}" rerender="pbHdr, srvPBSection,tableSection"/>

    <apex:pageBlock id="pb"> 
    
            <apex:pageBlockTable value="{!salesLine}" var="l"  id="theTable">
            <apex:column headerValue="{!$ObjectType.gii__SalesOrderLine__c.Fields.gii__SalesOrder__c.label}" > 
                <apex:outputField value="{!l.gii__SalesOrder__c}"/>
            </apex:column>
            <apex:column headerValue="{!$ObjectType.gii__SalesOrderLine__c.Fields.Name.label}" >  
                <apex:outputLink id="solId" value="/{!l.id}">
                   <apex:outputField value="{!l.name}"/>
                </apex:outputLink>                         
            </apex:column>
            <apex:column headerValue="{!$ObjectType.gii__SalesOrderLine__c.Fields.gii__Product__c.label}" > 
                <apex:outputField value="{!l.gii__Product__c}"/>
            </apex:column>
            <apex:column headerValue="{!$ObjectType.gii__SalesOrderLine__c.Fields.gii__OrderQuantity__c.label}" > 
                <apex:outputField value="{!l.gii__OrderQuantity__c}"/>
            </apex:column>          
        </apex:pageBlockTable>
   </apex:pageBlock>
    
  <apex:pageBlock mode="edit" id="pbHdr">
        <apex:pageBlockSection rendered="{!Error = false}" id="srvPBSection" title="{!$Label.gii__selectaproductforserviceorderline}" columns="2">
         <apex:pageBlockSection columns="1" collapsible="false">

            <apex:pageBlockSectionItem rendered="{!srvLine.gii__Product__c = null}"  > 
                <apex:outputLabel for="prod">{!$ObjectType.gii__ServiceOrderLine__c.Fields.gii__Product__c.label}</apex:outputLabel>
                <apex:inputField id="prod" required="true" value="{!srvLine.gii__Product__c}" onchange="productChange();"/>
            </apex:pageBlockSectionItem>       

           <apex:pageBlockSectionItem rendered="{!srvLine.gii__Product__c <> null}"> 
                <apex:outputLabel for="prod1">{!$ObjectType.gii__ServiceOrderLine__c.Fields.gii__Product__c.label}</apex:outputLabel>               
               <apex:outputField id="prod1" value="{!srvLine.gii__Product__c}"/>
            </apex:pageBlockSectionItem>       

            <apex:pageBlockSectionItem rendered="{!srvLine.gii__Product__c <> null}" >
                <apex:outputLabel for="prod">{!$ObjectType.gii__ServiceOrderLine__c.Fields.gii__OrderQuantity__c.label}</apex:outputLabel>
                <apex:inputField id="prod" required="true" value="{!srvLine.gii__OrderQuantity__c}"/>
            </apex:pageBlockSectionItem>  
            
         </apex:pageBlockSection>                       
        <apex:pageBlockSection columns="1" collapsible="false">                       
            
            <apex:pageBlockTable value="{!srvLinewrappers}" var="srvL"  id="srvLineTable">

                <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLine__c.Fields.gii__VAS3FixedPrice__c.label}"> 
                    <apex:outputText rendered="{!NOT(UsingMultipleCurrencies)}" value="{0,number,currency}">
                          <apex:param value="{!srvL.VAS3FixedPrice}"/>
                    </apex:outputText>
                    <apex:outputText rendered="{!UsingMultipleCurrencies}" value="{!FORMATCURRENCY(currencyCode,srvL.VAS3FixedPrice)}"/>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLine__c.Fields.gii__VAS3Quantity__c.label}"> 
                    <apex:outputText value="{0,number,###,###,###,###.00}">
                          <apex:param value="{!srvL.VAS3Quantity}"/>
                    </apex:outputText>                               
                </apex:column>
                                
                <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLine__c.Fields.gii__VAS3Extension__c.label}"> 
                     <apex:outputText rendered="{!NOT(UsingMultipleCurrencies)}" value="{0,number,currency}">
                          <apex:param value="{!srvL.VAS3Extension}"/>
                     </apex:outputText>
                     <apex:outputText rendered="{!UsingMultipleCurrencies}" value="{!FORMATCURRENCY(currencyCode,srvL.VAS3Extension)}"/>
                </apex:column>
                
                <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLine__c.Fields.gii__TotalVASAmount__c.label}">                    
                    <apex:outputText rendered="{!NOT(UsingMultipleCurrencies)}" value="{0,number,currency}">
                          <apex:param value="{!srvL.TotalVAS3Amount}"/>
                    </apex:outputText>
                    <apex:outputText rendered="{!UsingMultipleCurrencies}" value="{!FORMATCURRENCY(currencyCode,srvL.TotalVAS3Amount)}"/>
                </apex:column>  
            </apex:pageBlockTable>  
         </apex:pageBlockSection> 
        </apex:pageBlockSection> 
             
    <apex:pageMessages id="msg1"></apex:pageMessages>

    <apex:pageBlockButtons location="Top" id="pageButton">
        <apex:actionStatus id="status2" >
            <apex:facet name="start">
                <apex:outputPanel > 
                   <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;
                   <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;
                   <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;
                   <apex:commandButton id="Saving4" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;
                </apex:outputPanel>
            </apex:facet>
            <apex:facet name="stop">
                <apex:outputPanel >
                    <!-- v10.1 removed rerender attribute
                    <apex:commandButton action="{!CreateServiceAndVAS3Details}" disabled="{!srvLine.gii__Product__c = null}" value="{!$Label.gii__save}" status="status2" rerender="theTable,theForm">&nbsp;
                        <apex:param name="save" value="Save"/>
                    </apex:commandButton> -->
                    <!-- *** SSAHU v12.5 Commented the below line and added oncomplete and rerender to enforce the refresh in lightning  -->
                    <!-- <apex:commandButton action="{!CreateServiceAndVAS3Details}" disabled="{!srvLine.gii__Product__c = null}" value="{!$Label.gii__save}" status="status2" >&nbsp; -->
                    <apex:commandButton action="{!CreateServiceAndVAS3Details}" disabled="{!srvLine.gii__Product__c = null}" value="{!$Label.gii__save}" oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" status="status2" rerender="script-block,msg1">&nbsp;
                        <apex:param name="save" value="Save"/>
                    </apex:commandButton>
                    <apex:commandButton action="{!SaveAndMore}"  disabled="{!srvLine.gii__Product__c = null}" value="{!$Label.gii__saveandmore}" status="status2" rerender="theTable,theForm">&nbsp;
                         <apex:param name="save" value="SaveAndMore"/>
                    </apex:commandButton>
                     <apex:commandButton action="{!reset}" immediate="true" value="{!$Label.gii__refresh}" id="reset" />
                     <apex:commandButton action="{!cancel}" immediate="true" value="{!$Label.gii__cancel}" id="cancel" />
                </apex:outputPanel>
            </apex:facet>
        </apex:actionStatus>
       
        <apex:actionStatus id="status3" >
            <apex:facet name="start">
                <apex:image url="/img/loading.gif"/>
            </apex:facet>
        </apex:actionStatus> 
        
    </apex:pageBlockButtons>  
    
    <apex:pageBlockSection rendered="{!Error = false}" title="{!$Label.gii__addserviceorderlinevas3details}" columns="1" id="tableSection">        
          <apex:pageBlockTable value="{!salesLine}" var="x" width="100%">
              <apex:column styleClass="left">
                  <apex:commandButton action="{!addVAS3}" value="{!$Label.gii__add}" disabled="{!srvLine.gii__Product__c = null}" status="status3"  rerender="theTable,theForm"/>  
              </apex:column>

              <apex:column styleClass="right"><b>{!$Label.TotalRecords} &nbsp;{!VAS3wrappers.size}</b></apex:column>
          </apex:pageBlockTable>   
       
        <apex:pageBlockTable value="{!VAS3wrappers}" var="vw"  id="table">

 <!--  v7.15 When the button is within the header facet of the table, it is not responding correctly in API 28.0
     This section is moved out of the table as a separate table
     
         <apex:facet name="header">
              <apex:pageBlockTable value="{!salesLine}" var="x" width="100%">
                  <apex:column styleClass="left">
                      <apex:commandButton action="{!addVAS3}" value="{!$Label.gii__add}" disabled="{!srvLine.gii__Product__c = null}" status="status3"  rerender="theTable,theForm"/>  
                  </apex:column>

                  <apex:column styleClass="right"><b>{!$Label.TotalRecords} &nbsp;{!VAS3wrappers.size}</b></apex:column>
              </apex:pageBlockTable>
          </apex:facet>
-->
            <apex:column headerValue="{!$Label.gii__action}">
                <apex:commandlink value="{!$Label.gii__del}" immediate="true" action="{!delWrapper}" rerender="pbHdr, srvPBSection,tableSection,table,pageButton">
                    <apex:param name="toDelIdent" value="{!vw.ident}" assignTo="{!toDelIdent}"/>
                </apex:commandlink>
            </apex:column>
      
            <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLineVAS3__c.Fields.gii__VAS3__c.label}" >
                <apex:inputField value="{!vw.VAS3.gii__VAS3__c}" onchange="VAS3Change();"/> 
            </apex:column>

            <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLineVAS3__c.Fields.gii__Description__c.label}" >
                <apex:outputField value="{!vw.VAS3.gii__Description__c}">
                    <apex:inlineEditSupport />
                </apex:outputField>
                
            </apex:column>

            <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLineVAS3__c.Fields.gii__Quantity__c.label}" >
                <apex:inputField value="{!vw.VAS3.gii__Quantity__c}" onchange="refreshAmount();"/>
            </apex:column>

            <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLineVAS3__c.Fields.gii__UnitPrice__c.label}" >
                <apex:inputField value="{!vw.VAS3.gii__UnitPrice__c}" onchange="refreshAmount();"/>
            </apex:column>

            <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLineVAS3__c.Fields.gii__FixedPrice__c.label}" >
                <apex:inputField value="{!vw.VAS3.gii__FixedPrice__c}" onchange="refreshAmount();"/>
            </apex:column>

            <apex:column headerValue="{!$ObjectType.gii__ServiceOrderLineVAS3__c.Fields.gii__Instructions__c.label}" >
                <apex:outputField value="{!vw.VAS3.gii__Instructions__c}" >
                    <apex:inlineEditSupport />
                </apex:outputField>
            </apex:column>
            
        </apex:pageBlockTable>

    </apex:pageBlockSection>
   </apex:pageBlock>
  </apex:form>
</apex:page>