<apex:page standardController="gii__SalesQuote__c"  extensions="gii.SQReCalculateOrderDiscCon" setup="false" sidebar="false" lightningStylesheets="true">
<apex:stylesheet value="{!$Resource.gii__ActionStatus}" />

<!-- *** SSAHU v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page and dummy outputpanel to rerender -->
  <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>  
  <apex:outPutPanel layout="block" id="script-block">        
  </apex:outPutPanel>
  <!-- v12.5 *** -->
  
<style>
.continueBtn {
            background-image:url('/img/packaging/appXbtn_continue.gif');
            border:none;
            height:34px;
            width:98px;
}
</style>
<apex:outputPanel id="detail">
<apex:form id="mainform">
<apex:PanelGrid id="sectionH" columns="1" border="0" style="text-align:left" width="100%">
 <apex:sectionHeader title="{!currentAction}" />                
</apex:PanelGrid>
<!--  ** v10.1 removed extra rerender attribute **
<apex:actionFunction name="executeAction" action="{!detailButtonAction}" rendered="{!actionEnabled}" 
         rerender="detail" status="detailStatus" >
 </apex:actionFunction>-->
 
 <!-- *** SSAHU v12.5 Commented the below line and added oncomplete to enforce the refresh in lightning  -->
<!-- <apex:actionFunction name="executeAction" action="{!detailButtonAction}" rendered="{!actionEnabled}"  -->
         <!-- status="detailStatus" > -->
 <apex:actionFunction name="executeAction" action="{!detailButtonAction}" rendered="{!actionEnabled}" 
   oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" status="detailStatus" rerender="detail,script-block,error" >
 </apex:actionFunction>  
 
 <script>window.setTimeout(executeAction,200)</script>
 
<apex:PanelGrid id="detail" columns="1"   width="100%"  cellpadding="5" cellspacing="0" >
<!-- *** SSAHU v12.5 Commented the below line and added unique id to rerender error message -->
    <!-- <apex:pageMessages ></apex:pageMessages> -->
    <apex:pageMessages id="error"> </apex:pageMessages>      
    <apex:PanelGrid id="detail1" columns="1"   style="text-align:center" width="100%"  cellpadding="5" cellspacing="0" >
                <apex:PanelGrid id="image" columns="1" border="0" style="text-align:center" width="100%">
                        <apex:image value="/img/waiting_dots.gif" width="156" height="25" rendered="{!actionEnabled}"></apex:image> 
                </apex:PanelGrid>
                <apex:actionStatus id="detailStatus" layout="block" > 
                     <apex:facet name="start">
                     <div class="background" > 
                     </div>
                     </apex:facet>                
                     <apex:facet name="stop">              
                           <apex:panelGroup layout="block" > 
                                                   
                               <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}" rendered="{!continueBtn}" action="{!returnToPrevious}" />
                           </apex:panelGroup>
                     </apex:facet>
                  </apex:actionStatus>  
         </apex:PanelGrid>    
</apex:PanelGrid>  
</apex:form>
</apex:outputpanel>
<div class="normal"></div>
</apex:page>