<apex:page controller="gii.SupplyReceiptAssignSerialCon" tabStyle="gii__ProductInventory__c" lightningStylesheets="true">
    
    <script type="text/javascript">
    function openpopup(text,transaction) {
        var url = '{!JSENCODE(URLFOR($Page.gii__ShowSerials, null, [id=supplyOrder.gii__Product__c, warehouseId=supplyOrder.gii__Warehouse__c,locationId=supplyReceipt.gii__Location__c], false))}' + '&fieldId=' + {!JSENCODE('text')} + '&transactionType=' + {!JSENCODE('transaction')};                
        var SerialWindow = window.open(url,'','left=300,top=200,height=500,width=750,status=yes,scrollbars=yes,resizable=yes');
    }
    </script>
    
    <!-- show Error Message-->
    <apex:form rendered="{!IF(serialControlled, false, true)}">
        <apex:PanelGrid id="detail" columns="1"    width="100%"  cellpadding="5" cellspacing="0" >  
            <apex:panelGroup layout="block"> 
                <apex:PageMessages />                
            </apex:panelGroup>
            <apex:panelGroup layout="block" style="text-align:center"> 
                <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}"  action="{!cancel}" immediate="true" />
            </apex:panelGroup>
        </apex:PanelGrid>  
    </apex:form>
    
    
    <!-- Product Serials -->
    <apex:PageBlock title="{!$Label.gii__receivesupplyordertolocation}" rendered="{!serialControlled}">
        <apex:pageBlockSection columns="1">
            <apex:pageBlockTable value="{!SupplyOrder}" var="so"  >
                <apex:column width="12%" headerValue="{!$ObjectType.gii__SupplyOrder__c.Fields.Name.Label}">
                    <apex:outputLink value="/{!so.Id}">{!so.Name}</apex:outputLink>
                </apex:column>
                <apex:column width="12%" headerValue="{!$ObjectType.gii__SupplyOrder__c.Fields.gii__Supplier__c.Label}"
                             value="{!so.gii__Supplier__c}" />
                <apex:column width="12%" headerValue="{!$ObjectType.gii__SupplyOrder__c.Fields.gii__Reference__c.Label}"
                             value="{!so.gii__Reference__c}" />
                <apex:column width="12%" headerValue="{!$ObjectType.gii__SupplyOrder__c.Fields.gii__ProductInventory__c.Label}"
                             value="{!so.gii__ProductInventory__c}" />
                <apex:column width="12%" headerValue="{!$ObjectType.gii__SupplyOrder__c.Fields.gii__Product__c.Label}"
                             value="{!so.gii__Product__c}" />
                <apex:column width="12%" headerValue="{!$ObjectType.gii__SupplyOrder__c.Fields.gii__RequiredQuantity__c.Label}"
                             value="{!so.gii__RequiredQuantity__c}" />
                <apex:column width="12%" headerValue="{!$ObjectType.gii__SupplyOrder__c.Fields.gii__OpenQuantity__c.Label}"
                             value="{!so.gii__OpenQuantity__c}" />
                <apex:column width="12%" headerValue="{!$ObjectType.gii__SupplyOrder__c.Fields.gii__ReceivedQuantity__c.Label}"
                             value="{!so.gii__ReceivedQuantity__c}" />
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:PageBlock>
    <apex:form id="parentForm" rendered="{!Serialcontrolled}">
        <apex:PageBlock id="theTable" mode="edit">    
            <apex:pageBlockButtons location="Top" id="pageButton">
                <apex:actionStatus id="status2">
                    <apex:facet name="start">
                        <apex:outputPanel > 
                            <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"
                                                immediate="true"/>
                            <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"
                                                immediate="true"/>
                            <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"
                                                immediate="true"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >
                            <apex:commandButton value="{!$Label.gii__assignserials}" action="{!add}"/>
                            <!--  v10.1 removed rerender attribute
                             <apex:commandButton value="{!$Label.gii__save}" action="{!save}" status="status2" rerender="theTable"/> -->
                            <apex:commandButton value="{!$Label.gii__save}" action="{!save}" status="status2" />
                            <apex:commandButton value="{!$Label.gii__cancel}" action="{!cancel}" immediate="true" />
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>
            
            <c:ShowErrorMessage />
            
            <apex:pageBlockSection id="inputs" columns="2" title="{!$ObjectType.gii__SupplyReceipt__c.label}">
                <apex:outputField id="ShipTo" value="{!supplyOrder.gii__Warehouse__c}"/>
                <apex:inputField id="ReceiptDate" value="{!supplyReceipt.gii__ReceiptDate__c}" required="true" />
                <apex:inputField id="Location" value="{!supplyReceipt.gii__Location__c}" required="true" />
                <apex:inputField id="LocationBin" value="{!supplyReceipt.gii__LocationBin__c}" />
            </apex:pageBlockSection>
            
            <apex:pageBlockSection id="section" title="{!$ObjectType.gii__ProductSerial__c.labelPlural}" Columns="1">
                <apex:pageBlockTable value="{!productSerialList}" var="serial" id="serialList">
                    <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.gii__Sequence__c.Label}">
                        <apex:outputField value="{!serial.gii__Sequence__c}"></apex:outputField>
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.gii__ProductSerial__c.Fields.Name.Label}">
                        <apex:inputText maxlength="80" id="serial" value="{!serial.Name}" size="60" > </apex:inputText>&nbsp;&nbsp;
                      <!--  <apex:image value="{!$Resource.SearchIcon}"
                                    onclick="openpopup('{!$Component.parentForm.theTable.section.serialList.serial}','In');"/>
                   -->
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:PageBlock>
    </apex:form>
</apex:page>