<apex:page StandardController="gii__WorkOrderCompletion__c" extensions="gii.WOCompletionLotCon" tabStyle="gii__WorkOrderCompletion__c" lightningStylesheets="true">
<script type="text/javascript">
 function openpopup(text, showLot) {
    var url = '{!JSENCODE(URLFOR($Page.gii__ShowSerials, null, [id=ProductDetails.WorkOrder__r.gii__Product__c], false))}' + '&fieldId=' + {!JSENCODE('text')} + '&Lot=' + {!JSENCODE('showLot')};
    var SerialWindow = window.open(url,'','left=300,top=200,height=500,width=750,status=yes,scrollbars=yes,resizable=yes');
 }
 </script>

<!-- show Error Message-->
  <apex:form rendered="{!IF(Lotcontrolled , false, true)}">
    <apex:PanelGrid id="detail" columns="1"    width="100%"  cellpadding="5" cellspacing="0" >  
       <apex:panelGroup layout="block"> 
         <apex:PageMessages />                
      </apex:panelGroup>

      <apex:panelGroup layout="block" style="text-align:center"> 
         <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}"  action="{!reset}" />
      </apex:panelGroup>
   </apex:PanelGrid>  
  </apex:form>

  <!-- Product Lot Detail -->
 <apex:form rendered="{!Lotcontrolled}">
     <apex:PageBlock title="{!$Label.gii__workordercompletion}" >
         <apex:pageBlockSection columns="1">
           <apex:pageBlockTable value="{!ProductDetails}" var="product"  >
                <apex:column colspan="100" headerValue="{!$ObjectType.gii__WorkOrderCompletion__c.Fields.Name.Label}"><apex:outputField value="{!product.Name}"></apex:outputField></apex:column>
                <apex:column colspan="150" headerValue="{!$ObjectType.gii__WorkOrderCompletion__c.Fields.gii__WorkOrder__c.Label}"><apex:outputField value="{!product.gii__WorkOrder__c}"></apex:outputField></apex:column>
                
                <apex:column colspan="150" headerValue="{!$ObjectType.gii__WorkOrderCompletion__c.Fields.gii__ProductInventory__c.Label}"><apex:outputField value="{!product.gii__ProductInventory__c}"></apex:outputField></apex:column>
                <apex:column colspan="220" headerValue="{!$ObjectType.gii__WorkOrder__c.Fields.gii__Product__c.Label}"><apex:outputField value="{!product.WorkOrder__r.gii__Product__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__WorkOrderCompletion__c.Fields.gii__CompletedQuantity__c.Label}"><apex:outputField value="{!product.gii__CompletedQuantity__c}"></apex:outputField></apex:column>
                <apex:column colspan="110" headerValue="{!$ObjectType.gii__WorkOrderCompletion__c.Fields.gii__StockUM__c.Label}">
                <apex:outputField value="{!product.gii__StockUM__c}" rendered="{!IF(product.WorkOrder__r.Product__r.gii__StockingUnitofMeasure__c <> null,false,true)}"/>
                <apex:outputField value="{!product.WorkOrder__r.Product__r.gii__StockingUnitofMeasure__c}" rendered="{!IF(product.WorkOrder__r.Product__r.gii__StockingUnitofMeasure__c <> null,true,false)}"/> 
                </apex:column>
           
           </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:PageBlock>

 </apex:form>

 <apex:form id="parentForm" rendered="{!Lotcontrolled}">
 <apex:PageBlock id="theTable" >

         <apex:pageBlockButtons location="Top" id="pageButton">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                       <apex:commandButton id="Saving3" value="{!$Label.gii__saving}" disabled="true" action="{!reset}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                         <apex:commandButton value="{!$Label.gii__assignlot}"  action="{!addLot}"/>
                         <!-- v10.1 removed rerender attribute <apex:commandButton value="{!$Label.gii__save}"  action="{!Save}" status="status2" rerender="theTable"/> -->
                         <apex:commandButton value="{!$Label.gii__save}"  action="{!Save}" status="status2" />
                         <apex:commandButton value="{!$Label.gii__cancel}" action="{!reset}" immediate="true"/>
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons> 
    
        <apex:pageMessages ></apex:pageMessages>

        <apex:pageBlockSection id="section" Columns="1" title="{!$Label.gii__alreadyassignedquantity}  {!AlreadyAssignedQty}">
              <apex:pageBlockTable value="{!lotDetail}" var="lot" id="lotList">
                <apex:column headerValue="{!$ObjectType.gii__LotDetail__c.Fields.gii__Sequence__c.Label}"><apex:outputField value="{!lot.gii__Sequence__c}"></apex:outputField></apex:column>

                <apex:column headerValue="{!$ObjectType.gii__LotDetail__c.Fields.gii__ProductLot__c.Label}">
                      <apex:inputText id="Lot"  maxlength="80" size="60" value="{!lot.gii__LotName__c}"> </apex:inputText>&nbsp;&nbsp;
                      <apex:image value="{!$Resource.gii__SearchIcon}" onclick="openpopup('{!$Component.parentForm.theTable.section.lotList.Lot}','Yes');"/>
                </apex:column>

                <apex:column headerValue="{!$ObjectType.gii__LotDetail__c.Fields.gii__Quantity__c.Label}">
                    <apex:inputField id="qty" value="{!lot.gii__Quantity__c}"  > </apex:inputField>
                </apex:column>
                  
          </apex:pageBlockTable>
     </apex:pageBlockSection>
     </apex:PageBlock>
  </apex:form>
</apex:page>