<apex:page standardController="gii__WorkOrder__c"  extensions="gii.WorkOrderFinancialCloseCon" setup="false" sidebar="false" lightningStylesheets="true">
  <!-- *** PAKKINENI v12.5  Java script function to enforce the refresh in lightning and navigate to the previous page -->
  <apex:includeScript value="{!$Resource.gii__gloviaOM_JS}"/>
  <!-- *** v12.5  dummy outputpanel to rerender -->
  <apex:outPutPanel layout="block" id="script-block">        
  </apex:outPutPanel>
  <!-- v12.5 *** -->
<apex:stylesheet value="{!$Resource.gii__ActionStatus}" /> 
<!--<script>
function setFocusOnLoad() {}
 </script>
-->
<apex:outputPanel id="detail01">
    <apex:PanelGrid id="sectionH" columns="1" border="0" style="text-align:left" width="100%">
        <apex:sectionHeader title="{!currentAction}" Subtitle="{!WorkOrder.name}" />                
    </apex:PanelGrid>

 <apex:form id="mainform">
    <apex:pageBlock >
      <apex:pageBlockSection columns="2"> 
         <apex:pageBlockSectionItem > 
             <apex:outputLabel value="{!$ObjectType.gii__WorkOrder__c.Fields.Name.label}" for="WorkOrder"/> 
                <apex:outputLink id="WorkOrder" value="/{!WorkOrder.id}">
                   <apex:outputField value="{!WorkOrder.name}"/>
             </apex:outputLink>
         </apex:pageBlockSectionItem>

        <apex:outputField value="{!WorkOrder.gii__TotalActualCost__c}"/>
        <apex:outputField value="{!WorkOrder.gii__Product__c}"/>
        <apex:outputField value="{!WorkOrder.gii__TotalScrapCost__c}"/>
        <apex:outputField value="{!WorkOrder.gii__OrderQuantity__c}"/>
        <apex:outputField value="{!WorkOrder.gii__TotalCompletedCost__c}"/>
        <apex:outputField value="{!WorkOrder.gii__Closed__c}"/>
        <apex:outputField value="{!WorkOrder.gii__CostVariance__c}"/>
        <apex:outputField value="{!WorkOrder.gii__ClosedDate__c}"/>
        <apex:outputField value="{!WorkOrder.gii__FinancialClosedDate__c}" rendered="{!($CurrentPage.parameters.ProcessType = 'ReverseFinancialClose')}"/>
        
        <apex:inputField required="true"  value="{!WorkOrder.gii__FinancialClosedDate__c}" rendered="{!($CurrentPage.parameters.ProcessType = 'FinancialClose')}"/>
      </apex:pageBlockSection>

    </apex:pageBlock>
    <div style="margin-left: auto;margin-right: auto;width: 90em">
      <apex:pageBlock >     
           <apex:pageMessages id="error"></apex:pageMessages>
           
           <apex:pageBlockSection collapsible="false" title="{!Description}" columns="2" rendered="{!AND(NOT(continueBtn),NOT(WorkOrderNotProcessed))}">
              <apex:outputPanel rendered="true">
               
                <div style="margin-left: auto;margin-right: auto;width: 30em"> 
                    <br/> <h3>{!$Label.gii__areyousure}</h3>
                </div> 
                </apex:outputPanel>
           </apex:pageBlockSection>
           
          <apex:pageBlockButtons location="Bottom" id="pageButton">
            <apex:actionStatus id="status2" >
                <apex:facet name="start">
                    <apex:outputPanel > 
                       <apex:commandButton id="Saving1" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>&nbsp;&nbsp;
                       <apex:commandButton id="Saving2" value="{!$Label.gii__saving}" disabled="true" action="{!cancel}"/>
                    </apex:outputPanel>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel >
                       <!-- v10.1 removed rerender attribute <apex:commandButton id="confirm" style="btn" value="{!$Label.gii__save}" rendered="{!actionEnabled}" action="{!ListbuttonAction}" title="{!currentAction}" status="status2" rerender="detail01"/> -->
                       <!-- *** PAKKINENI v12.5 added oncomplete and rerender to enforce the refresh in lightning  
                       <apex:commandButton id="confirm" style="btn" value="{!$Label.gii__save}" rendered="{!AND(NOT(continueBtn),actionEnabled)}" 
                       action="{!ListbuttonAction}" title="{!currentAction}" status="status2"/> -->
                       <apex:commandButton id="confirm" style="btn" value="{!$Label.gii__save}" rendered="{!AND(NOT(continueBtn),actionEnabled)}" 
                       action="{!ListbuttonAction}" title="{!currentAction}" status="status2"
                       oncomplete="navBackAndRefreshWhenNoErrors(1,'{!hasError}')" rerender="script-block,detail01,error"/>
                       &nbsp;&nbsp;
                       <apex:commandButton id="cancel" style="btn" value="{!$Label.gii__cancel}" action="{!cancel}" rendered="{!AND(NOT(continueBtn),NOT(WorkOrderNotProcessed))}"/>
                       <apex:commandButton id="continue" style="btn" value="{!$Label.gii__continue}" rendered="{!WorkOrderNotProcessed }" action="{!returnToPrevious}"/>
                       <apex:commandButton id="continue1" style="btn" value="{!$Label.gii__continue}" rendered="{!continueBtn}" action="{!cancel}"/>                 
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons>  
       </apex:pageBlock>
    </div>
  </apex:form>
</apex:outputpanel>
<div class="normal"></div>
</apex:page>