.THIS .completedstage{ background-color : #d5d4c0 !important; }
.THIS .completedstage + .currentstage:before{ background-color : #d5d4c0 !important;  }
.THIS .completedstage:before{ background-color : #d5d4c0 !important;  }
.THIS .completedstage .slds-tabs--path__link{ color : t(colorTextButtonBrand) !important; }

.THIS .currentstage{ background-color : t(colorBackgroundButtonBrandActive) !important;   }
.THIS .currentstage + .remainingstage:before{ background-color : t(colorBackgroundButtonBrandActive) !important;  }

.THIS .errorcls, .THIS .errorcls2{color: white;  background: #ff8383; display: inline-block;  width: 100%;  height: auto;   text-align: center;   margin-bottom: 6px;}
.THIS .bordercls{background: #06abc9; color: #fff; font-size: 1.2em; font-weight: bold;}
.THIS .accInfo { background-color: #00A0Be !important; color: white; font-size: 15px;  height:auto;}
.THIS .accInfo .fa-search {font-size: 18px; padding: 8px; background-color: #06abc9; border-radius: 5px; color: #fff; vertical-align: middle;}
.THIS .greybg{background: #a8a8a8; font-size: 1.2em; color: #fff; }
.THIS .filter {width: 17% !important;}
.THIS .filter input[type=text] {width: 75%;}
.THIS .left-panel{border-right: 1px solid #D5D5D6; min-height: 640px; overflow: hidden;}
.THIS .fa-caret-right:before {content: "\f0da";}
.THIS #accordion {height:526px;}
.THIS .moveSearch {position: absolute; background-color: #06abc9; color: #ffffff; padding: 40px 3px; font-size: 15px; margin-top: 200px;}
.THIS .mainContent {width: 83% !important;}
.THIS .checkbox1{opacity:0;}
.THIS .favnavrow{border-bottom: 1px solid #ccc;}
.THIS .records{width: 77%; font-size: 13px;}
.THIS .addprdt {font-size: 23px; color: #8BC34A;}
.THIS .donotaddprdRed {font-size: 23px; color: #C33535;}
.THIS .removeprdt {font-size: 23px; color: #000000;}
.THIS .addiconsize{font-size: 23px;}
.THIS #favnav{height : 559px !important; overflow-y: auto; overflow-x: hidden;}
.THIS .favnavrow label{position: inherit !important; cursor:pointer; background:none !important; z-index: 0 !important;}
.THIS .OrdRev label{position: inherit !important; cursor:pointer; background:none !important; z-index: 0 !important; left:0 !important;}
.THIS .OrdRev {width:98%; table-layout: fixed;}
.THIS .sidenav{height : 559px !important;}
.THIS .sidebar {width: 260px;    position: absolute; top: 0;  left: 0; bottom: 0;}
.THIS .contentarea {background:#fff; position: absolute; top: 0; left: 260px; right: 0; bottom: 0; -moz-transition: left 0.5s ease;  transition: left 0.5s ease; min-height: 639px;}
.THIS input[type=checkbox] { display: none;}
.THIS input:checked ~ .contentarea { left: 0;}
.THIS input:checked ~ label { left: 0;}
.THIS label { z-index: 2;  position: absolute;  top: 0;  left: 258px;  background-color: blue; -moz-transition: left 0.5s ease; transition: left 0.5s ease;}
.THIS .main-wrap{position: relative; width: 100%; min-height: 620px;}
.THIS ::-ms-clear{opacity:0 !important;}
.THIS ::-webkit-scrollbar{width:5px;}
.THIS ::-webkit-scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
.THIS ::-webkit-scrollbar-thumb{background-color:#ccc;}
.THIS ::-webkit-scrollbar-thumb:hover{background-color:#aaa;}
.THIS .progressPath{min-width:100% !important;}
.THIS{
     min-height: 45px !important;    margin-top: 15px !important;
}
@media screen and (max-width: 1400px) and (min-width: 768px) {.THIS .horizontalscrolltable{overflow-x: auto !important;} }

.THIS .completedstage{ background-color : #d5d4c0 !important; }
.THIS .completedstage + .currentstage:before{ background-color : #d5d4c0 !important;  }
.THIS .completedstage:before{ background-color : #d5d4c0 !important;  }
.THIS .completedstage .slds-tabs--path__link{ color : t(colorTextButtonBrand) !important; }

.THIS .currentstage{ background-color : t(colorBackgroundButtonBrandActive) !important;   }
.THIS .currentstage + .remainingstage:before{ background-color : t(colorBackgroundButtonBrandActive) !important;  }

.THIS .errorcls, .THIS .errorcls2{color: white;  background: #ff8383; display: inline-block;  width: 100%;  height: auto;   text-align: center;   margin-bottom: 6px;}
.THIS .bordercls{background: #06abc9; color: #fff; font-size: 1.2em; font-weight: bold;}
.THIS .accInfo { background-color: #00A0Be !important; color: white; font-size: 15px;  height:auto;}
.THIS .accInfo .fa-search {font-size: 18px; padding: 8px; background-color: #06abc9; border-radius: 5px; color: #fff; vertical-align: middle;}
.THIS .greybg{background: #a8a8a8; font-size: 1.2em; color: #fff; }
.THIS .filter {width: 17% !important;}
.THIS .filter input[type=text] {width: 75%;}
.THIS .left-panel{border-right: 1px solid #D5D5D6; min-height: 640px; overflow: hidden;}
.THIS .fa-caret-right:before {content: "\f0da";}
.THIS #accordion {height:526px;}
.THIS .moveSearch {position: absolute; background-color: #06abc9; color: #ffffff; padding: 40px 3px; font-size: 15px; margin-top: 200px;}
.THIS .mainContent {width: 83% !important;}
.THIS .checkbox1{opacity:0;}
.THIS .favnavrow{border-bottom: 1px solid #ccc;}
.THIS .records{width: 77%; font-size: 13px;}
.THIS .addprdt {font-size: 23px; color: #8BC34A;}
.THIS .donotaddprdRed {font-size: 23px; color: #C33535;}
.THIS .removeprdt {font-size: 23px; color: #000000;}
.THIS .addiconsize{font-size: 23px;}
.THIS #favnav{height : 559px !important; overflow-y: auto; overflow-x: hidden;}
.THIS .favnavrow label{position: inherit !important; cursor:pointer; background:none !important; z-index: 0 !important;}
.THIS .OrdRev label{position: inherit !important; cursor:pointer; background:none !important; z-index: 0 !important; left:0 !important;}
.THIS .OrdRev {width:98%; table-layout: fixed;}
.THIS .sidenav{height : 559px !important;}
.THIS .sidebar {width: 260px;    position: absolute; top: 0;  left: 0; bottom: 0;}
.THIS .contentarea {background:#fff; position: absolute; top: 0; left: 260px; right: 0; bottom: 0; -moz-transition: left 0.5s ease;  transition: left 0.5s ease; min-height: 639px;}
.THIS input[type=checkbox] { display: none;}
.THIS input:checked ~ .contentarea { left: 0;}
.THIS input:checked ~ label { left: 0;}
.THIS label { z-index: 2;  position: absolute;  top: 0;  left: 258px;  background-color: blue; -moz-transition: left 0.5s ease; transition: left 0.5s ease;}
.THIS .main-wrap{position: relative; width: 100%; min-height: 620px;}
.THIS ::-ms-clear{opacity:0 !important;}
.THIS ::-webkit-scrollbar{width:5px;}
.THIS ::-webkit-scrollbar-track{background-color:#eaeaea;border-left:1px solid #ccc;}
.THIS ::-webkit-scrollbar-thumb{background-color:#ccc;}
.THIS ::-webkit-scrollbar-thumb:hover{background-color:#aaa;}
.THIS .progressPath{min-width:100% !important;}
.THIS{
     min-height: 45px !important;    margin-top: 15px !important;
}
@media screen and (max-width: 1400px) and (min-width: 768px) {.THIS .horizontalscrolltable{overflow-x: auto !important;} }
@media only screen and (max-width: 414px) {
	.THIS .cmpltLblPrgPth{
        display: none !important;
    }
}